<div>


  <form  *ngIf="!editMode" [(formGroup)]="addTaxForm" (ngSubmit)="addTax()">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <h6>اسم الشركة</h6>
          <div class="d-flex">
            <input (keyup)="logValue($event,'companyName')" type="text" class="form-control"
              formControlName="companyName" placeholder="اسم الشركة" />
            <span class="mandatory">*</span>
          </div>

          <span *ngIf="!addTaxForm.get('companyName').valid && addTaxForm.get('companyName').touched">
            أدخل اسم الشركة
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">

        <div class="form-group">
          <h6>عنوان الشركة</h6>
          <div class="d-flex">
            <input (keyup)="logValue($event,'address')" type="text" class="form-control" formControlName="address"
              placeholder="عنوان الشركة" />
            <span class="mandatory">*</span>
          </div>

          <span *ngIf="!addTaxForm.get('address').valid && addTaxForm.get('address').touched">
            أدخل عنوان الشركة
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">

        <div class="form-group">
          <h6>الرقم الضريبى</h6>
          <div class="d-flex">
            <input type="number" class="form-control" formControlName="taxNumber" pattern="[0-9]*"
              (keypress)="preventNonNumericalInput($event)" />
            <span class="mandatory">*</span>
          </div>

          <span *ngIf="!addTaxForm.get('taxNumber').valid && addTaxForm.get('taxNumber').touched">
            أدخل الرقم الضريبى
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">

        <div class="form-group">
          <h6>نسبة الضريبة</h6>
          <div class="d-flex">
            <input type="number" class="form-control" formControlName="taxValue" pattern="[0-9]*"
              (keypress)="preventNonNumericalInput($event)" />
            <span class="mandatory">*</span>
          </div>

          <span *ngIf="!addTaxForm.get('taxValue').valid && addTaxForm.get('taxValue').touched">
            أدخل نسبة الضريبة
          </span>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-12 text-center">
        <button [disabled]="!addTaxForm.valid" type="submit"
        class="btn btn-success generalBtnStyle mw150">أضف
      </button>
      </div>
   
    </div>







  </form>



  <form  *ngIf="editMode" [(formGroup)]="editTaxForm" (ngSubmit)="editTax()">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <h6>اسم الشركة</h6>
          <div class="d-flex">
            <input (keyup)="logValue($event,'companyName')" type="text" class="form-control"
              formControlName="companyName" placeholder="اسم الشركة" />
            <span class="mandatory">*</span>
          </div>

          <span *ngIf="!editTaxForm.get('companyName').valid && editTaxForm.get('companyName').touched">
            أدخل اسم الشركة
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">

        <div class="form-group">
          <h6>عنوان الشركة</h6>
          <div class="d-flex">
            <input (keyup)="logValue($event,'address')" type="text" class="form-control" formControlName="address"
              placeholder="عنوان الشركة" />
            <span class="mandatory">*</span>
          </div>

          <span *ngIf="!editTaxForm.get('address').valid && editTaxForm.get('address').touched">
            أدخل عنوان الشركة
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">

        <div class="form-group">
          <h6>الرقم الضريبى</h6>
          <div class="d-flex">
            <input type="number" class="form-control" formControlName="taxNumber" pattern="[0-9]*"
              (keypress)="preventNonNumericalInput($event)" />
            <span class="mandatory">*</span>
          </div>

          <span *ngIf="!editTaxForm.get('taxNumber').valid && editTaxForm.get('taxNumber').touched">
            أدخل الرقم الضريبى
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">

        <div class="form-group">
          <h6>نسبة الضريبة</h6>
          <div class="d-flex">
            <input type="number" class="form-control" formControlName="taxValue" pattern="[0-9]*"
              (keypress)="preventNonNumericalInput($event)" />
            <span class="mandatory">*</span>
          </div>

          <span *ngIf="!editTaxForm.get('taxValue').valid && editTaxForm.get('taxValue').touched">
            أدخل نسبة الضريبة
          </span>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-12 text-center">
        <button [disabled]="!editTaxForm.valid" type="submit"
        class="btn btn-success generalBtnStyle mw150">حفظ التعديلات
      </button>
      </div>
   
    </div>







  </form>
<!-- 
   <table class="table table-bordered" style="margin-top: 20px;">


    <thead>
      <tr>
        <th scope="col">اسم الشركة</th>
        <th scope="col">عنوان الشركة</th>
        <th scope="col">الرقم الضريبى</th>
        <th scope="col">قيمة الضريبة</th>
        <th scope="col">تاريخ الإضافة</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tax of allTax">
        <td>{{tax?.companyName}}</td>
        <td>{{tax?.address}}</td>
        <td>{{tax?.taxNumber}}</td>
        <td>{{tax?.taxValue}}</td>
        <td>{{tax?.createdAt | date}}</td>
        



      </tr>



    </tbody>
  </table> -->
  <!--
  <div *ngIf="showEditSuccess" class="modal2 custom-modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">تعديل الاسعار</h5>
          <button (click)="closeSuccessDlg()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>تم تعديل الاسعار بنجاح</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showEditFail" class="modal2 custom-modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">تعديل الاسعار</h5>
          <button (click)="closeFailDlg()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>خطأ أثناء تعديل الاسعار</p>
        </div>
      </div>
    </div>
  </div> -->





  <div *ngIf="showLoader" class="loader loaderMaster">
    <div class="cssload-container">
      <div class="cssload-speeding-wheel"></div>
    </div>
  </div>
</div>
