<app-header></app-header>
<!-- <p>confirm-reset-password for user === {{userTypeInUrl}}</p>
<p>confirm-reset-password for mail === {{mailInUrl}}</p> -->
<div class="container">


  <div *ngIf="showResetPasswordMessage" class="modal2 custom-modal" role="dialog"> 
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">تعديل كلمة المرور</h5>
          <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>تم تعديل كلمة المرور بنجاح</p>
        </div>
      </div>
    </div> 
  </div>
  <div *ngIf="showResetPasswordMessageFail" class="modal2 custom-modal" role="dialog"> 
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">تعديل كلمة المرور</h5>
          <button (click)="closeDialogfail()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>حدث خطأ أثناء تعديل كلمة المرور يرجى اعادة المحاولة</p>
        </div>
      </div>
    </div> 
  </div>
  <form class="col-lg-6 col-md-6 col-sm-12 col-12 mt20 " (keydown.enter)="$event.preventDefault()" [(formGroup)]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <label>كلمة المرور الجديدة</label>
      <input type="password" class="form-control" formControlName="newPassword" />
    </div>
    <div class="form-group">
      <label>تأكيد كلمة المرور الجديدة</label>
      <input type="password" class="form-control" formControlName="reNewPassword" />
      <span *ngIf="showPasswordMatchError" class="gray reg-font red">تأكيد كلمة المرور غير مطابق لكلمة المرور</span>
    </div>
    <div class="form-group">
      <button [disabled]="!resetPasswordForm.valid" type="submit" class="btn btn-success">حفظ التعديلات</button>
    </div>
  </form>
</div>
<app-footer-inner></app-footer-inner>
<div *ngIf="showLoader" class="loader loaderMaster">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
  </div>
</div>