<div class="container" *ngIf="!projectDataNotExist">


  <!-- <h1>selected project {{selectedProject|json}}</h1>    -->
  <div id="exportContent" style="display: none;">
    <!-- Your content to export here -->
    <div style="text-align: center;">
      <!-- <h1 style="color:#247D8F;text-align: center">{{selectedProject.projectTitle}}</h1> -->
    </div>
    <!-- <h3>{{selectedProject.document}}</h3> -->
    {{projectDocument}}
  </div>

  <div *ngIf="loggedUserType=='admin'" style="margin:15px">
    <h6 *ngIf="loggedUserType=='admin'">
   اسم العميل : 
   <a style="cursor: pointer;" (click)="previewProfileData(selectedProject.clientId)">{{selectedProject?.firstName}} {{selectedProject?.lastName}}</a>
 </h6>
 <h6 *ngIf="loggedUserType=='admin'">
   اسم الكاتب : 
   <a style="cursor: pointer;" (click)="previewProfileData(selectedProject.partnerId)">{{partnerName}}</a>
 </h6>
 </div> 
  <!-- <div *ngIf="loggedUserType=='admin'" style="margin:15px">
     <h6 *ngIf="loggedUserType=='admin'">
    اسم العميل : 
    <a style="cursor: pointer;" (click)="showUserDataDialog(selectedProject.clientId)">{{selectedProject?.firstName}} {{selectedProject?.lastName}}</a>
  </h6>
  <h6 *ngIf="loggedUserType=='admin'">
    اسم الكاتب : 
    <a style="cursor: pointer;" (click)="showUserDataDialog(selectedProject.partnerId)">{{partnerName}}</a>
  </h6>
  </div> -->
 
  <div class="project-item mt30">
    <div class="card-body">
      <h6 class="mobile-link">{{projectTitle}}</h6>
      <div *ngIf="selectedProject?.status=='active' || selectedProject?.status=='prePayment' " class="custom-stepper">

        <div *ngIf="selectedProject?.status=='prePayment'" class="custom-stepper signupintro p10 mobile-stepper">
          <div class="container">
            <div class="step-item d-flex">
              <span class="step-count mb0">1</span>
              <div class="step-title">معلقة</div>

            </div>

          </div>
        </div>
        <div *ngIf="selectedProject?.status=='active'" class="custom-stepper signupintro p10 mobile-stepper">
          <div class="container">
            <div class="step-item d-flex">
              <span class="step-count mb0">2</span>
              <div class="step-title"> نشطة </div>

            </div>

          </div>
        </div>
        <div class="rpp-stepper lastStepper desktop-stepper">

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>

          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link" (click)="logStepValue('active')">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>

        </div>
        <div class="openDetails" *ngIf="isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            اعرض تفاصيل المشروع
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>

        </div>
        <div class="openDetails" *ngIf="!isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            إخفاء تفاصيل المشروع
            <fa-icon [icon]="faChevronUp"></fa-icon>
          </button>

        </div>
      </div>



      <div *ngIf="selectedProject?.status=='pending'" class="custom-stepper">
        <div *ngIf="loggedUserType=='client'" class="custom-stepper signupintro p10 mobile-stepper">
          <div class="container">
            <div class="step-item d-flex">
              <span class="step-count mb0">3</span>
              <div class="step-title"> عروض الكتاب </div>

            </div>

          </div>
        </div>
        <div *ngIf="loggedUserType=='partner'" class="custom-stepper signupintro p10 mobile-stepper">
          <div class="container">
            <div class="step-item d-flex">
              <span class="step-count mb0">3</span>
              <div class="step-title"> موافقة العميل </div>

            </div>

          </div>
        </div>
        <div class="rpp-stepper lastStepper desktop-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a *ngIf="loggedUserType =='partner'" class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <a *ngIf="loggedUserType =='client'" class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div style="cursor: pointer;" class="step-title-custom" (click)="logStepValue('pending')">قبول الكاتب
              </div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>
        <div class="openDetails" *ngIf="isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            اعرض تفاصيل المشروع
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>

        </div>
        <div class="openDetails" *ngIf="!isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            إخفاء تفاصيل المشروع
            <fa-icon [icon]="faChevronUp"></fa-icon>
          </button>

        </div>
      </div>


      <div *ngIf="selectedProject?.status=='inprogress'" class="custom-stepper">
        <div class="rpp-stepper desktop-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>
        <div class="custom-stepper signupintro mobile-stepper p10">
          <div class="container">
            <div class="step-item d-flex">
              <span class="step-count mb0">4</span>
              <div class="step-title"> قيد التنفيذ </div>

            </div>

          </div>
        </div>
        <div class="openDetails" *ngIf="isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            اعرض تفاصيل المشروع
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>

        </div>
        <div class="openDetails" *ngIf="!isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            إخفاء تفاصيل المشروع
            <fa-icon [icon]="faChevronUp"></fa-icon>
          </button>

        </div>

        <!-- <div class="text-center" *ngIf="loggedUserType =='partner'"> -->

          <!-- <div class="reg-font">
            <button style="margin: 20px 0;" (click)="deliverProjectForClient()" type="button"
              class="btn btn-success auto-width-btn">
              تسليم المشروع
            </button>

          </div> -->
        <!-- </div> -->
      </div>


      <div *ngIf="selectedProject?.status=='rejected'" class="custom-stepper">
        <div class="rpp-stepper desktop-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>
        <div class="custom-stepper signupintro mobile-stepper p10">
          <div class="container">
            <div class="step-item d-flex">
              <span class="step-count mb0">5</span>
              <div class="step-title"> مرفوضة </div>

            </div>

          </div>
        </div>
        <div class="openDetails" *ngIf="isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            اعرض تفاصيل المشروع
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>

        </div>
        <div class="openDetails" *ngIf="!isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            إخفاء تفاصيل المشروع
            <fa-icon [icon]="faChevronUp"></fa-icon>
          </button>

        </div>
        <!-- 
        <div class="text-center" *ngIf="loggedUserType =='partner'">

          <div class="reg-font">
            <button style="margin: 20px 0;" (click)="deliverProjectForClient()" type="button"
              class="btn btn-success auto-width-btn">
              تسليم المشروع
            </button>

          </div>
        </div> -->
      </div>

      <div *ngIf="selectedProject?.status=='reviewing' && selectedProject?.partnerId!='null' && loggedUserType =='client'"
        class="custom-stepper ">
        <div class="rpp-stepper desktop-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>
        <div class="custom-stepper signupintro mobile-stepper p10">
          <div class="container">
            <div class="step-item d-flex">
              <span class="step-count mb0">6</span>
              <div class="step-title"> بانتظار الاعتماد </div>

            </div>

          </div>
        </div>
        <div class="openDetails" *ngIf="isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            اعرض تفاصيل المشروع
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>

        </div>
        <div class="openDetails" *ngIf="!isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            إخفاء تفاصيل المشروع
            <fa-icon [icon]="faChevronUp"></fa-icon>
          </button>

        </div>

        <!-- <div class="text-center">

          <div class="reg-font">
            <button style="margin: 20px 0;" (click)="showReviewBox()" type="button"
              class="btn btn-success auto-width-btn">
              مراجعة المشروع
            </button>
            


          </div>
        </div> -->
      </div>
      <div *ngIf="selectedProject?.status=='completed' && selectedProject?.partnerId!='null'" class="custom-stepper">
        <div class="rpp-stepper desktop-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>
        <div class="custom-stepper signupintro mobile-stepper p10">
          <div class="container">
            <div class="step-item d-flex">
              <span class="step-count mb0">7</span>
              <div class="step-title"> مكتملة </div>

            </div>

          </div>
        </div>
        <div class="openDetails" *ngIf="isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            اعرض تفاصيل المشروع
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>

        </div>
        <div class="openDetails" *ngIf="!isCollapsed">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            إخفاء تفاصيل المشروع
            <fa-icon [icon]="faChevronUp"></fa-icon>
          </button>

        </div>

      </div>



      <div
        *ngIf="selectedProject?.status=='reviewing' && selectedProject?.partnerId!='null' && loggedUserType =='partner'"
        class="custom-stepper desktop-stepper">
        <div class="rpp-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>
        <div class="openDetails">
          <button type="button" class="btn btn-outline-primary no-border-btn no-bg-btn"
            (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            اعرض تفاصيل المشروع
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>

        </div>

        <!-- <div class="text-center" *ngIf="loggedUserType =='partner'">

          <div class="reg-font">
            <button style="margin: 20px 0;" (click)="deliverProjectForClient()" type="button" class="btn btn-success auto-width-btn">
              تسليم المشروع 
            </button>

          </div>
        </div> -->
      </div>

    </div>
  </div>


  <div [ngbCollapse]="isCollapsed">




    <div class="card project-item mt30">
      <div class="card-body">
        <div class="clearfix">
          <div class="owner-data float-right">
            <h5>{{selectedProject?.firstName}} {{selectedProject?.lastName}}</h5>
            <span class="gray reg-font font-13">{{selectedProject?.createdAt |date  }}</span>

          </div>
        </div>
        <h5 class="project-title">{{selectedProject?.projectTitle}}</h5>
        <h6>{{selectedProject?.briefProject}}</h6>
        <div class="d-flex  greenlight">
          <div class="d-flex ml100">
            <div class="project-icon ">
              <fa-icon [icon]="faFileAlt"></fa-icon>
            </div>

<div *ngIf="selectedProject?.jobType=='post'">
  <div  class="project-prop">
    <h6>عدد المنشورات</h6>
    <span>
    {{selectedProject?.quantity}}
    </span>
  </div>
</div>
<div *ngIf="selectedProject?.jobType=='article'">
  <div *ngIf="selectedProject?.quantity==1" class="project-prop">
    <h6>مشروع قصير</h6>
    <span>
      (600 كلمة)
    </span>
  </div>
  <div *ngIf="selectedProject?.quantity==2" class="project-prop">
    <h6>مشروع متوسط</h6>
    <span>
      (1200 كلمة)
    </span>
  </div>
  <div *ngIf="selectedProject?.quantity==3" class="project-prop">
    <h6>مشروع طويل</h6>
    <span>
      (2400 كلمة)
    </span>
  </div>


</div>
            


          </div>


          <div class="d-flex ml100">
            <div class="project-icon">
              <fa-icon [icon]="faHourglassHalf"></fa-icon>
            </div>
            <div *ngIf="selectedProject?.timePerDay==1" class="project-prop">
              <h6>مدة التنفيذ 24 ساعة</h6>
              <span>
                (يوم واحد)
              </span>
            </div>
            <div *ngIf="selectedProject?.timePerDay==2" class="project-prop">
              <h6>مدة التنفيذ 48 ساعة</h6>
              <span>
                (يومين)
              </span>
            </div>
            <div *ngIf="selectedProject?.timePerDay==3" class="project-prop">
              <h6>مدة التنفيذ 72 ساعة</h6>
              <span>
                (ثلاثة أيام)
              </span>
            </div>
            <div *ngIf="selectedProject?.timePerDay==null" class="project-prop">
              <h6>مدة التنفيذ غير محددة</h6>
              <span>
                (؟؟؟؟)
              </span>
            </div>

          </div>

          <div class="d-flex ml100">
            <div class="project-icon">
              <fa-icon [icon]="faMoneyBillWave"></fa-icon>
            </div>
            <div class="LI45">
              {{selectedProject?.totalCost}} ريال
            </div>
          </div>
        </div>

        <div *ngIf="selectedProject?.objectives" class="row-item">
          <h6>الهدف من المنشورات</h6>
          <p class="reg-font">{{selectedProject?.objectives}}</p>
        </div>
        <hr *ngIf="selectedProject?.objectives" />


        <div *ngIf="selectedProject?.typeOfLanguage" class="row-item">
          <h6>اللغة المفضلة للمنشورات</h6>
          <p class="reg-font">{{selectedProject?.typeOfLanguage}}</p>
        </div>
        <hr *ngIf="selectedProject?.typeOfLanguage" />


        <div *ngIf="selectedProject?.typeOfPosts" class="row-item">
          <h6>النوع المفضل للمنشورات</h6>
          <p class="reg-font">{{selectedProject?.typeOfPosts}}</p>
        </div>
        <hr *ngIf="selectedProject?.typeOfPosts" />

        <div *ngIf="selectedProject?.thingsToAvoid" class="row-item">
          <h6>ما هي الأشياء التي تريد أن يتجنبها الكاتب</h6>
          <p class="reg-font">{{selectedProject?.thingsToAvoid}}</p>
        </div>
        <hr *ngIf="selectedProject?.thingsToAvoid" />


        <div class="row-item">
          <h6>الكلمات المفتاحية</h6>
          <ul class="tags d-flex">
            <li class="tag-item" *ngFor="let tag of tags">{{tag}}</li>
          </ul>
        </div>
        <hr />
        <div class="row-item">
          <h6>أفكار تريد التركيز عليها</h6>
          <p>{{selectedProject?.projectIdea}}</p>
        </div>
        <hr />


        <div class="row-item">
          <h6>المصادر المقترحة</h6>
          <p class="reg-font">{{selectedProject?.resource}}</p>
        </div>
        <hr />
        <div class="row-item">
          <h6>الروابط</h6>
          <ul class="helpfulLinks ">
            <li class="helpfulLinkItem reg-font" *ngFor="let helpfulLink of helpfulLinks">{{helpfulLink}}</li>
          </ul>
        </div>


        <hr />
        <div *ngIf="allUploads?.length>0" class="row-item">
          <h6>المرفقات</h6>
          <a *ngFor="let upload of allUploads" class=" m5" [href]="upload?.webDownloadLink">
            <fa-icon *ngIf="upload?.type=='application/pdf'" class="downloadIcon pdf-ico" [icon]="faFilePdf"></fa-icon>
            <fa-icon *ngIf="upload?.type=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" class="downloadIcon excel-ico" [icon]="faFileExcel"></fa-icon>
            <fa-icon *ngIf="upload?.type=='image/jpeg' || upload?.type== 'image/jpg' || upload?.type== 'image/png'"  class="downloadIcon" [icon]="faFileImage"></fa-icon>
            
            <fa-icon *ngIf="upload?.type=='application/vnd.openxmlformats-officedocument.wordprocessingml.document'" class="downloadIcon word-ico" [icon]="faFileWord"></fa-icon>
            {{upload?.name}}
          
          </a>
        </div>

      </div>
    </div>







 


 
    <!-- rating section -->

    <div class="project-item"
      *ngIf="selectedProject?.status=='completed' && selectedProject?.partnerId!='null' && loggedUserType =='client'">
      <div class="card-body">
        <h6 class="project-title">التقييم</h6>
        <div class="rating-block">
          <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="addRatingForPartnerForm"
            (ngSubmit)="addRateForPartner()">
            <ngb-rating max="5" formControlName="rate" [(rate)]="currentRate"></ngb-rating>
            <hr>
            <pre>Rate: <b>{{currentRate}}</b></pre>
            <textarea formControlName="comment" class="form-control" placeholder="اكتب تقييمك وملاحظاتك "></textarea>
            <div>
              <span class="error-help"
                *ngIf="!addRatingForPartnerForm.get('comment').valid && addRatingForPartnerForm.get('comment').touched">
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
                ادخل عبارة التقييم
              </span>
            </div>
            <span class="rating-title">قم بتقييم الكاتب حتى تشارك خبرتك مع العملاء الاخرين في المستقبل</span>
            <div><button [disabled]="!addRatingForPartnerForm.valid" type="submit"
                class="btn btn-success app-button">اضف تقييم</button></div>
          </form>
        </div>
      </div>
    </div>
    <div class="project-item"
      *ngIf="selectedProject?.status=='completed' && selectedProject?.partnerId!='null' && loggedUserType =='partner'">
      <div class="card-body">
        <h6 class="project-title">التقييم</h6>
        <div class="rating-block">
          <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="addRatingForClientForm"
            (ngSubmit)="addRateForClient()">
            <ngb-rating max="5" formControlName="rate" [(rate)]="currentRate"></ngb-rating>
            <hr>
            <pre>Rate: <b>{{currentRate}}</b></pre>
            <textarea formControlName="comment" class="form-control" placeholder="اكتب تقييمك وملاحظاتك "></textarea>
            <div>
              <span class="error-help"
                *ngIf="!addRatingForClientForm.get('comment').valid && addRatingForClientForm.get('comment').touched">
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
                ادخل عبارة التقييم
              </span>
            </div>
            <span class="rating-title">قم بتقييم العميل حتى تشارك خبرتك مع الكتاب الاخرين في المستقبل </span>
            <div><button [disabled]="!addRatingForClientForm.valid" type="submit" class="btn btn-success app-button">اضف
                تقييم</button></div>
          </form>
        </div>
      </div>
    </div>

 
    <div *ngIf="showRateFail" class="modal2 custom-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">التقييم</h5>
            <button (click)="closeRateFailDlg()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>حدث خطأ! يُرجى إعادة التقييم</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showRateSuccess" class="modal2 custom-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">التقييم</h5>
            <button (click)="closeRateSuccessDlg()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>شكرا للتقييم</p>
          </div>
        </div>
      </div>
    </div>

    <!-- partnerId  *ngIf="showApplyBoxFail" -->

    <!-- <div *ngIf="showApplyBoxSuccess" class="project-item">
    <div class="card-body">
      <h6>يوجد كاتب متقدم لمشروعك</h6>
      <h6>
       
          {{partnerName}}
       
      </h6>
      
    </div>
  </div> -->








  </div>
  <!-- colapsed part end -->




  <div
    *ngIf="allPurposals?.length>0 && selectedProject?.status =='active' || selectedProject?.status =='pending'"
    class="project-item">
    <!-- <h1>{{allPurposals | json}}</h1> -->
    <div class="card-body">
      <h6 class="project-title">عروض الكتاب  <span class="gray">({{allPurposals?.length}})</span></h6>
      <div class="purposals-container">
        <div class="purposal-main-item" *ngFor="let purposal of allPurposals">
          <div class="purposal-item d-flex mobile-block-flex justify-content-around">
            <div>
              <h6 class="m0">{{purposal?.firstName}} {{purposal?.lastName}}</h6>
              <ngb-rating max="5" [readonly]="true" [rate]="math.round(purposal?.ratingAverage)"></ngb-rating>
            </div>
            <div class="completed-jobs d-flex mobile-block-flex">
              <h6>المشاريع المكتملة</h6>
              <span class="master-color mr10">{{purposal?.numOfCompletedJobs}}</span>
            </div>
            <div class="rejected-jobs d-flex mobile-block-flex">
              <h6>المشاريع المرفوضة</h6>
              <span class="danger-color mr10">{{purposal?.numOfRejectedJobs}}</span>
            </div>

          </div>

        </div>
        <!-- <hr> -->
      </div>
    </div>


  </div>


  <div *ngIf="allPurposals?.length==0 && selectedProject?.status =='active'"
    class="project-item">
    <div class="card-body">
      <h6 class="project-title">عروض الكتاب  <span class="gray">(0)</span></h6>
      <div class="purposals-container no-purposals text-center">
        <img src="../../../assets/images/zero.svg" />
        <h6>لا يوجد عروض حتى الآن</h6>
        <p class="reg-font little-gray">جاري البحث عن كاتب مناسب </p>
      </div>
    </div>
  </div>




  <div *ngIf="selectedProject?.status =='pending' && selectedProject?.partnerId!=null && loggedUserType =='client'"
  class="project-item">
  <div class="card-body">
    <h6>يوجد كاتب متقدم لمشروعك</h6>
    <h6>
      <!-- (click)="showProjectPartnerMessage='true'" -->
      {{partnerName}}
      <!-- <fa-icon class="profile-navigator" [icon]="faAddressCard"></fa-icon> -->

    </h6>

  </div>
</div>
<div *ngIf="selectedProject?.status =='pending' && selectedProject?.partnerId!=null && loggedUserType =='client'">
  <div>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">بيانات الكاتب</h5>

      </div>
      <div class="modal-body text-right">
        <h6>
          <fa-icon class="ml5 writerIcon" [icon]="faUserAlt"></fa-icon> {{partnerDialogObject?.firstName}}
          {{partnerDialogObject?.lastName}}
        </h6>
        <!-- <h6><fa-icon class="ml5 writerIcon"   [icon]="faEnvelope"></fa-icon> {{partnerDialogObject.email}}</h6> -->
        <!-- <h6><fa-icon class="ml5 writerIcon"   [icon]="faMobileAlt"></fa-icon> {{partnerDialogObject.mobileNumber}}</h6> -->
        <h6>
          <fa-icon class="ml5 writerIcon" [icon]="faFolderOpen"></fa-icon> عدد المشاريع المكتملة <span
            class="jobCount green">{{partnerNumOfCompletedJobs}}</span>
        </h6>
        <h6>
          <fa-icon class="ml5 writerIcon" [icon]="faFolderOpen"></fa-icon> عدد المشاريع المرفوضة <span
            class="jobCount red">{{partnerNumOfRejectedJobs}}</span>
        </h6>
        <div class="text-center">
          <ngb-rating max="5" [readonly]="true" [rate]="partnerRatingAverage"></ngb-rating>
        </div>

        <!-- <h6><fa-icon class="ml5 writerIcon"   [icon]="faEnvelope"></fa-icon> {{partnerRatingAverage}}</h6> -->

        <!-- <h6><fa-icon class="ml5 writerIcon"   [icon]="faFlag"></fa-icon> {{partnerDialogObject.country}}</h6>
      <h6><fa-icon  class="ml5 writerIcon"  [icon]="faVenusMars"></fa-icon> {{partnerDialogObject.gender}}</h6> -->

      </div>
    </div>
  </div>
</div>



    <!-- *ngIf="showApplyBoxSuccess" -->
    <div *ngIf="selectedProject?.status =='pending' && selectedProject?.partnerId!=null && loggedUserType =='client'"
      class="project-item">
      <div class="card-body">
        <h6 class="project-title mb0">هل توافق على الكاتب للبدء في مشروعك؟</h6>
        <h6 class="reg-font mb20">بموافقك على الكاتب سوف يبدأ في العمل مباشرة على المشروع الخاص بك</h6>
        <div class="d-flex">
          <button (click)="acceptPartner()" type="button" class="btn btn-success auto-width-btn ml20">نعم, أوافق على
            الكاتب</button>
          <button (click)="showReject()" type="button" class="btn btn-success auto-width-btn nobg-btn">لا, أرفض
            الكاتب</button>
        </div>

        <div *ngIf="showRejectForm" class="rejectReasonBlock col-lg-6 col-md-6 col-12">
          <h6 style="margin: 20px 0;">من فضلك اكتب سبب رفضك للكاتب</h6>
          <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="rejectJobForm" (ngSubmit)="rejectPartner()">
            <textarea style="margin-bottom: 20px;" placeholder="اكتب أسباب رفضك هنا" class="form-control"
              formControlName="rejectionReason"></textarea>
            <div class="reg-font red"
              *ngIf="!rejectJobForm.get('rejectionReason').valid && rejectJobForm.get('rejectionReason').touched ">من
              فضلك
              ادخل سبب الرفض</div>
            <button [disabled]="!rejectJobForm.valid" type="submit" class="btn btn-success auto-width-btn ml20">تأكيد
              رفض
              الكاتب</button>
          </form>
        </div>
      </div>
    </div>
  <div *ngIf="selectedProject?.status =='pending' && selectedProject?.partnerId==null" class="project-item">
    <div class="card-body">
      <h6>لا يوجد كاتب بعد</h6>
      <p>انتظر حتى يتقدم لمشروع أفضل الكتاب</p>
    </div>
  </div>


  <div *ngIf="selectedProject?.status=='inprogress' && selectedProject?.partnerId!='null' && loggedUserType =='client'"
  class="card project-item">
  <div class="card-body">
    <!-- <p>من فضلك يا {{selectedProject.firstName}} {{selectedProject.lastName}} طلبك الآن قيد التنفيذ وسيصلك إشعار عند تسليمه</p> -->
    <p> طلبك الآن قيد التنفيذ وسيصلك إشعار عند تسليمه</p>
  </div>
</div>
<div *ngIf="selectedProject?.status=='rejected' && selectedProject?.partnerId!='null' && loggedUserType =='client'"
  class="card project-item">
  <div class="card-body">
    <p> طلبك الآن قيد التنفيذ وسيصلك إشعار عند تسليمه</p>
  </div>
</div>

<div *ngIf="selectedProject?.status=='inprogress' && selectedProject?.partnerId!='null' && loggedUserType =='partner'"
  class="card project-item">
  <div class="card-body">
    <h6 class="blue">هل انتهيت من عملك وتريد ارسل نسخة نهائية للمراجعة؟</h6>
    <p>ارسل نسخة نهائية للعميل للمراجعة في حالة انتهائك من تنفيذ المشروع (في مرحلة المراجعة يقبل العميل المشروع أو
      يرسل تعديلات)</p>
    <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="deliverJobForm" (ngSubmit)="deliverJob()">

      <quill-editor placeholder="أدخل المحتوى ..." formControlName="document" [styles]="{height: '200px'}"></quill-editor>
      <!-- <pre><code>{{ deliverJobForm.get("document").value }}</code></pre>  -->

      <!-- <textarea formControlName="document" class="form-control mh200" placeholder="محتوى المشروع"></textarea> -->
      <!-- <div class="calculations d-flex reg-font">
      <span>الحروف: 0</span>
    </div> -->
      <button style="margin-top: 20px;" type="submit" class="btn btn-success auto-width-btn">إرسال المشروع
        للمراجعة</button>
    </form>
  </div>
</div>
<div *ngIf="selectedProject?.status=='rejected' && selectedProject?.partnerId!='null' && loggedUserType =='partner'"
  class="card project-item">
  <div class="card-body">
    <h6 class="blue">هل انتهيت من عملك وتريد ارسل نسخة نهائية للمراجعة؟</h6>
    <p>ارسل نسخة نهائية للعميل للمراجعة في حالة انتهائك من تنفيذ المشروع (في مرحلة المراجعة يقبل العميل المشروع أو
      يرسل تعديلات)</p>
    <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="deliverJobForm" (ngSubmit)="deliverJob()">
      <!-- <textarea formControlName="document" class="form-control mh200" placeholder="محتوى المشروع"></textarea> -->
      <!-- <div class="calculations d-flex reg-font">
      <span>الحروف: 0</span>
    </div> -->
      <div *ngIf="loggedUserType=='partner'">
        <quill-editor placeholder="أدخل المحتوى ..." formControlName="document" [styles]="{height: '200px'}"></quill-editor>
      </div>

      <div class="clientEditor" *ngIf="loggedUserType=='client'">
        <quill-editor readOnly="true" [(ngModel)]="selectedProject.document" [styles]="{height: '200px'}">
        </quill-editor>
      </div>
      <button style="margin-top: 20px;" type="submit" class="btn btn-success auto-width-btn">إرسال المشروع
        للمراجعة</button>
    </form>
  </div>
</div>
<div *ngIf="deliverJobSuccess" class="project-item">
  <div class="card-body">
    <p>تم تسليم المشروع للمراجعة</p>
  </div>
</div>
<div *ngIf="selectedProject?.status=='reviewing' && loggedUserType =='client'" class="project-item">
  <div class="card-body">
    <h6 class="project-title ">مرحلة مراجعة المشروع</h6>
    <h6 class="reg-font mb20">هل لديك تعديلات؟ بقبولك المشروع بعد المراجعة سوف ينتهي المشروع ويتم تحويل المبلغ لرصيد
      الكاتب</h6>
    <div class="d-flex">
      <button (click)="completeProject()" type="button" class="btn btn-success auto-width-btn ml20">قبول المشروع
        والدفع
      </button>
      <button *ngIf="selectedProject?.numberOfRejection==0" (click)="rejectProject()" type="button"
        class="btn btn-success auto-width-btn nobg-btn">طلب تعديلات
      </button>
      <button *ngIf="selectedProject?.numberOfRejection==1 ||selectedProject?.numberOfRejection==2 "
        (click)="rejectProject()" type="button" class="btn btn-success auto-width-btn nobg-btn">رفض نهائي
      </button>
    </div>

    <div *ngIf="showRejectForm" class="rejectReasonBlock col-lg-6 col-md-6 col-12">
      <h6 style="margin: 20px 0;">من فضلك اكتب سبب رفضك للكاتب</h6>
      <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="rejectJobForm" (ngSubmit)="rejectPartner()">
        <textarea style="margin-bottom: 20px;" placeholder="اكتب أسباب رفضك هنا" class="form-control"
          formControlName="rejectionReason"></textarea>
        <button type="submit" class="btn btn-success auto-width-btn ml20">تأكيد رفض الكاتب</button>
      </form>
    </div>

    <div *ngIf="showRequetsEditsForm" class="rejectReasonBlock col-lg-6 col-md-6 col-12">
      <h6 style="margin: 20px 0;">من فضلك اكتب سبب رفضك للمشروع وطلب التعديلات</h6>
      <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="rejectEditingProjectForm"
        (ngSubmit)="rejectEditPartner()">
        <textarea style="margin-bottom: 20px;" placeholder="اكتب أسباب رفضك وطلب تعديلات" class="form-control"
          formControlName="rejectionReason"></textarea>
        <button type="submit" class="btn btn-success auto-width-btn ml20">تأكيد رفض التسليم </button>
      </form>
    </div>
  </div>
</div>
  <div
    *ngIf="selectedProject?.status=='reviewing' ||selectedProject?.status=='completed' && selectedProject?.partnerId!='null'"
    class="project-item">
    <!-- <textarea disabled style="min-height: 200px;" class="form-control">{{selectedProject.document}}</textarea> -->
    <div *ngIf="loggedUserType=='partner'">
      <quill-editor placeholder="أدخل المحتوى ..." [(ngModel)]="selectedProject.document" [styles]="{height: '200px'}"></quill-editor>
    </div>

    <div class="clientEditor" *ngIf="loggedUserType=='client'">
      <quill-editor readOnly="true" [(ngModel)]="selectedProject.document" [styles]="{height: '200px'}"></quill-editor>
    </div>
  </div>


  <button class="btn btn-success auto-width-btn export-btn"
    *ngIf="selectedProject?.status=='reviewing' ||selectedProject?.status=='completed'"
    (click)="Export2Doc('exportContent', selectedProject.projectTitle)">
    <fa-icon class="ml5" [icon]="faFileDownload"></fa-icon>تحميل النص
  </button>
<!-- <div class="text-right" style="margin: 20px 0;">
  <button (click)="openCancelJobDLG()" class="btn btn-success auto-width-btn export-btn"
  *ngIf="selectedProject?.ableToCancel==true && loggedUserType =='client'">
الغاء المشروع
</button>
</div> -->

<!-- <div class="text-right" style="margin: 20px 0;">
  <button (click)="openWithDrawDialog()" class="btn btn-success auto-width-btn export-btn"
  *ngIf="selectedProject?.status!='completed' && loggedUserType =='partner'">
الغاء العمل على المشروع
</button>
</div> -->

  <!-- comments section -->
  <!-- selectedProject.status=='reviewing' && -->
  <div class="project-item"  *ngIf="selectedProject?.partnerId!='null' && selectedProject?.status=='inprogress' || selectedProject?.status=='completed' || selectedProject?.status=='reviewing' || selectedProject?.status=='rejected'">
    <div class="card-body">
      <h6 class="project-title"
       >
        <fa-icon class="ml5" [icon]="faEnvelope"></fa-icon>الرسائل
      </h6>
      <p *ngIf="selectedProject?.partnerId!='null' && selectedProject?.status=='inprogress' || selectedProject?.status=='reviewing' || selectedProject?.status=='rejected'"
        class="reg-font">
        تواصل مع الكاتب لمعرفة آخر المستجدات في المشروع</p>
      <div class="rating-block"
        *ngIf="selectedProject?.partnerId!='null' && selectedProject?.status=='inprogress' || selectedProject?.status=='reviewing' || selectedProject?.status=='rejected'">
        <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="clientAddCommentForm" (ngSubmit)="addComment()">
          <div formGroupName="message">


            <textarea formControlName="content" class="form-control" placeholder="اكتب رسالتك هنا"></textarea>
          </div>
          <div><button type="submit" class="btn btn-success app-button" style="margin-top: 10px;">اضف رسالة</button>
          </div>
        </form>
      </div>

      <div class="previous-comments"
        *ngIf="selectedProject?.partnerId!='null' && selectedProject?.status=='inprogress' || selectedProject?.status=='completed' || selectedProject?.status=='reviewing' || selectedProject?.status=='rejected' && showMessages==true">
        <h6>الرسائل</h6>
        <!-- <div>{{commentForJob|json}}</div> -->


        <div class="clearfix" *ngFor="let comment of commentForJob">
          <div class="project-small-image float-right">
            <img src="../../../assets/images/profile/goldAvatar.svg" />
          </div>
          <div class="owner-data float-right">
            <h5>{{comment?.firstName}} {{comment?.lastName}}</h5>
            <span class="gray reg-font font-13">{{comment?.createAt |date }}</span>
            <p class="reg-font">{{comment?.content}}</p>

          </div>
        </div>


      </div>

    </div>
  </div>

</div>

<div *ngIf="projectDataNotExist" class="container" style="margin-top:150px;">
  <div class="text-center noProjectsMessage">
    <fa-icon [icon]="faFolderOpen"></fa-icon>
    <h4>لا يوجد مشروع بالبيانات المطلوبة</h4>
  </div>

</div>


<div *ngIf="showLoader" class="loader loaderMaster">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
  </div>
</div>

 

<!-- <quill-editor [(ngModel)]="content" [styles]="{height: '200px'}"></quill-editor>
    <pre><code>{{ content }}</code></pre> -->


<div *ngIf="actionErrorMessage" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">خطأ فى العملية</h5>
        <button (click)="closeActionError()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>حدث خطأ! يُرجى إعادة المحاولة</p>
      </div>
    </div>
  </div>
</div>



<div *ngIf="showCanceljobConfirm" class="modal2 custom-modal custom-modal22" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">الغاء المشروع </h5>
        <button (click)="closeCancelJobDialogM()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p15 text-right">
       


        <div class="d-flex justify-content-center">

          <button (click)="cancelJob()" style="margin-left: 10px;border-radius: 20px" 
                type="button" class="btn btn-danger  auto-width-btn admin-btn">
                <fa-icon class="ml5" [icon]="faCheck"></fa-icon>
                تأكيد الإلغاء
                
              </button>
              <button (click)="closeCancelJobDialogM()" type="button" style="margin-left: 10px;"
             class="btn btn-success  auto-width-btn admin-btn">
                <fa-icon class="ml5" [icon]="faTimes"></fa-icon>
                إكمال المشروع
              </button>

        </div>
        <p *ngIf="cancelJobMessageP">تم الغاء المشروع</p>

      </div>
    </div>
  </div>
</div>


<div *ngIf="cancelJobMessage" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">الغاء المشروع</h5>
        <button (click)="closecancelDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>تم الغاء المشروع</p>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showWhthdrawDlg" class="modal2 custom-modal custom-modal22" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">الغاء المشروع </h5>
        <button (click)="closeWithDrawDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p15 text-right">
       


        <div class="d-flex justify-content-center">

          <button (click)="withdrawJob()" style="margin-left: 10px;border-radius: 20px" 
                type="button" class="btn btn-danger  auto-width-btn admin-btn">
                <fa-icon class="ml5" [icon]="faCheck"></fa-icon>
                تأكيد الإلغاء
                
              </button>
              <button (click)="closeWithDrawDialog()" type="button" style="margin-left: 10px;"
             class="btn btn-success  auto-width-btn admin-btn">
                <fa-icon class="ml5" [icon]="faTimes"></fa-icon>
                إكمال المشروع
              </button>

        </div>
        <p *ngIf="withdrowJobMessage">تم الغاء المشروع</p>

      </div>
    </div>
  </div>
</div>


<div *ngIf="showUserData" class="modal2 custom-modal custom-modal22" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">بيانات المستخدم</h5>
        <button (click)="closeUserDataDlg()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p15 text-right">
       


   {{idToShow}}

      </div>
    </div>
  </div>
</div>