<app-after-login-header></app-after-login-header>


<!-- ======= intro Section ======= -->
<!-- <div class="site-wraper"> -->



  <section id="intro" class="d-flex align-items-center intro">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-lg-none d-md-none d-sm-none">
          <img src="../../../assets/images/introImg.svg" class="img-fluid animated mr-auto d-block intro-img" alt="كاتب محتوى مبدع
          ">
        </div>
        <div class="col-lg-7 pt-5 pt-lg-0 d-flex flex-column hero-data justify-content-center">
          <!-- <h1>كتابة المحتوى استثمار مستدام</h1>
          <h2>
            هنا عدد لا محدود من المحترفين مستعدون لخدمتك في صناعة المحتوى
          </h2>
          <h3>
            يتمتع عملاؤنا بالوصول إلى كتاب يساعدونهم في النمو والانتشار. مع تزويد يمكنك العمل مع أكثر من كاتب محتوى محترف في نفس الوقت وبجودة عالية
          </h3>
   -->
          <button routerLink="/addProject" type="button" class="btn btn-success generalBtnStyle">اطلب محتوى</button>
        </div>
        <div class="col-lg-5 d-none d-sm-block">
          <img src="../../../assets/images/introImg.svg" class="img-fluid animated mr-auto d-block intro-img" alt=" كاتب محتوى مبدع
           ">
        </div>
      </div>
    </div>
  
  </section><!-- End intro -->
  
  <!-- ======= steps Section ======= -->
  <section id="steps" class="d-flex align-items-center p100 steps">
  
    <div class="container">
      <h1 class="text-center mb70">كيف يساعدك تزويد؟</h1>
      <div class="row">
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <div>
            <span class="step-count">1</span>
          </div>
  
          <h1>اطلب محتوى</h1>
          <p class="w-100 mx-auto">بخطوات سهلة تحدد مواصفات المحتوى، والكلمات المفتاحية والأفكار المفضلة، وتترك الباقي
            لإبداع الكاتب.</p>
        </div>
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <div>
            <span class="step-count">2</span>
          </div>
          <h1>اختر الكاتب</h1>
          <p class="w-100 mx-auto">يتقدم لك أحد الكتاب المؤهلين مع بيان لتقييمه وإنجازه، وبعد موافقتك يبدأ الكتابة.. بدون
            عناء بحث أو مفاوضات، والكل مبسوط.</p>
        </div>
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <div>
            <span class="step-count">3</span>
          </div>
          <h1>انشر وانتشر</h1>
          <p class="w-100 mx-auto">
  
            في الوقت المحدد يكون المحتوى جاهز للاعتماد، والنشر، ومساعدة علامتك التجارية على الانتشار.
  
  
          </p>
        </div>
      </div>
    </div>
  
  </section><!-- End steps -->
  
  
  

  <section class="testimonials p100 ">
    <div class="container">
      <h1 class="text-center titleWidget">يستخدمون تزويد </h1>
      <!-- <h5 class="text-center ">شعار شركة تستخدم التسويق بالمحتوى</h5> -->
      <div class="clients-image-row">
        <div class="row">
          <div class="col-lg-2 col-6 text-center">
            <img class="client-image-home" src="../../../assets/images/profile/Logo1.jpg" alt="شعار شركة متاجر تستخدم التسويق بالمحتوى ">
          </div>
          <div class="col-lg-2 col-6  text-center">
            <img class="client-image-home" src="../../../assets/images/profile/Logo2.jpg" alt="  شعار شركة نالا تستخدم التسويق بالمحتوى">
          </div>
          <div class="col-lg-2 col-6  text-center">
            <img class="client-image-home" src="../../../assets/images/profile/Logo3.jpg" alt="شعار شركة زد تستخدم التسويق بالمحتوى ">
          </div>
          <div class="col-lg-2 col-6  text-center">
            <img class="client-image-home" src="../../../assets/images/profile/Logo4.jpg" alt="شعار شركة الوطنية تستخدم التسويق بالمحتوى ">
          </div>
          <div class="col-lg-2 col-6  text-center">
            <img class="client-image-home" src="../../../assets/images/profile/Logo5.jpg" alt="شعار شركة أسكوب تستخدم التسويق بالمحتوى ">
          </div>
          <div class="col-lg-2 col-6  text-center">
            <img class="client-image-home" src="../../../assets/images/profile/Logo6.jpg" alt="شعار شركة وكن تستخدم التسويق بالمحتوى ">
          </div>
        </div>
      </div>
  
      <div class="row">
  
  
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <div class="shadow-effect">
            <img class="img-circle" src="../../../assets/images/profile/1.jpg" alt="صورة مدير أسكوب">
            <p>كان عندي نقص في المحتوى لمدونة متجري وحسابات التواصل الاجتماعي، وأخذ الأمر مني أشهر للحصول على كاتب مناسب
              للمحتوى الذي أريده ويتوافق مع منتجي، إلى أن تعرفت على تزويد فكان الحل المثالي. أسلم الطلب لهم وهم يتولون
              الباقي، كل ذلك في وقت قياسي وسعر ولا أروع. شكرا تزويد.
            </p>
            <h5>عثمان التميمي</h5>
            <h6>المدير التنفيذي لشركة أسكوب</h6>
  
          </div>
  
        </div>
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <div class="shadow-effect">
            <img class="img-circle" src="../../../assets/images/profile/2.jpg" alt="صورة مدير رديف">
            <p>طلبت من أحد الكتاب في تزويد كتابة مقال ترويجي ونافع عن مجتمعي الرقمي رديف، وكانت النتيجة ممتازة لي. أوصي
              باستخدام منصة تزويد.
            </p>
            <h5>يونس بن عمارة </h5>
            <h6> مؤسس رديف</h6>
  
          </div>
  
        </div>
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <div class="shadow-effect">
            <img class="img-circle" src="../../../assets/images/profile/3.jpg" alt="صورة مدير عيادات لوران">
            <p>بالرغم من صعوبة المهمة في انتقاء وكتابة المقالات الطبية إلا إن فريق تزويد كانوا على قدر عال من المسؤولية
              والثقة. شكرا لجميع الكتاب على التميز الفريد.</p>
            <h5>د.يوسف الغريب</h5>
            <h6>المدير الطبي لعيادات لوران</h6>
  
          </div>
  
        </div>
  
  
      </div>
  
      <h1 class="text-center custom-margin">لماذا يحبون </h1>
      <div class="text-center">
        <img src="../../../assets/images/logobig.svg" class="img-fluid mb20" alt="شعار تزويد">
      </div>
  
      <ul class="text-center">
        <li class="home-tag">محتوى متجدد</li>
        <li class="home-tag">خدمة سريعة</li>
  
        <li class="home-tag">سعر مناسب</li>
        <li class="home-tag">ترويج العلامة التجارية</li>
        <li class="home-tag">تسويق بالمحتوى</li>
        <li class="home-tag">صداقة لمحركات البحث</li>
  
  
      </ul>
  
      <ul class="text-center">
        <li class="home-tag">كسب عملاء جدد</li>
        <li class="home-tag">زيادة زوار الموقع</li>
        <li class="home-tag">تحسين المبيعات</li>
        <li class="home-tag">كتاب محترفون</li>
        <li class="home-tag">راحة بال</li>
  
  
      </ul>
    </div>
  </section>
  <!-- ======= steps Section ======= -->
  <section id="steps" class="d-flex align-items-center p100 steps">
  
    <div class="container">
  
      <!-- <h1 class="text-center mb70">تزويد مختلف</h1> -->
      <div class="row">
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <h1>
            <!-- <img style="margin-bottom: 10px;" src="../../../assets/images/infinity.svg" /> -->
            <fa-icon class="home-icons" [icon]="faInfinity"></fa-icon>
          </h1>
  
          <h1>محتوى لا يتوقف</h1>
          <p class="w-100 mx-auto"> البحث عن كاتب جديد في كل مرة مهمة صعبة، ولكن مع تزويد أنت أمام جيش من الكتاب
            المستعدين
            للكتابة من أجلك بلا توقف.</p>
        </div>
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <h1>
            <!-- <img style="margin-bottom: 10px;" src="../../../assets/images/lamb.svg" /> -->
            <fa-icon class="home-icons" [icon]="faLightbulb"></fa-icon>
          </h1>
          <h1>أفكار محبوبة</h1>
          <p class="w-100 mx-auto">علاقتك مع الجمهور تزيد كلما شاركتهم أفكارك الرائعة، ومع تزويد ستشاركهم أفكارك وأفكار
            مئات الكتاب الذين يفهمون جمهورك.</p>
        </div>
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <h1>
            <fa-icon class="home-icons" [icon]="faRocket"></fa-icon>
            <!-- <img style="margin-bottom: 10px;" src="../../../assets/images/develop.svg" /> -->
          </h1>
          <h1>نمو سريع</h1>
          <p class="w-100 mx-auto">
  
            حينما تقرر التسويق بالمحتوى فلن تفكر في تلك المهام الصعبة. كتاب تزويد يتولون المهمة لتتفرغ أنت لأعمالك وتستمتع
            بتزايد أرقامك
  
  
          </p>
        </div>
      </div>
    </div>
  
  </section><!-- End steps -->
  <!-- ======= unique Section ======= -->
  <section id="unique" class="d-flex align-items-center unique">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="../../../assets/images/writer.svg" class="img-fluid animated float-right " alt="فرصة كتابة محتوى">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0  d-flex flex-column justify-content-center">
          <h1>فرصة عمل للكاتب المميز </h1>
          <p>نؤمن في تزويد أن الكاتب المميز يستطيع رؤية الأشياء بعين مختلفة، ويلاعب الأفكار بعقل ذكي، ويشارك المعلومة
            بأسلوب ماتع ويحكي القصة بإثارة، ويستحق فرصة تليق به.</p>
          <button routerLink="/partnerRegister" type="button" class="btn btn-success generalBtnStyle mw200">اعمل مع تزويد
            الآن
          </button>
        </div>
  
      </div>
    </div>
  
  </section><!-- End unique -->
  
  
  
  
  <!-- 
  <section class="testimonials">
    <div class="container">
      <h1 class="text-center titleWidget">أراء عملائنا </h1>
      <ngb-carousel>
        <ng-template ngbSlide>
     
      
      
            <div class="text-center">
              <div class="shadow-effect">
                <img class="img-circle" src="../../../assets/images/profile/1.png" alt="">
            <p>كان عندي نقص في المحتوى لمدونة متجري وحسابات التواصل الاجتماعي، وأخذ الأمر مني أشهر للحصول على كاتب مناسب
              للمحتوى الذي أريده ويتوافق مع منتجي، إلى أن تعرفت على تزويد فكان الحل المثالي. أسلم الطلب لهم وهم يتولون
              الباقي، كل ذلك في وقت قياسي وسعر ولا أروع. شكرا تزويد.
            </p>
            <h5>عثمان التميمي</h5>
            <h6>المدير التنفيذي لشركة أسكوب</h6>
              </div>
  
            </div>
         
  
      
      
        </ng-template>
        <ng-template ngbSlide>
     
      
      
          <div class="text-center">
            <div class="shadow-effect">
              <img class="img-circle" src="../../../assets/images/profile/2.jpg" alt="">
              <p>طلبت من أحد الكتاب في تزويد كتابة مقال ترويجي ونافع عن مجتمعي الرقمي رديف، وكانت النتيجة ممتازة لي. أوصي
                باستخدام منصة تزويد.
              </p>
              <h5>يونس بن عمارة </h5>
              <h6> مؤسس رديف</h6>
            </div>
  
          </div>
       
  
    
    
      </ng-template>
      <ng-template ngbSlide>
     
      
      
        <div class="text-center">
          <div class="shadow-effect">
            <img class="img-circle" src="../../../assets/images/profile/3.jpg" alt="">
            <p>بالرغم من صعوبة المهمة في انتقاء وكتابة المقالات الطبية إلا إن فريق تزويد كانوا على قدر عال من المسؤولية
              والثقة. شكرا لجميع الكتاب على التميز الفريد.</p>
            <h5>د.يوسف الغريب</h5>
            <h6>المدير الطبي لعيادات لوران</h6>
          </div>
  
        </div>
     
  
  
  
    </ng-template>
      </ngb-carousel>
    </div>
  </section> -->
  
  
  <!-- ======= start adding Section ======= -->
  <section id="startAdding" class="d-flex align-items-center start-edit-section">
  
    <div class="container">
  
      <h1>أنت تحتاج تزويد </h1>
      <p class="w-75 mx-auto my-4"> نخبة من الكتاب المميزين سيبدؤون بالكتابة فور تقديمك للطلب. </p>
      <p class="w-75 mx-auto my-4"> أخبرهم عن احتياجك وانتظر إبداعهم. </p>
      <button routerLink="/addProject" type="button" class="btn btn-success generalBtnStyle white_btn">اطلب محتوى</button>
    </div>
  
  
  
  
  </section><!-- End start adding -->
<app-footer-inner></app-footer-inner>