
<app-after-login-header></app-after-login-header>
<div  class="text-center success-project" style="box-shadow: none;"> 
    <fa-icon [icon]="faCheckCircle"></fa-icon>
    <h1>طلبك وصل!</h1>
    <p>شكرا لاستخدامك منصة تزويد.. الآن نختار لك الكاتب المميز</p>
    <!-- <p>يمكنك اغلاق النافذة وتصفح مشاريعك</p> -->
    <!-- <button routerLink="/myProjects" type="button" class="btn btn-success generalBtnStyle add-project-submit">
      انتقل إلى صفحة المشاريع
       </button> -->


       <a href="https://tazweed.ml/myProjects" class="btn btn-success generalBtnStyle add-project-submit inblock-btn"> انتقل إلى صفحة المشاريع</a>

       <!-- <a href="https://tazwed.net/myProjects" class="btn btn-success generalBtnStyle add-project-submit inblock-btn"> انتقل إلى صفحة المشاريع</a> -->

       
  </div>


  <app-footer-inner></app-footer-inner> 
