<app-header></app-header>
<div class="container">
<div *ngIf="showFormSubmit">


  <div class="form-title">
    <h1>سجل ككاتب للتقديم على عمل</h1>
    <div class="anotherRegisteration">
      <span class="ask reg-font">انت عميل ولست كاتب؟</span><a routerLink="/clientRegister">سجل كعميل</a>
    </div>
  </div>
  <div class="row">

 
    <form (keydown.enter)="$event.preventDefault()" class="col-lg-6 col-md-6 col-sm-12 col-12"  [(formGroup)]="registerForm" (ngSubmit)="register()">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="form-group">
            <input type="text" name="firstName" class="form-control" formControlName="firstName" placeholder="الاسم الاول" />
            <span *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched">ادخل الاسم
              الاول</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="form-group">
            <input type="text" name="lastName" class="form-control" formControlName="lastName" placeholder="اسم العائلة" />
            <span *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched">ادخل اسم العائلة</span>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <div class="form-group">
            <input type="email" email name="email" class="form-control" formControlName="email"
              placeholder="البريد الالكترونى">
            <span class="help-block" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">ادخل
              البريد الالكترونى</span>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <div class="form-group">
            <input type="text" name="userName" class="form-control" formControlName="userName" placeholder="Username">
            <span class="help-block" *ngIf="!registerForm.get('userName').valid && registerForm.get('userName').touched">ادخل
              اسم المستخدم</span>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <div class="form-group relative">
            <input id="password" type="password" name="password" class="form-control" formControlName="password" placeholder="كلمة المرور">
            <span class="showHidePassword" *ngIf="showPasswordIcon" (click)="showPassword('password')"><fa-icon [icon]="faEye"></fa-icon></span>
            <span class="showHidePassword" *ngIf="hidePasswordIcon" (click)="hidePassword('password')"><fa-icon [icon]="faEyeSlash"></fa-icon></span>
            <span class="help-block" *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">password must be at least 8 characters long</span>
          </div>
      
        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <div class="anotherRegisteration mb20">
            <span class="ask reg-font">بإنشائك حساب جديد فأنت توافق على</span><a routerLink="">شروط وأحكام استخدام تزويد</a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <div class="clearfix text-center mb10">
            <button [disabled]="!registerForm.valid" class="btn btn-success" type="submit">انشاء حساب جديد</button>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <div class="anotherRegisteration">
            <span class="ask reg-font">لديك حساب بالفعل؟</span><a routerLink="/login">تسجيل الدخول</a>
          </div>
        </div>
  
      </div>
     
      
     
     
      
     
      <!-- <div class="form-group">
        <input type="password" name="REpassword" class="form-control" formControlName="REpassword"
          placeholder="اعادة كتابة الرقم السرى">
        <span class="help-block" *ngIf="!registerForm.get('REpassword').valid && registerForm.get('REpassword').touched">اعد
          كتابة الرقم
          السرى</span>
      </div>
      <span class="help-block"
        *ngIf="registerForm.get('REpassword').touched && registerForm.get('password').value != registerForm.get('REpassword').value">password
        dosen't match</span>
      
  
  
      <div class="form-group">
        <input type="text" name="urlPicture" class="form-control" formControlName="urlPicture"
          placeholder="رابط الصورة الشخصية">
      </div> -->
      <!-- <div formArrayName="hoppies">
        <div class="form-group" *ngFor="let hoppy of registerForm.get('hoppies')['controls']; let i = index">
          <input type="text" class="form-control" [formControlName]="i" />
        </div>
        <button type="button" (click)="addHopy()">Add hoppy</button>
      </div> -->
  
      <!-- <div class="form-group attach-container">
    
        <input type="file" name="attach" class="form-control attach-input" (change)="onChange($event)"
          placeholder="رابط الصورة الشخصية">
        <input type="text" hidden name="attach" class="form-control" formControlName="attach">
    
      </div> -->
      <!-- <div class="form-group">
        <div class="form-check">
          <input type="checkbox" name="termsAndConditions" class="form-check-input" [value]="true"
            formControlName="termsAndConditions">
          <label class="form-check-label" for="exampleCheck1">أوافق على الشروط</label>
        </div>
      </div> -->
    
      <!-- <div>
        <button routerLink="login" routerLinkActive="active" class="btn btn-success" type="button">لديك حساب بالفعل</button>
    
    
      </div> -->
    </form>
<div class="clearfix"></div>
<div *ngIf="showFailMessage" class="text-center fails stickyMessage ">
  <p>{{errorDetails}}</p>
</div>
 
  


</div>
</div>
</div>
<div class="text-center success-project" *ngIf="showSuccessMessage">
  <fa-icon [icon]="faCheckCircle"></fa-icon>
  <p>تم التسجيل بنجاح برجاء فتح بريدك الالكترونى لتأكيد التسجيل</p>
</div>
