<app-after-login-header></app-after-login-header>
<div class="main-content">
  <div class="container">
    <div *ngIf="showPaymentMessage" class="modal2 custom-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">تعديل بيانات المشروع</h5>
            <button (click)="closePaymentDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>تم تعديل بيانات المشروع بنجاح</p>
            <p>سيتم تحويلك تلقائيا الى صفحة الدفع</p>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="showPromocodeMessage" class="modal2 custom-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">بيانات الكوبون الخاص بالعميل</h5>
            <button (click)="closePromocodeDialog()" type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>تم انشاء كوبون خاص بك </p>
            <p>{{promocodeGenerated}}</p>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="showEditSuccessMessage" class="modal2 custom-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">تعديل بيانات المشروع</h5>
            <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>تم تعديل بيانات المشروع بنجاح</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-title mt0">
      <h1>تعديل المشروع</h1>
      <!-- <pre>{{editedProjectObject|json}}</pre> -->
    </div>

    <div *ngIf="editedProjectObject?.jobType=='post'">


 


      <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="editpostForm" (ngSubmit)="editPost()">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
              <h6>مجال المنشورات</h6>
              <input type="text" class="form-control" formControlName="projectTitle" />
            </div>
            <div class="form-group">
              <h6>الهدف من المنشورات</h6>
              <input type="text" class="form-control" formControlName="objectives" />
            </div>
            <div class="form-group">
              <h6>لديك أفكار تحب التركيز عليها؟ <span class="reg-font-2 addon">(اختياري)</span></h6>
              <textarea type="text" class="form-control" formControlName="projectIdea"></textarea>
            </div>
            <div class="form-group">
              <h6>في أي صفحة ستُنشر؟</h6>
              <textarea type="text" class="form-control" formControlName="publishingAccount"></textarea>
            </div>

            <div class="form-group">
              <h6>اللغة المفضلة للمنشورات</h6>
              <select class="form-control" formControlName="typeOfLanguage">
                <option value="رسمية">
                  رسمية
                </option>
                <option value="بيضاء">
                  بيضاء
                </option>
                <option value="لهجة محلية">
                  لهجة محلية
                </option>
              </select>

            </div>


            <div class="form-group">
              <h6>النوع المفضل للمنشورات؟
              </h6>

              <select class="form-control" formControlName="typeOfPosts">
                <option value="سلسلة حول الموضوع">
                  سلسلة حول الموضوع
                </option>
                <option value="تغريدات متفرقة حول الموضوع">
                  تغريدات متفرقة حول الموضوع
                </option>
              </select>
            </div>
            <div class="form-group">
              <h6>ما هي الأشياء التي تريد أن يتجنبها الكاتب؟

              </h6>
              <textarea type="text" class="form-control" formControlName="thingsToAvoid"></textarea>
            </div>

            <div class="form-group">
              <h6>المرفقات</h6>
              <h6 style="margin: 5px 0;" class="reg-font">هذه الملفات تساعد الكاتب في تنفيذ المشروع</h6>
              <!-- <h6 class="reg-font">pdf , docx , doc , xlsx , jpg , jpeg or png </h6> -->
              <!-- <form   [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">    -->


              <div>

                <div>
                  <input multiple class="form-control" type="file" id="formFile" accept="image/*,.pdf,.doc,.docx"
                    (change)="onFileSelect($event)" />
                  <input multiple type="text" hidden name="attach" class="form-control">

                </div>
              </div>

              <ul class="upload-list">
                <li *ngFor="let upload of selectedUploadedFiles;let i = index">
                  {{upload?.name}}
                  <button (click)="onRemoveFile2(i,upload)" class="btn btn-default add-remove-btn remove-file"
                    type="button">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>

                </li>

              </ul>


            </div>

          </div>
          <div class="col-lg-6 col-md-6 col-12" *ngIf="!editModeWithPromoCode">
            <div class="form-group">
              <h6>اختر عدد المنشورات</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem" *ngFor="let projectConfig of postConfig">
                  <input checked="checked" (change)="calculateCost2()" [id]="projectConfig.id" type="radio"
                    [value]="projectConfig.id" formControlName="quantity">

                  <label class="drinkcard-cc line40" [for]="projectConfig.id">

                    {{projectConfig.quantity}}
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h6>حدد مدة التنفيذ</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost2()" id="shortTime" type="radio" [value]="day1"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="shortTime">24 ساعة </label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost2()" id="mediumTime" type="radio" [value]="day2"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="mediumTime">48 ساعة</label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost2()" id="largeTime" type="radio" [value]="day3"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="largeTime">72 ساعة</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <h6>تكلفة المشروع</h6>
              <h5>{{projectCost}} ر.س</h5>
            </div>
            <div class="form-group additon">
              <h6>الأجر الاضافى</h6>
              <!-- <button  type="button" class="btn very-normal-btn addion_btn" (click)="addAdditionPost()">أضف</button> -->

              <div *ngIf="additionalMode" class="adition-box">
                <button type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionPost()">تعديل</button>
                <button type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionPost()">إلغاء</button>

              </div>


              <div *ngIf="!additionalMode" class="adition-box">
                <button *ngIf="additionBefore" type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionPostLast()">أضافة</button>
                <button *ngIf="!additionBefore" type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionPost()">إلغاء</button>

              </div>
              <input (keypress)="preventNonNumericalInput($event)" type="number" class="form-control"
                formControlName="addtionalAmount" />
            </div>



            <div class="form-group">
              <h6>اجمالى تكلفة المشروع ( التكلفة + الاجر الاضافى)</h6>
              <h5>{{finalTotalCost}} ر.س</h5>
            </div>
            <div *ngIf="calculationUsingTax==true" class="form-group">
              <h6>
                ضريبة القيمة المضافة
                <span class="m5">{{taxValue}}%</span>
              </h6>
              <h5>
                {{(+taxValueInRial).toFixed(2)}}
              </h5>
            </div>
            <div *ngIf="calculationUsingTax==true" class="form-group">
              <h6>
                الإجمالي بعد إضافة ضريبة القيمة المضافة
                <!-- <span class="m5">%{{taxValue}}</span> -->
              </h6>
              <h5>{{costAfterTax}} ر.س</h5>
            </div>


          </div>


 
          <!-- calculation with promo code -->

          <div class="col-lg-6 col-md-6 col-12" *ngIf="editModeWithPromoCode">
            <div class="form-group">
              <h6>اختر عدد المنشورات</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem" *ngFor="let projectConfig of postConfig">
                  <input checked="checked" (change)="calculateCost2()" [id]="projectConfig.id" type="radio"
                    [value]="projectConfig.id" formControlName="quantity">

                  <label class="drinkcard-cc line40" [for]="projectConfig.id">

                    {{projectConfig.quantity}}
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h6>حدد مدة التنفيذ</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost2()" id="shortTime" type="radio" [value]="day1"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="shortTime">24 ساعة </label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost2()" id="mediumTime" type="radio" [value]="day2"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="mediumTime">48 ساعة</label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost2()" id="largeTime" type="radio" [value]="day3"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="largeTime">72 ساعة</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <h6>تكلفة المشروع</h6>
              <h5>{{projectCost}} ر.س</h5>
            </div>
            <div class="form-group additon">
              <h6>الأجر الاضافى</h6>
              <!-- <button  type="button" class="btn very-normal-btn addion_btn" (click)="addAdditionPost()">أضف</button> -->

              <div *ngIf="additionalMode" class="adition-box">
                <button type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionPost()">تعديل</button>
                <button type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionPost()">إلغاء</button>

              </div>


              <div *ngIf="!additionalMode" class="adition-box">
                <button *ngIf="additionBefore" type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionPostLast()">أضافة</button>
                <button *ngIf="!additionBefore" type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionPost()">إلغاء</button>

              </div>
              <input (keypress)="preventNonNumericalInput($event)" type="number" class="form-control"
                formControlName="addtionalAmount" />
            </div>


            <div class="form-group">
              <h6>اجمالى تكلفة المشروع قبل التخفيض ( التكلفة + الاجر الاضافى)</h6>
              <h5><s>{{finalTotalCost}} ر.س</s></h5>
            </div>

            <div class="form-group">
              <h6>اجمالى تكلفة المشروع بعد التخفيض</h6>
              <h5>{{finalCostFterPromo}} ر.س</h5>
            </div>
            <div class="form-group ">
              <h6>
                ضريبة القيمة المضافة
                <span class="m5">{{taxValue}}%</span>
              </h6>
              <h5>
                {{(+taxValueInRial).toFixed(2)}}
              </h5>
            </div>
            <div class="form-group">
              <h6>
                الإجمالي بعد إضافة ضريبة القيمة المضافة
                <!-- <span class="m5">%{{taxValue}}</span> -->
              </h6>
              <h5>{{costAfterTax}} ر.س</h5>
            </div>

          </div>



        </div>



        <div *ngIf="showAddJobLssThanLimit" class="modal2 custom-modal" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">إضافة مشروع</h5>
                <button (click)="closeaddLimitDialog()" type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>عذرا.. الحد الأدنى للمشروع ٥ ريالات</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-success auto-width-btn">حفظ التعديلات</button>
        </div>

      </form>



    </div>




    <div *ngIf="editedProjectObject?.jobType=='productDescription'">


 


      <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="editProductDescForm" (ngSubmit)="editProductDesc()">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
              <h6>ما هو مجال المنتج ؟</h6>
              <input type="text" class="form-control" formControlName="fieldOfProduct" />
            </div>
            <div class="form-group">
              <h6>ما اسم المنتج؟</h6>
              <input type="text" class="form-control" formControlName="projectTitle" />
            </div>
            <div class="form-group">
              <h6>ما هي الشركة التي تملك المنتج؟</h6>
              <input type="text" class="form-control" formControlName="productOwner" />
            </div>
            <div class="form-group">
              <h6>ما هي المنتجات الأخرى لديكم؟</h6>
              <input type="text" class="form-control" formControlName="namesOfOtherProducts" />
            </div>

            <div class="form-group">
              <h6>أهم مميزات المنتج؟</h6>
              <input type="text" class="form-control" formControlName="productFeatures" />
            </div>
            <div class="form-group">
              <h6>ما الذي تريد أن تخبر به عملاءك عن هذا المنتج؟</h6>
              <textarea type="text" class="form-control" formControlName="productMessage"></textarea>
            </div>
            <div class="form-group">
              <h6>عدد الكلمات المطلوبة في الوصف؟</h6>
              <input type="text" class="form-control" formControlName="numberOfWords" />
            </div>
            <div class="form-group">
              <h6>ما هي الأشياء التي تريد أن يتجنبها الكاتب؟

              </h6>
              <textarea type="text" class="form-control" formControlName="thingsToAvoid"></textarea>
            </div>
            <div class="form-group">
              <h6>رابط متجرك الإلكتروني</h6>
              <input type="text" class="form-control" formControlName="storeUrl" />
            </div>
            


            <div class="form-group">
              <h6>المرفقات</h6>
              <h6 style="margin: 5px 0;" class="reg-font">هذه الملفات تساعد الكاتب في تنفيذ المشروع</h6>
              <!-- <h6 class="reg-font">pdf , docx , doc , xlsx , jpg , jpeg or png </h6> -->
              <!-- <form   [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">    -->


              <div>

                <div>
                  <input multiple class="form-control" type="file" id="formFile" accept="image/*,.pdf,.doc,.docx"
                    (change)="onFileSelect($event)" />
                  <input multiple type="text" hidden name="attach" class="form-control">

                </div>
              </div>

              <ul class="upload-list">
                <li *ngFor="let upload of selectedUploadedFiles;let i = index">
                  {{upload?.name}}
                  <button (click)="onRemoveFile2(i,upload)" class="btn btn-default add-remove-btn remove-file"
                    type="button">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>

                </li>

              </ul>


            </div>

          </div>



          <div class="col-lg-6 col-md-6 col-12" *ngIf="!editModeWithPromoCode">
            <div class="form-group">
              <h6>كم وصف تريد للمنتج ؟</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem" *ngFor="let projectConfig of productDescConfig">
                  <input checked="checked" (change)="calculateCost3()" [id]="projectConfig.id" type="radio"
                    [value]="projectConfig.id" formControlName="quantity">

                  <label class="drinkcard-cc line40" [for]="projectConfig.id">

                    {{projectConfig.quantity}}
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h6>حدد مدة التنفيذ</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost3()" id="shortTime" type="radio" [value]="day1"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="shortTime">24 ساعة </label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost3()" id="mediumTime" type="radio" [value]="day2"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="mediumTime">48 ساعة</label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost3()" id="largeTime" type="radio" [value]="day3"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="largeTime">72 ساعة</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <h6>تكلفة المشروع</h6>
              <h5>{{projectCost}} ر.س</h5>
            </div>
            <div class="form-group additon">
              <h6>الأجر الاضافى</h6>
              <!-- <button  type="button" class="btn very-normal-btn addion_btn" (click)="addAdditionPost()">أضف</button> -->

              <div *ngIf="additionalMode" class="adition-box">
                <button type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionProductDesc()">تعديل</button>
                <button type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionProductDes()">إلغاء</button>

              </div>


              <div *ngIf="!additionalMode" class="adition-box">
                <button *ngIf="additionBefore" type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionProductDesc()">أضافة</button>
                <button *ngIf="!additionBefore" type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionProductDes()">إلغاء</button>

              </div>
              <input (keypress)="preventNonNumericalInput($event)" type="number" class="form-control"
                formControlName="addtionalAmount" />
            </div>



            <div class="form-group">
              <h6>اجمالى تكلفة المشروع ( التكلفة + الاجر الاضافى)</h6>
              <h5>{{finalTotalCost}} ر.س</h5>
            </div>
            <div *ngIf="calculationUsingTax==true" class="form-group">
              <h6>
                ضريبة القيمة المضافة
                <span class="m5">{{taxValue}}%</span>
              </h6>
              <h5>
                {{(+taxValueInRial).toFixed(2)}}
              </h5>
            </div>
            <div *ngIf="calculationUsingTax==true" class="form-group">
              <h6>
                الإجمالي بعد إضافة ضريبة القيمة المضافة
                <!-- <span class="m5">%{{taxValue}}</span> -->
              </h6>
              <h5>{{costAfterTax}} ر.س</h5>
            </div>


          </div>


 
          <!-- calculation with promo code -->

          <div class="col-lg-6 col-md-6 col-12" *ngIf="editModeWithPromoCode">
            <div class="form-group">
              <h6>كم وصف تريد للمنتج ؟</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem" *ngFor="let projectConfig of productDescConfig">
                  <input checked="checked" (change)="calculateCost3()" [id]="projectConfig.id" type="radio"
                    [value]="projectConfig.id" formControlName="quantity">

                  <label class="drinkcard-cc line40" [for]="projectConfig.id">

                    {{projectConfig.quantity}}
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h6>حدد مدة التنفيذ</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost3()" id="shortTime" type="radio" [value]="day1"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="shortTime">24 ساعة </label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost3()" id="mediumTime" type="radio" [value]="day2"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="mediumTime">48 ساعة</label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost3()" id="largeTime" type="radio" [value]="day3"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc line40" for="largeTime">72 ساعة</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <h6>تكلفة المشروع</h6>
              <h5>{{projectCost}} ر.س</h5>
            </div>
            <div class="form-group additon">
              <h6>الأجر الاضافى</h6>
              <!-- <button  type="button" class="btn very-normal-btn addion_btn" (click)="addAdditionPost()">أضف</button> -->

              <div *ngIf="additionalMode" class="adition-box">
                <button type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionProductDesc()">تعديل</button>
                <button type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionProductDes()">إلغاء</button>

              </div>


              <div *ngIf="!additionalMode" class="adition-box">
                <button *ngIf="additionBefore" type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionProductDesc()">أضافة</button>
                <button *ngIf="!additionBefore" type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionProductDes()">إلغاء</button>

              </div>
              <input (keypress)="preventNonNumericalInput($event)" type="number" class="form-control"
                formControlName="addtionalAmount" />
            </div>


            <div class="form-group">
              <h6>اجمالى تكلفة المشروع قبل التخفيض ( التكلفة + الاجر الاضافى)</h6>
              <h5><s>{{finalTotalCost}} ر.س</s></h5>
            </div>

            <div class="form-group">
              <h6>اجمالى تكلفة المشروع بعد التخفيض</h6>
              <h5>{{finalCostFterPromo}} ر.س</h5>
            </div>
            <div class="form-group ">
              <h6>
                ضريبة القيمة المضافة
                <span class="m5">{{taxValue}}%</span>
              </h6>
              <h5>
                {{(+taxValueInRial).toFixed(2)}}
              </h5>
            </div>
            <div class="form-group">
              <h6>
                الإجمالي بعد إضافة ضريبة القيمة المضافة
                <!-- <span class="m5">%{{taxValue}}</span> -->
              </h6>
              <h5>{{costAfterTax}} ر.س</h5>
            </div>

          </div>



        </div>



        <div *ngIf="showAddJobLssThanLimit" class="modal2 custom-modal" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">إضافة مشروع</h5>
                <button (click)="closeaddLimitDialog()" type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>عذرا.. الحد الأدنى للمشروع ٥ ريالات</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-success auto-width-btn">حفظ التعديلات</button>
        </div>

      </form>



    </div>




    <div *ngIf="editedProjectObject?.jobType=='article'">
      <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="editProjectForm" (ngSubmit)="editProject()">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
              <h6>العنوان المقترح للمقال</h6>
              <input type="text" class="form-control" formControlName="projectTitle" />
            </div>
            <div class="form-group">
              <h6>في أي مجال تحب نكتب لك؟</h6>
              <input type="text" class="form-control" formControlName="projectField" />
            </div>
            <div class="form-group">
              <h6>لديك أفكار تحب التركيز عليها؟ <span class="reg-font-2 addon">(اختياري)</span></h6>
              <textarea type="text" class="form-control" formControlName="projectIdea"></textarea>
            </div>



            <div class="form-group">
              <h6>المرفقات</h6>
              <h6 style="margin: 5px 0;" class="reg-font">هذه الملفات تساعد الكاتب في تنفيذ المشروع</h6>
              <!-- <h6 class="reg-font">pdf , docx , doc , xlsx , jpg , jpeg or png </h6> -->
              <!-- <form   [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">    -->


              <div>

                <div>
                  <input multiple class="form-control" type="file" id="formFile" accept="image/*,.pdf,.doc,.docx"
                    (change)="onFileSelect($event)" />
                  <input multiple type="text" hidden name="attach" class="form-control">

                </div>
              </div>

              <ul class="upload-list">
                <li *ngFor="let upload of selectedUploadedFiles;let i = index">
                  {{upload?.name}}
                  <button (click)="onRemoveFile2(i,upload)" class="btn btn-default add-remove-btn remove-file"
                    type="button">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>

                </li>

              </ul>


            </div>

          </div>
          <div class="col-lg-6 col-md-6 col-12" *ngIf="!editModeWithPromoCode">
            <div class="form-group">
              <h6>اختر حجم المشروع </h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem" *ngFor="let projectConfig of projectConfig">
                  <input checked="checked" (change)="calculateCost()" [id]="projectConfig.id" type="radio"
                    [value]="projectConfig.id" formControlName="quantity">

                  <label class="drinkcard-cc" [for]="projectConfig.id">
                    <span *ngIf="projectConfig.id==1">قصير</span>
                    <span *ngIf="projectConfig.id==2">متوسط</span>
                    <span *ngIf="projectConfig.id==3">طويل</span>

                    <br>
                    {{projectConfig.quantity}} كلمة
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h6>حدد مدة التنفيذ</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost()" id="shortTime" type="radio" [value]="day1"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc" for="shortTime">24 ساعة </label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost()" id="mediumTime" type="radio" [value]="day2"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc" for="mediumTime">48 ساعة</label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost()" id="largeTime" type="radio" [value]="day3"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc" for="largeTime">72 ساعة</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <h6>تكلفة المشروع</h6>
              <h5>{{projectCost}} ر.س</h5>
            </div>
            <div class="form-group additon">
              <h6>الأجر الاضافى</h6>
              <div *ngIf="additionalMode" class="adition-box">
                <button type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAddition()">تعديل</button>
                <button type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAddition()">إلغاء</button>

              </div>


              <div *ngIf="!additionalMode" class="adition-box">
                <button *ngIf="additionBefore" type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionLast()">أضافة</button>
                <button *ngIf="!additionBefore" type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionlast()">إلغاء</button>

              </div>
              <!-- *ngIf="!articleAdditionMode"  -->

              <input (keypress)="preventNonNumericalInput($event)" type="number" class="form-control"
                formControlName="addtionalAmount" />

            </div>



            <div class="form-group">
              <h6>اجمالى تكلفة المشروع ( التكلفة + الاجر الاضافى)</h6>
              <h5>{{finalTotalCost}} ر.س</h5>
            </div>

            <div *ngIf="calculationUsingTax==true" class="form-group ">
              <h6>
                ضريبة القيمة المضافة
                <span class="m5">{{taxValue}}%</span>
              </h6>
              <h5>
                {{(+taxValueInRial).toFixed(2)}}
              </h5>
            </div>
            <div *ngIf="calculationUsingTax==true" class="form-group">
              <h6>
                الإجمالي بعد إضافة ضريبة القيمة المضافة
                <!-- <span class="m5">%{{taxValue}}</span> -->
              </h6>
              <h5>{{costAfterTax}} ر.س</h5>
            </div>


          </div>



          <!-- calculation with promo code -->
 
          <div class="col-lg-6 col-md-6 col-12" *ngIf="editModeWithPromoCode">
            <div class="form-group">
              <h6>اختر حجم المشروع </h6>
              <div class="d-flex">
                <div class="cc-selector typeItem" *ngFor="let projectConfig of projectConfig">
                  <input checked="checked" (change)="calculateCost()" [id]="projectConfig.id" type="radio"
                    [value]="projectConfig.id" formControlName="quantity">

                  <label class="drinkcard-cc" [for]="projectConfig.id">
                    <span *ngIf="projectConfig.id==1">قصير</span>
                    <span *ngIf="projectConfig.id==2">متوسط</span>
                    <span *ngIf="projectConfig.id==3">طويل</span>

                    <br>
                    {{projectConfig.quantity}} كلمة
                  </label>
                </div>
                <!-- <div class="radio-item-c" *ngFor="let projectConfig of projectConfig">
                  <input (change)="calculateCost()" [id]="projectConfig.id" type="radio" [value]="projectConfig.id"
                    formControlName="quantity">

                  <label [for]="projectConfig.id">
                    <span *ngIf="projectConfig.id==1">قصير</span>
                    <span *ngIf="projectConfig.id==2">متوسط</span>
                    <span *ngIf="projectConfig.id==3">طويل</span>

                    <br>
                    {{projectConfig.quantity}} كلمة
                  </label>
                </div> -->
              </div>
            </div>
            <div class="form-group">
              <h6>حدد مدة التنفيذ</h6>
              <div class="d-flex justify-content-between mobile-block-flex">
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost()" id="shortTime" type="radio" [value]="day1"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc" for="shortTime">24 ساعة </label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost()" id="mediumTime" type="radio" [value]="day2"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc" for="mediumTime">48 ساعة</label>
                </div>
                <div class="cc-selector typeItem">
                  <input checked="checked" (change)="calculateCost()" id="largeTime" type="radio" [value]="day3"
                    formControlName="timePerDay">
                  <label class="drinkcard-cc" for="largeTime">72 ساعة</label>
                </div>
              </div>
              <!-- <div class="d-flex">
                <div class="radio-item-c">
                  <input (change)="calculateCost()" id="shortTime" type="radio" [value]="day1"
                    formControlName="timePerDay">
                  <label for="shortTime">24 ساعة </label>
                </div>
                <div class="radio-item-c">
                  <input (change)="calculateCost()" id="mediumTime" type="radio" [value]="day2"
                    formControlName="timePerDay">
                  <label for="mediumTime">48 ساعة</label>
                </div>
                <div class="radio-item-c">
                  <input (change)="calculateCost()" id="largeTime" type="radio" [value]="day3"
                    formControlName="timePerDay">
                  <label for="largeTime">72 ساعة</label>
                </div>
              </div> -->
            </div>

            <div class="form-group">
              <h6>تكلفة المشروع</h6>
              <h5>{{projectCost}} ر.س</h5>
            </div>
            <div class="form-group additon">
              <h6>الأجر الاضافى</h6>

              <div *ngIf="additionalMode" class="adition-box">
                <button type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAddition()">تعديل</button>
                <button type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAddition()">إلغاء</button>

              </div>

              <div *ngIf="!additionalMode" class="adition-box">
                <button *ngIf="additionBefore" type="button" class="btn very-normal-btn addion_btn static"
                  (click)="addAdditionLast()">أضافة</button>
                <button *ngIf="!additionBefore" type="button" class="btn very-normal-btn addion_btn danger static"
                  (click)="clearAdditionlast()">إلغاء</button>

              </div>
              <input (keypress)="preventNonNumericalInput($event)" type="number" class="form-control"
                formControlName="addtionalAmount" />
            </div>



            <div class="form-group">
              <h6>اجمالى تكلفة المشروع قبل التخفيض ( التكلفة + الاجر الاضافى)</h6>
              <h5><s>{{finalTotalCost}} ر.س</s></h5>
            </div>

            <div class="form-group">
              <h6>اجمالى تكلفة المشروع بعد التخفيض</h6>
              <h5>{{finalCostFterPromo}} ر.س</h5>
            </div>
            <div *ngIf="calculationUsingTax==true" class="form-group ">
              <h6>
                ضريبة القيمة المضافة
                <span class="m5">{{taxValue}}%</span>
              </h6>
              <h5>{{(+taxValueInRial).toFixed(2)}} ر.س</h5>
            </div>
            <div *ngIf="calculationUsingTax==true" class="form-group">
              <h6>
                الإجمالي بعد إضافة ضريبة القيمة المضافة
                <!-- <span class="m5">%{{taxValue}}</span> -->
              </h6>
              <h5>{{costAfterTax}} ر.س</h5>
            </div>

          </div>



        </div>



        <div *ngIf="showAddJobLssThanLimit" class="modal2 custom-modal" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">إضافة مشروع</h5>
                <button (click)="closeaddLimitDialog()" type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>عذرا.. الحد الأدنى للمشروع ٥ ريالات</p> 
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-success auto-width-btn">حفظ التعديلات</button>
        </div>

      </form>
    </div>





    
  </div>
</div>

<app-footer-inner></app-footer-inner>
<!--  -->
<div *ngIf="showLoader" class="loader loaderMaster">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
  </div>
</div>


<div *ngIf="showEditFail" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تعديل بيانات المشروع</h5>
        <button (click)="closeErrorDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>خطأ فى حفظ التعديلات</p>
      </div>
    </div>
  </div>
</div>