<div class="main-content">


    <div class="unpaidbalance">
        <div class="profiles-data admin-table-container">
    
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">الراسل</th>
                <th scope="col">الملاحظات</th>
                <th scope="col">حالة الطلب</th>
                <th scope="col">تاريخ الطلب</th>
                <!-- <th *ngIf="paymentActions" scope="col"></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Balance of allBalanceData">
                <td>{{Balance?.profileId.firstName}} {{Balance?.profileId.lastName}}</td>
                <td>{{Balance?.note}}</td>
                <td *ngIf="Balance.status =='initiated'">بانتظار القبول</td>
                <td *ngIf="Balance.status =='accepted'">تم القبول</td>
                <td *ngIf="Balance.status =='rejected'">تم الرفض</td>
                <td>{{Balance?.createdAt | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
    
      
     
    
    
    
 
      
    
    
      <div *ngIf="showLoader" class="loader loaderMaster">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>