
<app-after-login-header></app-after-login-header>
<div  class="text-center success-project" style="box-shadow: none;"> 
    <fa-icon [icon]="faCheckCircle"></fa-icon>
    <h1>مبروك.. رصيدك زاد!</h1>
    <!-- <p>يمكنك اغلاق النافذة وتصفح مشاريعك</p> -->
    <!-- <button routerLink="/addProject" type="button" class="btn btn-success generalBtnStyle add-project-submit">
      اطلب محتوى
       </button> -->


       <a href="https://tazweed.ml/addProject" class="btn btn-success generalBtnStyle add-project-submit inblock-btn"> اطلب محتوى</a>
       <!-- <a href="https://tazwed.net/addProject" class="btn btn-success generalBtnStyle add-project-submit inblock-btn"> اطلب محتوى</a> -->

  </div>


  <app-footer-inner></app-footer-inner>
