<app-header></app-header>
<div class="container">
  <div class="page-wrapper">




    <div class="accordion-item">


      <h6 class="project-title">الشروط والأحكام المتعلقة بمنصة تزويد</h6>
      <p>نرحب بكم في تزويد (ويشار إليه فيما بعد بـ”المنصة").
      </p>

      <p>يرجى قراءة اتفاقية الاستخدام بعناية وتمعن قبل استخدام المنصة.
      </p>

    </div>

    <div class="accordion-item">


      <h6 class="project-title">حقك على منصة تزويد:
      </h6>
      <ul class="custom-list">
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>تقديم تجربة مميزة وسلسة في صناعة المحتوى مع الالتزام بمعايير
          احترافية.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>المحافظة على خصوصية المعلومات الشخصية كالبريد الإلكتروني ورقم الجوال
          وعدم إفشائها لطرف ثالث.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>الإصغاء للشكاوى المتعلقة بالخدمة أو المتعلقة كذلك بفريق العمل وكل ما
          له علاقة بنشاط تزويد.
        </li>

        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>المساواة بين الكتّاب والعملاء فلا أولوية لأحد على أحد إلا باستيفاء
          الشروط والالتزام بالأحكام، فالمنصة متاحة للجميع ليستمتعوا بتجربة كتابة مميزة.
        </li>

      </ul>

    </div>
    <div class="accordion-item">


      <h6 class="project-title">شروط وأحكام عامة</h6>
      <ul class="custom-list">
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>إنّ استخدام المنصة بأي طريقة يُعد دليلا قاطعا على موافقة المستخدم
          على هذه الاتفاقية. كما أن فريق المنصة يحتفظ بحق تعديل الاتفاقية في أيّ وقت، والمنصة غير مسؤولة عن عدم متابعة
          التحديثات، ويمكن الاطلاع على أحدث نسخة من الاتفاقية عبر هذه الصفحة في أي وقت.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>يتحمل المستخدم منفردا مسؤولية المواد المرسلة من قبله والنتائج
          المترتبة على بثها أو نشرها بما في ذلك ترخيص الاستخدام والملكية الفكرية.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>إن المنصة غير مسؤولة عن الآراء التي يعبر عنها المستخدمون في المحتوى
          الذي ينتجونه عبر المنصة، بما في ذلك التعليقات بين الكتاب والعملاء.
        </li>

        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يجتهد مسؤولو المنصة في متابعة المشاريع ومراقبتها، وفي نفس الوقت يخلون مسؤوليتهم عن أي التزام قد ينشأ عن
          المحتوى، وكل ذلك يتحمله مباشرة المستخدم.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم العضو المسجل بتقديم معلومات صحيحة للتواصل مع إدارة الموقع كالبريد الإلكتروني ورقم الجوال، وكذلك إبراز
          معلومات صحيحة لعامة القراء في الملف الشخصي، ولا يتحمل الموقع أي مسؤولية نتيجة التضليل في المعلومات.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          تخضع شروط وأحكام الاستخدام هذه في تطبيقها وتفسيرها لقوانين المملكة العربية السعودية، ويقر الأطراف على أن تكون
          محاكمها صاحبة الاختصاص الحصري لفض أيّ منازعات قانونية متعلقة باستخدام المنصة.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم الكاتب بعدم استخدام المقالات التي يكتبها للعملاء حيث إن العميل يكون هو صاحب الملكية الفكرية لأي مقال
          يشتريه عبر منصة تزويد، وإن أي انتهاك لهذه الملكية بطريقة مباشرة أو غير مباشرة يعرض الحساب للإلغاء.
        </li>
      </ul>

    </div>



    <div class="accordion-item">


      <h6 class="project-title">شروط وأحكام تخص الكاتب</h6>
      <ul class="custom-list">
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم الكاتب بأصالة المحتوى الذي يقدمه وألا يكون منقولا أو منسوخا من أي مصادر أخرى دون إحالة للمصدر.

        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم الكاتب بتنفيذ المشاريع التي ضمن اختصاصه لضمان جودة الخدمة لعملاء تزويد.

        </li>

        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم الكاتب بالمواصفات التي يطلبها العميل، وأي مخالفة فيها تمنح العميل حق رفض الخدمة، وتمنح مشرفي المنصة حق
          إيقاف أو إلغاء حساب الكاتب.

        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم الكاتب بالتواصل مع العملاء داخل المنصة فقط، وفي حال حدوث أي تواصل خارجي فإن منصة تزويد غير مسؤولة عن أي
          ضرر أو إساءة تنتج عن ذلك، وللمنصة الحق في إلغاء عضوية الكاتب والعميل إذا ثبت الإخلال بهذا الشرط.

        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يحصل الكاتب في الأصل على نسبة ٧٠٪ من قيمة الخدمة، وهذه النسبة خاضعة للعروض الترويجية، وقابلة للتعديل في أي
          وقت.

        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يتحمل الكاتب عمولة الحوالات المحلية والدولية، ويضاف لها رسوم التحصيل (٥٠ ريال) إذا طلب مستحقاته قبل وصول
          الرصيد إلى الحد الأدنى (١٠٠٠ ريال).

        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم الكاتب بعدم استخدام المقالات التي يكتبها للعملاء حيث إن العميل يكون هو صاحب الملكية الفكرية لأي مقال
          يشتريه عبر منصة تزويد، وإن أي انتهاك لهذه الملكية بطريقة مباشرة أو غير مباشرة يعرض الحساب للإلغاء.

        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يحق للكاتب الانسحاب من المشروع قبل اكتماله لأي ظرف طارئ، ويتحمل عواقب هذا الانسحاب، حيث سيظهر للعملاء عدد الانسحابات، وعند الانسحاب ثلاث مرات يُخصم من رصيد الكاتب ١٠٠ ريال وذلك لكل ثلاث انسحابات.

        </li>
      </ul>

    </div>



    <div class="accordion-item">


      <h6 class="project-title">شروط وأحكام تخص العميل</h6>
      <ul class="custom-list">
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم العميل باستخدام المنصة للغرض المخصص وهو الحصول على خدمات صناعة المحتوى لأغراض تسويقية أو توعوية.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم العميل بعدم طلب مشاريع فيها إساءة للأديان والعرقيات أو مخالفة للأعراف أو تتعلق بالسياسة.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم العميل بالمصداقية في تعاملاته مع الكاتب، وفي حال حدوث أي تلاعب في التقييم أو الطلبات فإن للمنصة حق تعطيل
          الحساب دون إرجاع الأموال.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم العميل بتوضيح المواصفات لكل مشروع وذلك لتحسين الخدمة المقدمة، فاكتمال الملاحظات يساعد المشرفين على إنصاف
          العميل في حال وجود شكوى.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          يلتزم العميل بالتواصل مع الكتاب داخل المنصة فقط، وفي حال حدوث أي تواصل خارجي فإن منصة تزويد غير مسؤولة عن أي
          أضرار أو إساءة تنتج بسبب ذلك.
        </li>
        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
        يحق للعميل الانسحاب من المشروع خلال ساعة من قبول الكاتب، وفي هذه الحالة يصبح المشروع متاحا للكتاب الآخرين.
        </li>

        <li>
          <fa-icon [icon]="faCheckCircle"></fa-icon>
        يحق للعميل إلغاء المشروع عند تأخر الكاتب عن التسليم في الموعد المحدد ما لم يكن هنالك تفاهم مع الكاتب يسمح بالتأخير، ولو اختار العميل إلغاء العمل بسبب التأخير فإن المشروع يصبح متاحا للكتاب الآخرين.
        </li>
      </ul>

    </div>

  </div>



</div>
<app-footer></app-footer>
