<header class="after-login-header fixed-header inner-header">
  <div class="container text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class=" float-right clearfix">
        <button class="navbar-toggler float-right" type="button" (click)="isCollapsed = !isCollapsed;"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
              d="M4 7h22M4 15h22M4 23h22"></path>
          </svg>

        </button>
        <div class="float-right d-none d-sm-block">
         <a routerLink="/landingInner"> <img alt="شعار تزويد" src="../../../assets/images/logo.svg" /></a>
        </div>
        <div class="float-right d-lg-none d-md-none d-sm-none">
          <a routerLink="/landingInner"><img alt="شعار تزويد" src="../../../assets/images/tazwedicon.svg" /></a>
        </div>
      </div>



      <div class="float-right d-none d-sm-block mr20">
        <nav class="nav">

          <li class="relative" *ngIf="showClientPart">
            <span *ngIf="clientCreditBalance>0"
              class="badge badge-light cart-num">{{(clientCreditBalance).toFixed(2)}} ر.س</span>
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">
            <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>حسابي
          </a>
        </li>
          
          <li *ngIf="showPartnerPart">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">
              <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>حسابي
            </a>
          </li>
         

            <li class="relative" *ngIf="showClientPart">
              <span *ngIf="allCartProjects?.length>0"
                class="badge badge-light cart-num">{{allCartProjects?.length}}</span>
              <a class="nav-link" routerLink="/cart" routerLinkActive="active">
              <fa-icon class="ml5" [icon]="faShoppingCart"></fa-icon>السلة
            </a>
          </li>
            <!-- <li>
             
              <a class="nav-link" routerLink="/faqInner" routerLinkActive="active">
              <fa-icon class="ml5" [icon]="faQuestionCircle"></fa-icon>أسئلة شائعة
            </a>
          </li> -->
            
          <!-- <li><a routerLink="/myProjects" class="nav-link ">
              <fa-icon class="ml5" [icon]="faHistory"></fa-icon>مشاريعي السابقة
            </a></li> -->
          <li><a routerLink="/allProjects" routerLinkActive="active" class="nav-link " *ngIf="showPartnerPart">
              <fa-icon class="ml5" [icon]="faBriefcase"></fa-icon>تصفح المشاريع
            </a></li>
            <li *ngIf="showMyPurposals"><a routerLink="/myPurposals" routerLinkActive="active" class="nav-link " >
              <fa-icon class="ml5" [icon]="faFolderOpen"></fa-icon>عروض المشاريع
            </a></li>
            <li><a class="nav-link" routerLink="/myProjects" routerLinkActive="active">
              <fa-icon class="ml5" [icon]="faFolderOpen"></fa-icon>مشاريعي
            </a></li>
        </nav>
      </div>
      <div class=" float-left clearfix top-inner-head d-lg-none d-md-none d-sm-none">
        <div class="float-left">
          <img class="userIconImage" *ngIf="userImageBase!='default' && !adminImage" [src]="newProfileImagePath" />
          <img class="userIconImage" *ngIf="userImageBase=='default' && !adminImage" src="../../assets/images/profile/avatar.png" />
          <img class="userIconImage" *ngIf="adminImage" src="../../../assets/images/profile/goldAvatar.svg" />

        </div>
        
        <div class="float-left m25">
          <div class="btn-group no-arrow">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn plr0 noarrow font20 noBorderNoShadow" ngbDropdownToggle>
                <span *ngIf="unreadMessagesArray.length>0"
                  class="badge badge-light">{{unreadMessagesArray.length}}</span>
                <fa-icon class="f24" [icon]="faEnvelope"></fa-icon>
              </button>
              <div class="dropdown-menu messages-drop-down" ngbDropdownMenu>
                <div class="drop-down-title">
                  <h6 class="notification-title">الرسائل</h6> 
                </div>
                <p class="no-mess" *ngIf="showNoMessages">
                  لا توجد رسائل
                </p>
               
                <div style="color: #247d8f;cursor: pointer;" (click)="readMessage(message)" ngbDropdownItem
                  *ngFor="let message of messagesStorage" [ngClass]="message.read? 'read' : 'unRead'"
                  class="clearfix message">
                  <div class="project-small-image float-right">
                    <img src="../../assets/images/profile/avatar.png">
                  </div>
                  <div class="owner-data">
                    <h5>تزويد - {{message.fromName}}</h5>
                    <span class="gray reg-font font-13">{{message.createAt | date }}</span>
                  </div>
                  <p class="message-brief">{{message.message}}</p>
                </div>
                <!-- <button *ngFor="let message of profileMessages" ngbDropdownItem>{{message.message}} -    </button> -->

              </div>
            </div>
          </div>
        </div>
        <!-- <div class="float-left">
          <div class="btn-group no-arrow">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn plr0 noarrow font20" ngbDropdownToggle>
                <fa-icon class="f24" [icon]="faBell"></fa-icon>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <div class="drop-down-title">
                  <h6 class="notification-title">الإشعارات</h6>
                </div>
                <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
                <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
                <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
              </div>
            </div>
          </div>
        </div> -->


      </div>


      <!-- ACCORDION PART START -->
      <div id="accordion-part" class="d-lg-none d-md-none d-sm-none">

        <div [ngbCollapse]="isCollapsed">
          <ul class="menu">

            <li *ngIf="showPartnerPart" class="list active">
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">
                <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>حسابي
              </a>
            </li>
            <li class="relative list" *ngIf="showClientPart">
              <span *ngIf="clientCreditBalance>0"
                class="badge badge-light cart-num bageForBalance">{{(clientCreditBalance).toFixed(2)}}ر.س</span>
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">
              <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>حسابي
            </a>
          </li>
            <li class="list">
              <a class="nav-link" routerLink="/myProjects" routerLinkActive="active">
                <fa-icon class="ml5" [icon]="faFolderOpen"></fa-icon>مشاريعي
              </a>
            </li>
            <li class="list">
              <a class="nav-link" routerLink="/faqInner" routerLinkActive="active">
                <fa-icon class="ml5" [icon]="faQuestionCircle"></fa-icon>أسئلة شائعة
              </a>
            </li>

            <li *ngIf="showClientPart" class="list">
              <a class="nav-link" routerLink="/cart" routerLinkActive="active">
                <fa-icon class="ml5" [icon]="faShoppingCart"></fa-icon>السلة
              </a>
            </li>
       
            <!-- <li class="list">
              <a routerLink="/myProjects" class="nav-link ">
                <fa-icon class="ml5" [icon]="faHistory"></fa-icon>مشاريعي السابقة
              </a>
            </li> -->
            <li class="list"><a routerLink="/allProjects" routerLinkActive="active" class="nav-link " *ngIf="showPartnerPart">
                <fa-icon class="ml5" [icon]="faBriefcase"></fa-icon>تصفح المشاريع
              </a></li>
            <li class="list" *ngIf="showClientPart">
              <button routerLink="/addProject" routerLinkActive="active" type="submit" class="btn btn-success nobg-btn p520"><span
                  style="padding-left: 5px;">+</span>أضف مشروع</button>
            </li>
         

            <li class="list" *ngIf="showMyPurposals">
              <button routerLinkActive="active" routerLink="/myPurposals"  ngbDropdownItem>
                <fa-icon class="ml5" [icon]="faFolderOpen"></fa-icon>عروض المشاريع
              </button>
            </li>
            <li class="list">
              <button routerLink="/profile" ngbDropdownItem>
                <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>تعديل البيانات الشخصية
              </button>
            </li>
            <li class="list">
              <button (click)="signOut()" type="button" ngbDropdownItem>
                <fa-icon class="ml5" [icon]="faSignOutAlt"></fa-icon>تسجيل الخروج
              </button>

            </li>




          </ul>
        </div>





      </div>
      <!-- ACCORDION PART END -->

      <div class="collapse navbar-collapse d-none d-sm-block" id="navbarText">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active ml30" *ngIf="showClientPart">
            <button routerLink="/addProject" type="submit" class="btn btn-success nobg-btn p520"><span
                style="padding-left: 5px;">+</span>أضف مشروع</button>
          </li>
          <!-- <li class="nav-item ml30">
            <div class="btn-group no-arrow">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn plr0 noarrow font20" ngbDropdownToggle>
                  <fa-icon [icon]="faBell"></fa-icon>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <div class="drop-down-title">
                    <h6 class="notification-title">الإشعارات</h6>
                  </div>
                  <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
                  <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
                  <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
                </div>
              </div>
            </div>
          </li> -->
          <li class="nav-item ml30">
            <div class="btn-group no-arrow">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn plr0 noarrow font20 noBorderNoShadow" ngbDropdownToggle>
                  <span *ngIf="unreadMessagesArray.length>0"
                    class="badge badge-light">{{unreadMessagesArray.length}}</span>
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </button>
                <div class="dropdown-menu messages-drop-down" ngbDropdownMenu>
                  <div class="drop-down-title">
                    <h6 class="notification-title">الرسائل</h6>
                
                  </div>
                  <p class="no-mess"  *ngIf="showNoMessages">
                    لا توجد رسائل
                  </p>
                  <!-- <div style="color: #247d8f;cursor: pointer;" (click)="readMessage(message)" ngbDropdownItem
                    *ngFor="let message of messagesStorage" [ngClass]="message.read? 'read' : 'unRead'"
                    class="clearfix message">
                    <div class="project-small-image float-right">
                      <img src="../../assets/images/profile/avatar.png">
                    </div>
                    <div class="owner-data">
                      <h5>{{message._id.fromName}}</h5>
                      <span class="gray reg-font font-13">{{message.createAt | date : "dd.MM.y h:mm a" }}</span>
                    </div>
                    <p class="message-brief">{{message.message}}</p>
                  </div> -->
                  <!-- <button *ngFor="let message of profileMessages" ngbDropdownItem>{{message.message}} -    </button> -->
                 <!-- <h1>{{messagesStorage | json}}</h1> -->
                  <div style="color: #247d8f;cursor: pointer;" (click)="openAllMessags(message)" ngbDropdownItem
                  *ngFor="let message of messagesStorage" [ngClass]="message.read? 'read' : 'unRead'"
                  class="clearfix message">
                  <div class="project-small-image float-right">
                    <img src="../../assets/images/profile/avatar.png">
                  </div>
                  <div class="owner-data">
                    <h5>تزويد - {{message._id.fromName}}</h5>
                    <span class="gray reg-font font-13">{{message.createAt | date  }}</span>
                  </div>
                  <p class="message-brief">{{message.message}}</p> 
                </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item profile-small-image ml30">
            <div class="btn-group no-arrow">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="dropdown-toggle btn noarrow p0" ngbDropdownToggle>
                  <img class="fff" *ngIf="userImageBase!='default' && !adminImage" [src]="newProfileImagePath" />
                  <img  *ngIf="adminImage" src="../../../assets/images/profile/goldAvatar.svg" />

                  <img class="nnn" *ngIf="userImageBase=='default' && !adminImage" src="../../../assets/images/profile/goldAvatar.svg" />
                </button>

                <div class="dropdown-menu" ngbDropdownMenu>
                  <div class="drop-down-title">
                    <h6 class="notification-title">مرحباً {{userName}}</h6>
                  </div>
                  <button routerLink="/profile" ngbDropdownItem>
                    <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>تعديل البيانات الشخصية
                  </button>
                  <div class="drop-down-footer">
                    <button (click)="signOut()" type="button" ngbDropdownItem>
                      <fa-icon class="ml5" [icon]="faSignOutAlt"></fa-icon>تسجيل الخروج
                    </button>

                  </div>
                </div>
              </div>
            </div>


            <!-- <img  src="../../../assets/images/profile/small.jpg" /> -->
          </li>

          <!-- <li class="nav-item ">
            <button class="sign-out" (click)="signOut()" type="button">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
            </button>

          </li> -->

          <!-- <li class="nav-item ml30">
            <a  routerLink="/messangerLast" routerLinkActive="active">
              <fa-icon class="messanger-icon" [icon]="faEnvelope"></fa-icon>
            </a>
            
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- <h6>{{profileMessages|json}}</h6> -->
<!--<h1>unread message array {{unreadMessagesArray.length}}</h1> -->
