<header class="after-login-header fixed-header">
  <div class=" text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img class="inner-logo" src="../../../assets/images/logo.png" />






      <div class="collapse navbar-collapse d-none d-sm-block" id="navbarText">
        <ul class="navbar-nav mr-auto ">

          <li class="nav-item ml30">
            <div class="btn-group no-arrow">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn plr0 noarrow font20" ngbDropdownToggle>
                  <fa-icon [icon]="faBell"></fa-icon>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <div class="drop-down-title">
                    <h6 class="notification-title">الإشعارات</h6>
                  </div>
                  <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
                  <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
                  <button ngbDropdownItem>تم قبول طلب من العميل. ابدأ الأن</button>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item ml30">
            <div class="btn-group no-arrow">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn plr0 noarrow font20" ngbDropdownToggle>
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <div class="drop-down-title">
                    <h6 class="notification-title">الرسائل</h6>
                  </div>
                  <button ngbDropdownItem>السلام عليكم يا أستاذ عبدالكريم اية الاخبار معاك وهـ</button>
                  <button ngbDropdownItem>السلام عليكم يا أستاذ عبدالكريم اية الاخبار معاك وهـ</button>
                  <button ngbDropdownItem>السلام عليكم يا أستاذ عبدالكريم اية الاخبار معاك وهـ</button>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item profile-small-image ml30">
            <div class="btn-group no-arrow">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="dropdown-toggle btn noarrow p0" ngbDropdownToggle>
                  <img src="../../assets/images/profile/avatar.png" />
                </button>

                <div class="dropdown-menu" ngbDropdownMenu>
                  <div class="drop-down-title">
                    <h6 class="notification-title">مرحباً {{userName}}</h6>
                  </div>
                  <button routerLink="/profile" ngbDropdownItem>
                    <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>تعديل البيانات الشخصية
                  </button>
                  <div class="drop-down-footer">
                    <button (click)="signOut()" type="button" ngbDropdownItem>
                      <fa-icon class="ml5" [icon]="faSignOutAlt"></fa-icon>تسجيل الخروج
                    </button>

                  </div>
                </div>
              </div>
            </div>

          </li>


        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="right-menu">

    <div class="right-profile-menu">
        <tabset class="vertical-left-tabs admin" [vertical]="true" type="pills">
            <tab>
                <ng-template tabHeading>
                    <fa-icon class="ml5" [icon]="faThList"></fa-icon>لوحة التحكم
                  </ng-template>
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-12">
                        <div  class="admin-block d-flex">
                            <div class="admin-icon">
                                <fa-icon class="" [icon]="faUserAlt"></fa-icon>
                            </div>
                            <div>
                                <h6 class="reg-font">عدد الكتاب الحاليين</h6>
                                <h6>21,523</h6>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12">
                        <div  class="admin-block d-flex">
                            <div class="admin-icon">
                                <fa-icon class="blue" [icon]="faUserTie"></fa-icon>
                            </div>
                            <div>
                                <h6 class="reg-font">عدد العملاء</h6>
                                <h6>21,523</h6>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12">
                        <div  class="admin-block d-flex">
                            <div class="admin-icon light-orane">
                                <fa-icon class="orange" [icon]="faUserAlt"></fa-icon>
                            </div>
                            <div>
                                <h6 class="reg-font">الكتاب المسجلين حديثا</h6>
                                <h6>21,523</h6>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12">
                        <div  class="admin-block d-flex">
                            <div class="admin-icon light-purble">
                                <fa-icon class="purble" [icon]="faFolderOpen"></fa-icon>
                            </div>
                            <div>
                                <h6 class="reg-font">عدد المشاريع المفتوحة</h6>
                                <h6>21,523</h6>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12">
                        <div  class="admin-block d-flex">
                            <div class="admin-icon light-green">
                                <fa-icon class="green" [icon]="faCheck"></fa-icon>
                            </div>
                            <div>
                                <h6 class="reg-font">عدد المشاريع المنفذة</h6>
                                <h6>21,523</h6>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12">
                        <div  class="admin-block d-flex">
                            <div class="admin-icon light-yellow">
                                <fa-icon class="yellow" [icon]="faEnvelope"></fa-icon>
                            </div>
                            <div>
                                <h6 class="reg-font">الرسائل</h6>
                                <h6>21,523</h6>
                            </div>
                          </div>
                      </div>
                  </div>
                  
            </tab>
            <tab>
                <ng-template tabHeading>
                    <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>الكتاب
                  </ng-template>
                  الكتاب
            </tab>
            <tab>
                <ng-template tabHeading>
                    <fa-icon class="ml5" [icon]="faUserTie"></fa-icon>العملاء
                  </ng-template>
                  العملاء
            </tab>
            <tab>
                <ng-template tabHeading>
                    <fa-icon class="ml5" [icon]="faChartBar"></fa-icon>تحليل البيانات
                  </ng-template>
                  تحليل البيانات
            </tab>
            <tab>
                <ng-template tabHeading>
                    <fa-icon class="ml5" [icon]="faFolderOpen"></fa-icon>المشاريع
                  </ng-template>
                  المشاريع
            </tab>
            <tab>
                <ng-template tabHeading>
                    <fa-icon class="ml5" [icon]="faHandHoldingUsd"></fa-icon>الأرباح
                  </ng-template>
                  الأرباح
            </tab>
            <tab>
                <ng-template tabHeading>
                    <fa-icon class="ml5" [icon]="faEnvelope"></fa-icon>الرسائل
                  </ng-template>
                  الرسائل
            </tab>
            <tab class="tab-footer">
                <ng-template tabHeading>
                    <!-- <fa-icon class="ml5" [icon]="faSignOutAlt"></fa-icon>تسجيل الخروج -->
                    <button class="signOut" (click)="signOut()" type="button" ngbDropdownItem>
                        <fa-icon class="ml5" [icon]="faSignOutAlt"></fa-icon>تسجيل الخروج
                      </button>
                  </ng-template>
                  
            </tab>
        </tabset>
    </div>
</div>