<app-after-login-header></app-after-login-header>

<div *ngIf="showNoProjectsContainer && showProjects" class="container" style="margin-top:150px;">
  <div class="text-center noProjectsMessage">
    <fa-icon [icon]="faFolderOpen"></fa-icon>
    <h4>لا يوجد مشاريع حاليا</h4>
  </div>

</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />


<div *ngIf="showProjects">


  <div *ngIf="showProjectsContainer" class="container" style="margin-top:30px;">
    <div class="row">
      <!-- right side menu -->
      <div class="col-lg-4 col-md-4 col-12">
        <div class="right-side-caret">
          <h5 class="widget">محتويات السلة</h5>
          <!-- filter block -->
          <div class="caret_total d-flex justify-content-between">

            <h6 class="caret-total-title">عدد المشاريع</h6>
            <h6 class="caret-total-value">{{projectsCount}}</h6>
          </div>
          <hr>
          <div class="caret_total final d-flex justify-content-between">

            <h6 class="caret-total-title">السعر الكلي</h6>
            <!-- {{allAdditionalCost}} -->
            <h6 class="caret-total-value">{{(allCost)?.toFixed(2)}} ر.س</h6>
          </div>
          <div class="">

            <!-- repayAllProject -->
            <button (click)="openPayAllDialog()" type="button" class="btn btn-success">
              ادفع الآن
            </button>
          </div>

        </div>
      </div>
      <!-- projects start -->
      <div class="col-lg-8 col-md-8 col-12">
        <h6 class="cart-main-count">عدد المشاريع في السلة ({{projectsCount}})</h6>
        <div *ngFor="let project of cartedprojects ">
          <div class="card project-item">
            <div class="card-body">
              <!-- <pre>{{project | json}}</pre> -->
              <div class="d-flex justify-content-between">
                <h5 *ngIf="project?.iconName != undefined" class="project-title m0">{{project?.projectTitle?.value}}
                </h5>
                <h5 *ngIf="project?.iconName == undefined" class="project-title m0">{{project?.projectTitle}}</h5>
                <!-- <h5  *ngIf="project?.iconName != undefined" class="project-title m0">dddd</h5> -->

                <div *ngIf="project?.iconName == undefined" class="d-flex">
                  <div *ngIf="project?.jobType=='article'" class="project-category inner d-flex float-left">
                    <fa-icon [icon]="faFileAlt"></fa-icon>
                    <h6 class="cat-text">مقالات</h6>
                  </div>

                  <div *ngIf="project?.jobType=='post'" class="project-category inner d-flex float-left">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                    <h6 class="cat-text">منشورات</h6>
                  </div>

                  <div *ngIf="project?.jobType=='productDescription'" class="project-category inner d-flex float-left">
                    <fa-icon [icon]="faCube"></fa-icon>
                    <h6 class="cat-text">وصف منتج</h6>
                  </div>

                </div>


                <div *ngIf="project?.iconName != undefined" class="d-flex">

                  <div class="project-category inner d-flex float-left">

                    <i [class]=" 'fa '+ project?.iconName"></i>
                    <h6 class="cat-text">{{project?.serviceNameAr}}</h6>
                  </div>
                </div>


              </div>
              <div *ngIf="project?.iconName == undefined" class="d-flex justify-content-between ">
                <h6> {{(project?.totalCost)?.toFixed(2)}} ر.س</h6>
                <h6 *ngIf="project.hasPromoCode==true" class="promo-exist">
                  <s *ngIf="project.addtionalAmount!=undefined">{{(project?.tcbd?.value)?.toFixed(2)}}
                    ر.س</s>
                  <s *ngIf="project.addtionalAmount==undefined">{{(project?.tcbd?.value)?.toFixed(2)}} ر.س</s>

                </h6>
                <div class="project-details-btn reg-font">
                  <button (click)="openProject(project)" type="button" class="btn pl0">تفاصيل المشروع<fa-icon
                      [icon]="faArrowLeft"></fa-icon></button>
                </div>
              </div>


              <div *ngIf="project?.iconName != undefined" class="d-flex justify-content-between ">
                <h6> {{(project?.totalCost?.value)?.toFixed(2)}} ر.س</h6>
                <h6 *ngIf="project?.hasPromoCode?.value==true" class="promo-exist">
                  <s *ngIf="project?.addtionalAmount?.value!=undefined">{{(project?.tcbd?.value)?.toFixed(2)}}
                    ر.س</s>
                  <s *ngIf="project?.addtionalAmount?.value==undefined">{{(project?.tcbd?.value)?.toFixed(2)}}
                    ر.س</s>

                </h6>
                <div class="project-details-btn reg-font">
                  <button (click)="openProject(project)" type="button" class="btn pl0">تفاصيل المشروع<fa-icon
                      [icon]="faArrowLeft"></fa-icon></button>
                </div>
              </div>



              <hr />
              <div class="d-flex justify-content-end">
                <div *ngIf="project.status =='prePayment'" class="project-details-btn reg-font">
                  <button (click)="editPoject(project)" type="button" class="btn pl0">تعديل المشروع<fa-icon
                      [icon]="faArrowLeft"></fa-icon></button>
                </div>
                <!-- <button (click)="showDeleteprojectDialog(project)" type="button"
                class="btn btn-success generalBtnStyle del-project ">
                <fa-icon [icon]="faTrashAlt" style="padding-left: 5px;"></fa-icon>
                تعديل المشروع
              </button> -->

                <button (click)="showDeleteprojectDialog(project)" type="button"
                  class="btn btn-success generalBtnStyle del-project ">
                  <fa-icon [icon]="faTrashAlt" style="padding-left: 5px;"></fa-icon>
                  حذف المشروع
                </button>
                <!-- <button (click)="repayProject(project)" type="button"
                  class="btn btn-success nobg-btn auto-width-btn mr20">
                  الدفع الفردي للمشروع
                </button> -->

                <button (click)="openPayDialog(project)" type="button"
                  class="btn btn-success nobg-btn auto-width-btn mr20">
                  الدفع الفردي للمشروع
                </button>


              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<!-- *ngIf="showLoader" -->
<div *ngIf="showLoaderMaster" class="loader loaderMaster">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
  </div>
</div>
<app-footer-inner></app-footer-inner>


<div *ngIf="deleteprojectMode" class="modal2 custom-modal custom-modal22" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faTrashAlt" style="padding-left: 5px;"></fa-icon>
          حذف مشروع
        </h5>
        <button (click)="closeDeleteprojectDialog()" type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p15 text-right">
        <p class="mt0 reg-font">
          المشروع سيُحذف من السلة !
        </p>
        <!-- <h1>{{projectToDelete | json}}</h1> -->
        <div class="d-flex">
          <button (click)="deleteProject()" type="button" style="margin-left: 10px;"
            class="btn btn-success float-right auto-width-btn admin-btn danger-btn">
            حذف المشروع
          </button>
          <button (click)="closeDeleteprojectDialog()" style="margin-left: 10px;" type="button"
            class="btn btn-success float-right auto-width-btn admin-btn nobg-btn gray-btn">
            <!-- <fa-icon class="ml5" [icon]="faCheck"></fa-icon> -->
            إلغاء الأمر

          </button>


        </div>
        <p *ngIf="deleteSuccess">تم حذف المشروع </p>
        <p *ngIf="deleteFail">حدث خطأ اثناء حذف المشروع </p>

      </div>
    </div>
  </div>
</div>




<div *ngIf="showLoader" class="loader loaderMaster">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
  </div>
</div>






<div *ngIf="payMode" class="billModal billModal600" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="blue-title modal-title">وسيلة الدفع</h5>
        <button (click)="ClosePayDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-right">

        <!-- <pre>{{projectToPay|json}}</pre> -->

        <div>






          <div class="paymentOptions">

            <div class=" cc-selector typeItem">
              <input checked="checked" (change)="changePaymentWay()" id="payGate" type="radio"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentWay" value="paymentgateway" />


              <label class="drinkcard-cc bold-font line40" for="payGate">
                <fa-icon [icon]="faCcVisa"></fa-icon>
                البطاقة الائتمانية

              </label>

            </div>
            <div class=" cc-selector typeItem">
              <input checked="checked" (change)="changePaymentWay()" id="credit" type="radio"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentWay" value="credit" />


              <label class="drinkcard-cc bold-font line40" for="credit">
                <fa-icon [icon]="faWallet"></fa-icon>
                المحفظة

                {{(clientCreditBalance)?.toFixed(2)}} ر.س

              </label>

            </div>


          </div>


        </div>


        <div *ngIf="payWithTax">

          <div *ngIf="projectToPay?.iconName == undefined">
            <div class="form-group d-flex justify-content-between">
              <span>الإجمالي (التكلفة + الأجر الإضافي)</span>
              <span *ngIf="projectToPay?.addtionalAmount!=undefined"
                class="colored">{{(projectToPay?.amount + projectToPay?.addtionalAmount)?.toFixed(2)}} ر.س</span>
              <span *ngIf="projectToPay?.addtionalAmount==undefined"
                class="colored">{{(projectToPay?.amount)?.toFixed(2)}}
                ر.س</span>
            </div>

            <div class="form-group d-flex justify-content-between">
              <span>
                ضريبة القيمة المضافة
                <span class="m5">{{projectToPay?.taxPercentage}}%</span>
              </span>
              <span class="colored">{{(projectToPay?.taxAmount)?.toFixed(2)}} ر.س</span>
            </div>
            <div *ngIf="projectToPay?.promoCodeAmount!=undefined" class="form-group d-flex justify-content-between">
              <span>
                الخصم
              </span>
              <span class="colored">-{{(projectToPay?.promoCodeAmount)?.toFixed(2)}} ر.س</span>
            </div>
            <div class="form-group d-flex justify-content-between">
              <span>
                الإجمالي بعد إضافة ضريبة القيمة المضافة
              </span>
              <span class="colored">{{(+projectToPay?.totalCost)?.toFixed(2)}} ر.س</span>
            </div>

            <div class="text-center">

              <button (click)="repayProject()" type="button" class="btn btn-success">
                ادفع الآن
              </button>
            </div>
          </div>



          <div *ngIf="projectToPay?.iconName != undefined">
            <!-- <pre>{{projectToPay | json}}</pre> -->
            <div class="form-group d-flex justify-content-between">
              <span>الإجمالي (التكلفة + الأجر الإضافي)</span>
              <span *ngIf="projectToPay?.addtionalAmount?.value!=undefined"
                class="colored">{{(projectToPay?.priceOption?.amount + projectToPay?.priceOption?.deliver?.amount +  projectToPay?.addtionalAmount?.value)?.toFixed(2)}}
                ر.س</span>
              <span *ngIf="projectToPay?.addtionalAmount?.value==undefined"
                class="colored">{{(+projectToPay?.priceOption?.amount + +projectToPay?.priceOption?.deliver?.amount)}}
                ر.س</span>
            </div>

            <div  class="form-group d-flex justify-content-between">
              <span>
                ضريبة القيمة المضافة
                <span class="m5">{{projectToPay.taxPercentage.value}}%</span>
              </span>
              <span  class="colored">{{(projectToPay.taxAmount.value)?.toFixed(2)}} ر.س</span>
            </div>
            <div *ngIf="projectToPay?.promoCodeAmount?.value!=undefined"
              class="form-group d-flex justify-content-between">
              <span>
                الخصم
              </span>
              <span class="colored">-{{(projectToPay?.promoCodeAmount?.value)?.toFixed(2)}} ر.س</span>
            </div>
            <div class="form-group d-flex justify-content-between">
              <span>
                الإجمالي بعد إضافة ضريبة القيمة المضافة
              </span>
              <span class="colored">{{(+projectToPay?.totalCost?.value)?.toFixed(2)}} ر.س</span>
            </div>

            <div class="text-center">

              <button (click)="repayProject()" type="button" class="btn btn-success">
                ادفع الآن
              </button>
            </div>
          </div>


        </div>



        <div *ngIf="!payWithTax">

          <div *ngIf="projectToPay?.iconName == undefined">
            <div class="form-group d-flex justify-content-between">
              <span>الإجمالي (التكلفة + الأجر الإضافي)</span>
              <span *ngIf="projectToPay?.addtionalAmount!=undefined"
                class="colored">{{(projectToPay?.amount + projectToPay?.addtionalAmount)?.toFixed(2)}} ر.س</span>
              <span *ngIf="projectToPay?.addtionalAmount==undefined"
                class="colored">{{(projectToPay?.amount)?.toFixed(2)}}
                ر.س</span>
            </div>
            <div *ngIf="projectToPay?.promoCodeAmount!=undefined" class="form-group d-flex justify-content-between">
              <span>
                الخصم
              </span>
              <span class="colored">-{{(projectToPay?.promoCodeAmount)?.toFixed(2)}} ر.س</span>
            </div>

            <div class="form-group d-flex justify-content-between">
              <span>
                الإجمالي
              </span>
              <span class="colored">{{(projectToPay?.totalCost - projectToPay?.taxAmount)?.toFixed(2)}} ر.س</span>
            </div>
            <h6 *ngIf="nosuffAll" class="text-center red-tex">الرصيد لا يكفي</h6>
            <div class="text-center">

              <button (click)="payProjectFromCredit()" type="button" class="btn btn-success">
                ادفع الآن
              </button>
            </div>
          </div>



          <div *ngIf="projectToPay?.iconName != undefined">
            <div class="form-group d-flex justify-content-between">
              <span>الإجمالي (التكلفة + الأجر الإضافي)</span>
              <span *ngIf="projectToPay?.addtionalAmount?.value!=undefined"
                class="colored">{{(projectToPay?.priceOption?.amount + projectToPay?.addtionalAmount?.value + +projectToPay?.priceOption?.deliver?.amount).toFixed(2)}} ر.س</span>
              <span *ngIf="projectToPay?.addtionalAmount?.value==undefined"
                class="colored">{{(projectToPay?.priceOption?.amount + +projectToPay?.priceOption?.deliver?.amount).toFixed(2)}}
                ر.س</span>
            </div>
            <div *ngIf="projectToPay?.promoCodeAmount?.value!=undefined" class="form-group d-flex justify-content-between">
              <span>
                الخصم
              </span>
              <span class="colored">-{{(projectToPay?.promoCodeAmount?.value)?.toFixed(2)}} ر.س</span>
            </div>

            <div class="form-group d-flex justify-content-between">
              <span>
                الإجمالي
              </span>
              <span class="colored">{{(projectToPay?.totalCost?.value - projectToPay?.taxAmount?.value)?.toFixed(2)}} ر.س</span>
            </div>
            <h6 *ngIf="nosuffAll" class="text-center red-tex">الرصيد لا يكفي</h6>
            <div class="text-center">

              <button (click)="payProjectFromCredit()" type="button" class="btn btn-success">
                ادفع الآن
              </button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>



<div *ngIf="payFromCreditSuccess" class="modal2 custom-modal custom-modal22" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          دفع المشروع بالمحفظة
        </h5>

      </div>
      <div class="modal-body p15 text-right">

        <p>تم الدفع بنجاح </p>

      </div>
    </div>
  </div>
</div>



<div *ngIf="payFromCreditFail" class="modal2 custom-modal custom-modal22" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          دفع المشروع بالمحفظة
        </h5>
        <button (click)="payFromCreditFailMet()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p15 text-right">

        <p>خطأ أثناء الدفع </p>

      </div>
    </div>
  </div>
</div>




<div *ngIf="paymentNotSufficientPost" class="modal2 custom-modal custom-modal22 addition-box" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">إتمام الدفع بالمحفظة</h5>
        <button (click)="closeNoBalnceValidPost()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-right">
        <h6 class="reg-font red-tex">الرصيد لا يكفي</h6>

      </div>
    </div>
  </div>
</div>






<div *ngIf="payModeAll" class="billModal billModal600" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="blue-title modal-title">وسيلة الدفع</h5>
        <button (click)="closePayAllDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-right">

        <!-- <pre>{{projectToPay|json}}</pre> -->

        <div>






          <div class="paymentOptions">

            <div class=" cc-selector typeItem">
              <input checked="checked" (change)="changePaymentWayAll()" id="payGateAll" type="radio"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentWayAll" value="paymentgateway" />


              <label class="drinkcard-cc bold-font line40" for="payGateAll">
                <fa-icon [icon]="faCcVisa"></fa-icon>
                البطاقة الائتمانية

              </label>

            </div>
            <div class=" cc-selector typeItem">
              <input checked="checked" (change)="changePaymentWayAll()" id="creditAll" type="radio"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentWayAll" value="credit" />


              <label class="drinkcard-cc bold-font line40" for="creditAll">
                <fa-icon [icon]="faWallet"></fa-icon>
                المحفظة

                {{(clientCreditBalance)?.toFixed(2)}} ر.س

              </label>

            </div>


          </div>


        </div>


        <div *ngIf="payWithTaxAll">
          <div class="form-group d-flex justify-content-between">
            <span>الإجمالي (التكلفة + الأجر الإضافي)</span>
            <span class="colored">{{(allTotalWithoutTax)?.toFixed(2)}} ر.س</span>
          </div>

          <div class="form-group d-flex justify-content-between">
            <span>
              ضريبة القيمة المضافة
              <span class="m5">{{taxValue}}%</span>
            </span>
            <span class="colored">{{(allTaxValue)?.toFixed(2)}} ر.س</span>
          </div>
          <div *ngIf="allPromoValue!=0" class="form-group d-flex justify-content-between">
            <span>
              الخصم
            </span>
            <span class="colored">-{{(allPromoValue)?.toFixed(2)}} ر.س</span>
          </div>


          <div class="form-group d-flex justify-content-between">
            <span>
              الإجمالي بعد إضافة ضريبة القيمة المضافة
            </span>
            <span class="colored">{{(+allCost)?.toFixed(2)}} ر.س</span>
          </div>

          <div class="text-center">

            <button (click)="repayAllProject()" type="button" class="btn btn-success">
              ادفع الآن
            </button>
          </div>

        </div>
        <div *ngIf="!payWithTaxAll">
          <div class="form-group d-flex justify-content-between">
            <span>الإجمالي (التكلفة + الأجر الإضافي)</span>
            <span class="colored">{{(allTotalWithoutTax)?.toFixed(2)}} ر.س</span>
          </div>
          <!-- <div *ngIf="projectToPay?.promoCodeAmount!=undefined" class="form-group d-flex justify-content-between">
            <span>
              الخصم
            </span>
            <span class="colored">-{{(projectToPay?.promoCodeAmount).toFixed(2)}} ر.س</span>
          </div> -->
          <div *ngIf="allPromoValue!=0" class="form-group d-flex justify-content-between">
            <span>
              الخصم
            </span>
            <span class="colored">-{{(allPromoValue)?.toFixed(2)}} ر.س</span>
          </div>
          <div *ngIf="allPromoValue==0" class="form-group d-flex justify-content-between">
            <span>
              الإجمالي
            </span>
            <span class="colored">{{(allTotalWithoutTax)?.toFixed(2)}} ر.س</span>
          </div>
          <div *ngIf="allPromoValue!=0" class="form-group d-flex justify-content-between">
            <span>
              الإجمالي
            </span>
            <span class="colored">{{(allTotalWithoutTax - allPromoValue)?.toFixed(2)}} ر.س</span>
          </div>
          <h6 *ngIf="nosuffAll" class="text-center red-tex">الرصيد لا يكفي</h6>
          <div class="text-center">

            <button (click)="payAllProjectFromCredit()" type="button" class="btn btn-success">
              ادفع الآن
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
