<app-header></app-header>
<!-- ======= intro Section ======= -->
<!-- <div class="site-wraper"> -->


  <section id="intro" class="d-flex align-items-center intro">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 pt-5 pt-lg-0  d-flex flex-column justify-content-center">
          <h1>عدد لا محدود من الكتاب المحترفين مستعدون لخدمتك</h1>
          <p>نعمل كل يوم في تزويد لمساعدة عملائنا في النمو عبر كتابة محتوى مميز
            يجعل مواقعهم متجددة وصديقة لمحركات البحث.</p>
          <button routerLink="/clientRegister" type="button" class="btn btn-success generalBtnStyle">اطلب تزويد</button>
        </div>
        <div class="col-lg-7">
          <img src="../../../assets/images/introImg.png" class="img-fluid animated mr-auto d-block intro-img" alt="">
        </div>
      </div>
    </div>

  </section><!-- End intro -->


  <!-- ======= steps Section ======= -->
  <section id="steps" class="d-flex align-items-center p100 steps">

    <div class="container">
      <h1 class="text-center mb70">تزويد مختلف</h1>
      <div class="row">
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <h1>
            <img style="margin-bottom: 10px;" src="../../../assets/images/infinity.svg" />
          </h1>

          <h1>محتوى لا يتوقف</h1>
          <p class="w-100 mx-auto"> البحث عن كاتب جديد في كل مرة مهمة صعبة، ولكن مع تزويد أنت أمام جيش من الكتاب
            المستعدين
            للكتابة من أجلك بلا توقف.</p>
        </div>
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <h1>
            <img style="margin-bottom: 10px;" src="../../../assets/images/lamb.svg" />
          </h1>
          <h1>أفكار محبوبة</h1>
          <p class="w-100 mx-auto">علاقتك مع الجمهور تزيد كلما شاركتهم أفكارك الرائعة، ومع تزويد ستشاركهم أفكارك وأفكار
            مئات الكتاب الذين يفهمون جمهورك.</p>
        </div>
        <div class="col-lg-4  d-flex flex-column justify-content-center text-center">
          <h1>
            <img style="margin-bottom: 10px;" src="../../../assets/images/develop.svg" />
          </h1>
          <h1>نمو سريع</h1>
          <p class="w-100 mx-auto">حينما تقرر التسويق بالمحتوى فلن تفكر في تلك المهام الصعبة بعد الآن. كتاب تزويد يقدمون
            لك أفضل ما عندهم لتتفرغ أنت لأعمالك وتستمتع بتزايد أرقامك
          </p>
        </div>
      </div>
    </div>

  </section><!-- End steps -->
  <!-- ======= unique Section ======= -->
  <section id="unique" class="d-flex align-items-center unique">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="../../../assets/images/writer.png" class="img-fluid animated float-right " alt="">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0  d-flex flex-column justify-content-center">
          <h1>فرصة عمل للكاتب المميز </h1>
          <p>نؤمن في تزويد أن الكاتب المميز يستطيع رؤية الأشياء بعين مختلفة، ويلاعب الأفكار بعقل ذكي، ويشارك المعلومة
            بأسلوب ماتع ويحكي القصة بإثارة، ويستحق فرصة تليق به.</p>
          <button routerLink="/clientRegister" type="button" class="btn btn-success generalBtnStyle mw70">اعمل مع تزويد
            الآن
          </button>
        </div>

      </div>
    </div>

  </section><!-- End unique -->

  <!-- ======= start adding Section ======= -->
  <section id="startAdding" class="d-flex align-items-center start-edit-section">

    <div class="container">

      <h1>أنت تحتاج تزويد </h1>
      <p class="w-75 mx-auto my-4"> نخبة من الكتاب المميزين سيبدؤون بالكتابة فور تقديمك للطلب. </p>
      <p class="w-75 mx-auto my-4"> أخبرهم عن احتياجك وانتظر إبداعهم. </p>
      <button routerLink="/clientRegister" type="button" class="btn btn-success generalBtnStyle white_btn">اطلب
        تزويد</button>
    </div>




  </section><!-- End start adding -->
<!-- </div> -->
<app-footer></app-footer>
