<footer>

    <div class="container text-center">
      <div class="row p-50">
        <div class="col-12 col-lg-4 col-md-4 text-right">
          <img class="logo" src="../../../assets/images/logo.png" alt="شعار تزويد" />
          <p class="w-75">منصة تمكن الشركات من طلب خدمات الكتابة
            بأفضل طريقة، فهي تختصر وقت البحث عن الكاتب المميز والأفكار الجديدة
            وتساعد على ضمان محتوى متجدد.</p>
        </div>
        <div class="col-12 col-lg-4 col-md-4 text-right"> 
          <div class="row">
  
            <div class="col-lg-6 col-md-6 col-12">
              <h1 class="head">معلومات </h1>
              <ul>
                <li><a  routerLink="/faqInner">أسئلة شائعة</a></li>
                <li><a  routerLink="/sitePolicyInner">اتفاقية الاستخدام</a></li>
                <li *ngIf="showClientPart"><a  routerLink="/siteServicesInner">الأسعار</a></li> 
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-12 text-right">
              <h1 class="head">روابط سريعة</h1>
              <ul>
                <li><a href="https://ziid.net/" target="_blank">موقع زد </a></li>
                <li><a href="https://www.tazwed.net/blog/" target="_blank">المدونة </a></li>
                <li *ngIf="showClientPart">
                  <a routerLink="/addProject">اطلب محتوى</a> 
                </li>
                <!-- <li *ngIf="showPartnerPart"><a>فرصة عمل</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-4 text-right">
          <h1 class="head">تابعونا على مواقع التواصل الاجتماعي</h1>
          <ul class="d-flex social-box">
            <li><a>
                <fa-icon [icon]="faTwitter"></fa-icon>
              </a></li>
            <li><a>
                <fa-icon [icon]="faInstagram"></fa-icon>
              </a></li>
            <li><a>
                <fa-icon [icon]="faLinkedinIn"></fa-icon>
              </a></li>
            <li><a>
                <fa-icon [icon]="faFacebookF"></fa-icon>
              </a></li>
          </ul>
        </div>
  
      </div>
      <div class="row copyright">
        <p style="width: 100%;">جميع الحقوق محفوظة {{dateNow | date:'yyyy'}} © لمنصة تزويد</p>
      </div>
  
    </div>
    <a  href="https://api.whatsapp.com/send?phone=+966 55 901 5554⁩" class="whatsappfixed" target="_blank">
      <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>
      <!-- <a href="whatsapp://tel:+966 55 901 5554" class="whatsappfixed" target="_blank">
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a> -->
  </footer>
  