<app-after-login-header></app-after-login-header>

<div *ngIf="showEditSuccessMessage" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تعديل بيانات المستخدم</h5> 
        <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>تم تعديل بيانات المستخدم بنجاح</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showUploadImageMessage" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تغيير صورة البروفايل</h5>
        <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>تم رفع صورة البروفايل بنجاح</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showUploadImageMessageFail" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تغيير صورة البروفايل</h5>
        <button (click)="closeDialogFail()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>خطأ أثناء تغيير الصورة</p>
      </div>
    </div>
  </div>
</div>



<div *ngIf="showResetPasswordMessage" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تعديل كلمة المرور</h5>
        <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>تم تعديل كلمة المرور بنجاح</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">


  <h1>upload image </h1>
  <form (keydown.enter)="$event.preventDefault()" class="col-lg-6 col-md-6 col-sm-12 col-12 mt20"
    [formGroup]="uploadImageForm" (ngSubmit)="uploadImage()">

    <div class="form-group attach-container">

      <input type="file" name="attach" accept="image/x-png,image/jpeg" class="form-control attach-input"
        (change)="onChange($event)" placeholder="رابط الصورة الشخصية">
      <input type="text" hidden name="attach" class="form-control" formControlName="image">

    </div>
    <button type="submit" class="btn btn-success">upload image</button>

  </form>

</div> -->

<!-- <h1>user image {{userImageBase}}</h1> -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="right-menu">
        <!-- <ngb-toast *ngIf="showMessage" header="تغيير صورة البروفايل" [autohide]="false" (hidden)="show=false">
                تم رفع صورة البروفايل بنجاح
              </ngb-toast> -->
        <div class="user-image medium-profile-image image-block-top">
          <div class="d-inline-block upload-image-block">


            <img *ngIf="userImageBase!='default'" [src]="newProfileImagePath" />
            <img *ngIf="userImageBase=='default'" src="../../assets/images/profile/avatar.png" />
            <div class="upload-tool">
              <fa-icon class="upload-profile-icon" [icon]="faImage">
                
              <!-- <input type="text" hidden name="attach" class="form-control" formControlName="image"> -->
              
              </fa-icon>
              <input type="file" name="attach" accept="image/x-png,image/jpeg" class="attach-image-last"
                (change)="onChange($event)" placeholder="رابط الصورة الشخصية">
            </div>
          </div>
          <h5>{{firstNameProfile}} {{lastNameProfile}}</h5>
          <h6 *ngIf="userTypeProfile =='partner'">كاتب</h6>
          <h6 *ngIf="userTypeProfile =='client'">عميل</h6>
          <h6 *ngIf="userTypeProfile =='admin'">أدمن / صاحب الموقع</h6>

        </div>


        <div class="right-profile-menu">

          <tabset class="vertical-left-tabs" [vertical]="true" type="pills">
            <tab>
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>البيانات الشخصية
              </ng-template>
              <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="editForm" (ngSubmit)="updateProfile()">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <label>الاسم الاول</label>
                      <input type="text" name="firstName" class="form-control" formControlName="firstName" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <label>اسم العائلة</label>
                      <input type="text" name="lastName" class="form-control" formControlName="lastName" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>الدولة</label>
                      <input type="text" name="lastName" class="form-control" formControlName="country" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>نبذة عن المستخدم</label>
                      <input type="text" name="lastName" class="form-control" formControlName="briefOfWriter" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>مجالات الاهتمام</label>
                      <ul class="tags d-flex">
                        <li class="tag-item" *ngFor="let tag of FieldOfInterestProfile">{{tag}}</li>
                      </ul>
                      <label>تعديل مجالات الاهتمام</label>
                      <mat-form-field class="form-control">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                          <mat-chip *ngFor="let tag of tagsList"  [selectable]="selectable"
                                   [removable]="removable" (removed)="remove(tag)">
                            {{tag.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input 
                                 [matChipInputFor]="chipList"
                        
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                      </mat-form-field>


                   
                    </div>
                  </div>
                  
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>تاريخ الميلاد</label>
                      <input type="date" name="lastName" class="form-control" formControlName="dob" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>رقم المحمول</label>
                      <input type="text" name="lastName" class="form-control" formControlName="mobileNumber" />
                      <span class="gray reg-font">سيتم استخدام رقم الجوال للمراسلات مع إدارة الموقع ولا يعلن
                        للزوار</span>

                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <div>
                        <label>الجنس</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" value="male" name="gender" formControlName="gender"
                          class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">ذكر</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" value="female" name="gender"
                          formControlName="gender" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">انثى</label>
                      </div>

                    </div>
                  </div>
                  <div class="text-center col-lg-12 col-md-12 col-12">
                    <button type="submit" class="btn btn-success">حفظ التعديلات</button>
                  </div>

                </div>
              </form>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span class="ml5 size-16">@</span>معلومات الحساب
                <!-- <fa-icon class="ml5" [icon]="faTable"></fa-icon>معلومات الحساب -->
              </ng-template>
              <div class="form-group">
                <label>نوع الحساب</label>
                <input *ngIf="userTypeProfile=='partner'" type="text" class="form-control" value="كاتب" disabled />
                <input *ngIf="userTypeProfile=='client'" type="text" class="form-control" value="عميل" disabled />
                <input *ngIf="userTypeProfile=='admin'" type="text" class="form-control" value="أدمن / صاحب الموقع"
                  disabled />
              </div>
              <div class="form-group">
                <label>البريد الالكتروني</label>
                <input type="text" name="firstName" class="form-control" disabled [value]="emailProfile" />
              </div>
              <div class="form-group">
                <label>Username</label>
                <input type="text" name="firstName" class="form-control" disabled [value]="userNameProfile" />
              </div>
              <div class="form-group">
                <label>تاريخ الانشاء</label>
                <input type="text" name="firstName" class="form-control" disabled [value]="dateOfCreateProfile |date" />
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faLock"></fa-icon>تغيير كلمة المرور
              </ng-template>
              <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="resetPasswordForm"
                (ngSubmit)="resetPassword()">
                <div class="form-group">
                  <label>كلمة المرور الجديدة</label>
                  <input type="password" class="form-control" formControlName="newPassword" />
                </div>
                <div class="form-group">
                  <label>تأكيد كلمة المرور الجديدة</label>
                  <input type="password" class="form-control" formControlName="reNewPassword" />
                  <span *ngIf="showPasswordMatchError" class="gray reg-font red">تأكيد كلمة المرور غير مطابق لكلمة
                    المرور</span>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success">حفظ التعديلات</button>
                </div>
              </form>
            </tab>
            <tab *ngIf="userTypeProfile =='partner'">
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faArchive"></fa-icon>رصيدي
              </ng-template>
              <fa-icon class="ml5" [icon]="faArchive"></fa-icon> {{partnerBalance}} ريال
            </tab>
            <tab>
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faStar"></fa-icon>التقييمات
              </ng-template>
              <div class="ratingContainer">
                <div class="rate" *ngFor="let rate of profileRating">
                  <h6>{{rate.firstName}} {{rate.lastName}}</h6>
                  <ngb-rating max="5" [rate]="rate.rate"></ngb-rating>
                  <h6>{{rate.comment}}</h6>

                  <hr />

                </div>
              </div>
            </tab>

          </tabset>


        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showLoaderMaster"  class="loader loaderMaster">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
    </div>
</div>