<app-after-login-header></app-after-login-header>
<!-- <h1>{{myProjects | json}}</h1> -->
<div *ngIf="showEditSuccessMessage" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تعديل بيانات المستخدم</h5>
        <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>تم تعديل بيانات المستخدم بنجاح</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showUploadImageMessage" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تغيير صورة البروفايل</h5>
        <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>تم رفع صورة البروفايل بنجاح</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showUploadImageMessageFail" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تغيير صورة البروفايل</h5>
        <button (click)="closeDialogFail()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>خطأ أثناء تغيير الصورة</p>
      </div>
    </div>
  </div>
</div>



<div *ngIf="showResetPasswordMessage" class="modal2 custom-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تعديل كلمة المرور</h5>
        <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>تم تعديل كلمة المرور بنجاح</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">


  <h1>upload image </h1>
  <form (keydown.enter)="$event.preventDefault()" class="col-lg-6 col-md-6 col-sm-12 col-12 mt20"
    [formGroup]="uploadImageForm" (ngSubmit)="uploadImage()">

    <div class="form-group attach-container">

      <input type="file" name="attach" accept="image/x-png,image/jpeg" class="form-control attach-input"
        (change)="onChange($event)" placeholder="رابط الصورة الشخصية">
      <input type="text" hidden name="attach" class="form-control" formControlName="image">

    </div>
    <button type="submit" class="btn btn-success">upload image</button>

  </form>

</div> -->

<!-- <h1>user image {{userImageBase}}</h1> -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="right-menu">
        <!-- <ngb-toast *ngIf="showMessage" header="تغيير صورة البروفايل" [autohide]="false" (hidden)="show=false">
                تم رفع صورة البروفايل بنجاح
              </ngb-toast> -->
        <div class="user-image medium-profile-image image-block-top">
          <div class="d-inline-block upload-image-block">


            <img *ngIf="userImageBase!='default'" [src]="newProfileImagePath" />
            <img *ngIf="userImageBase=='default'" src="../../assets/images/profile/goldAvatar.svg" />
            <div class="upload-tool">
              <fa-icon class="upload-profile-icon" [icon]="faImage">

                <!-- <input type="text" hidden name="attach" class="form-control" formControlName="image"> -->

              </fa-icon>
              <input type="file" name="attach" accept="image/x-png,image/jpeg" class="attach-image-last"
                (change)="onChange($event)" placeholder="رابط الصورة الشخصية">
            </div>
          </div>
          <h5>{{firstNameProfile}} {{lastNameProfile}}</h5>
          <h6 class="gary-off" *ngIf="userTypeProfile =='partner'">كاتب</h6>
          <h6 class="gary-off" *ngIf="userTypeProfile =='client'">عميل</h6>
          <h6 class="gary-off" *ngIf="userTypeProfile =='admin'">أدمن / صاحب الموقع</h6>

        </div>


        <div class="right-profile-menu">

          <tabset class="vertical-left-tabs profilTabs" [vertical]="true" type="pills">
            <tab>
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>البيانات الشخصية
              </ng-template>
              <div *ngIf="!showEditMode" class="normalProfileData">
                <div class="profile-item-row d-flex">
                  <div>
                    <fa-icon class="profile-right-icon" [icon]="faLightbulb"></fa-icon>
                  </div>
                  <div>
                    <span *ngIf="sessionUserType=='partner'" class="reg-font gray">نبذة عن الكاتب</span>
                    <span *ngIf="sessionUserType=='client'" class="reg-font gray">نبذة عن العميل</span>
                    <p class="p-style">
                      {{briefOfWriterProfile}}
                    </p>
                  </div>
                </div>
                <hr />

                <div class="profile-item-row d-flex">
                  <div>
                    <fa-icon class="profile-right-icon" [icon]="faBriefcase"></fa-icon>
                  </div>
                  <div>
                    <span class="reg-font gray">مجالات الاهتمام</span>
                    <ul class="tags d-flex mt10">
                      <li class="tag-item" *ngFor="let tag of FieldOfInterestProfile">{{tag}}</li>
                    </ul>
                  </div>
                </div>
                <hr />

                <div class="profile-item-row d-flex">
                  <div>
                    <fa-icon class="profile-right-icon" [icon]="faGlobeAfrica"></fa-icon>
                  </div>
                  <div>
                    <span class="reg-font gray">الدولة</span>

                    <p class="p-style">
                      {{countryProfile}}
                    </p>
                  </div>
                </div>
                <hr />
                <div class="profile-item-row d-flex">
                  <div>
                    <fa-icon class="profile-right-icon" [icon]="faBuilding"></fa-icon>
                  </div>
                  <div>
                    <span class="reg-font gray">أسم الشركة</span>
                    <p class="p-style">
                      {{companyNameProfile}}
                    </p>
                  </div>
                </div>
                <hr />
                <div class="profile-item-row d-flex">
                  <div>
                    <fa-icon class="profile-right-icon" [icon]="faBirthdayCake"></fa-icon>
                  </div>
                  <div>
                    <span class="reg-font gray">تاريخ الميلاد</span>
                    <p class="p-style">
                      {{dobProfile}}
                    </p>
                  </div>
                </div>
                <hr />

                <div class="profile-item-row d-flex">
                  <div>
                    <fa-icon class="profile-right-icon" [icon]="faPhone"></fa-icon>
                  </div>
                  <div>
                    <span class="reg-font gray">رقم المحمول</span>
                    <p class="p-style">
                      {{phoneNumberProfile}}
                    </p>
                  </div>
                </div>
                <hr />

                <div class="profile-item-row d-flex">
                  <div>
                    <fa-icon class="profile-right-icon" [icon]="faVenusMars"></fa-icon>
                  </div>
                  <div>
                    <span class="reg-font gray">الجنس</span>
                    <p *ngIf="genderProfile=='male'" class="p-style">
                      ذكر

                    </p>
                    <p *ngIf="genderProfile=='female'" class="p-style">

                      انثى

                    </p>
                  </div>
                </div>


                <div class="text-center col-lg-12 col-md-12 col-12">
                  <button (click)="changetoEditMode()" type="button" class="btn btn-success">
                    <fa-icon [icon]="faUserEdit" class="ml5"></fa-icon>
                    تعديل البيانات الشخصية

                  </button>
                </div>


              </div>


              <form *ngIf="showEditMode" (keydown.enter)="$event.preventDefault()" [(formGroup)]="editForm"
                (ngSubmit)="updateProfile()">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <label>الاسم الاول</label>
                      <input (keyup)="logValue($event,'firstName')" type="text" name="firstName" class="form-control"
                        formControlName="firstName" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <label>اسم العائلة</label>
                      <input (keyup)="logValue($event,'lastName')" type="text" name="lastName" class="form-control"
                        formControlName="lastName" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <label>الدولة</label>
                      <select id="country" class="form-control" [ngClass]="notSelected?'error':''"
                        formControlName="country">
                        <option value="0" disabled>اختر البلد</option>
                        <option [value]="country.name" *ngFor="let country of allCountries">{{country?.name}}
                        </option>
                        <!-- <option>السعودية</option> -->
                      </select>
                      <!-- <input (keyup)="logValue($event,'country')" type="text" name="lastName" class="form-control"
                        formControlName="country" /> -->
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <label>اسم الشركة</label>
                      <input (keyup)="logValue($event,'companyName')" type="text" class="form-control"
                        formControlName="companyName" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>نبذة عن المستخدم</label>
                      <input (keyup)="logValue($event,'briefOfWriter')" type="text" name="lastName" class="form-control"
                        formControlName="briefOfWriter" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>مجالات الاهتمام</label>
                      <ul class="tags d-flex">
                        <li class="tag-item" *ngFor="let tag of FieldOfInterestProfile">{{tag}}</li>
                      </ul>
                      <label>تعديل مجالات الاهتمام</label>
                      <mat-form-field class="form-control">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                          <mat-chip *ngFor="let tag of tagsList" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(tag)">
                            {{tag.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                      </mat-form-field>



                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>تاريخ الميلاد</label>
                      <input type="date" name="lastName" class="form-control auto-width" formControlName="dob" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <label>رقم المحمول</label>
                      <input pattern="[0-9]*" type="number" (keypress)="preventNonNumericalInput($event)"
                        name="lastName" class="form-control small-input" formControlName="mobileNumber" />
                      <!-- <input class="small-input " pattern="[0-9]*" value="" type="number" onkeypress="preventNonNumericalInput(event)"> -->

                      <span class="gray reg-font">سيتم استخدام رقم الجوال للمراسلات مع إدارة الموقع ولا يعلن
                        للزوار</span>

                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-group">
                      <div>
                        <label>الجنس</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" value="male" name="gender" formControlName="gender"
                          class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">ذكر</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" value="female" name="gender"
                          formControlName="gender" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">انثى</label>
                      </div>

                    </div>
                  </div>
                  <div class="text-center col-lg-12 col-md-12 col-12">
                    <button [disabled]="!editForm.valid" type="submit" class="btn btn-success">حفظ التعديلات</button>
                  </div>

                </div>
              </form>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span class="ml5 size-16">@</span>معلومات الحساب
                <!-- <fa-icon class="ml5" [icon]="faTable"></fa-icon>معلومات الحساب -->
              </ng-template>
              <div class="form-group">
                <label>نوع الحساب</label>
                <input *ngIf="userTypeProfile=='partner'" type="text" class="form-control" value="كاتب" disabled />
                <input *ngIf="userTypeProfile=='client'" type="text" class="form-control" value="عميل" disabled />
                <input *ngIf="userTypeProfile=='admin'" type="text" class="form-control" value="أدمن / صاحب الموقع"
                  disabled />
              </div>
              <div class="form-group">
                <label>البريد الالكتروني</label>
                <input type="text" name="firstName" class="form-control" disabled [value]="emailProfile" />
              </div>
              <div class="form-group">
                <label>Username</label>
                <input type="text" name="firstName" class="form-control" disabled [value]="userNameProfile" />
              </div>
              <div class="form-group">
                <label>تاريخ الانشاء</label>
                <input type="text" name="firstName" class="form-control" disabled
                  [value]="dateOfCreateProfile |date " />
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faLock"></fa-icon>تغيير كلمة المرور
              </ng-template>
              <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="resetPasswordForm"
                (ngSubmit)="resetPassword()">
                <div class="form-group">
                  <label>كلمة المرور الجديدة</label>
                  <input type="password" class="form-control" formControlName="newPassword" />
                  <span class="help-block error-help"
                    *ngIf="!resetPasswordForm.get('newPassword').valid && resetPasswordForm.get('newPassword').touched">
                    <fa-icon [icon]="faExclamationCircle"></fa-icon>
                    كلمة المرور لابد ان تكون 8 حروف على الأقل
                  </span>
                </div>
                <div class="form-group">
                  <label>تأكيد كلمة المرور الجديدة</label>
                  <input type="password" class="form-control" formControlName="reNewPassword" />
                  <span *ngIf="showPasswordMatchError" class="gray reg-font red">تأكيد كلمة المرور غير مطابق لكلمة
                    المرور</span>
                </div>
                <div class="form-group">
                  <button [disabled]="!resetPasswordForm.valid" type="submit" class="btn btn-success">حفظ
                    التعديلات</button>
                </div>
              </form>
            </tab>
            <tab [active]="showActiveCredit" *ngIf="userTypeProfile =='client'">

              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faArchive"></fa-icon>المحفظة
              </ng-template>
              <h6 class="project-title">اشحن محفظتك</h6>
              <p>رصيدك يوفر وقتك بدلا من الدفع بالبطاقة في كل مرة
              </p>
              <h6 class="project-title">
                الرصيد الحالي

                <span class="reg-font mr10">
                  {{(clientCreditBalance).toFixed(2)}} ر.س
                </span>


              </h6>
              <h6 class="project-title">إضافة رصيد</h6>

              <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="addCreditBalanceForm"
                (ngSubmit)="addCreditBalance()">






                <div class="form-group">
                  <!-- <label>الرصيد</label> -->
                  <input type="number" (input)="calaculateCreditBalanceAfterTax()"
                    (keypress)="preventNonNumericalInput($event)" class="form-control small-input"
                    formControlName="amount" />
                  <div *ngIf="showCreditError">
                    <span class="error-help">
                      من فضلك الرصيد لايزيد عن 4 خانات
                    </span>
                  </div>
                  <div *ngIf="showCreditErrorLimit">
                    <span class="error-help">
                      أقل مبلغ هو ٦ ريال
                    </span>
                  </div>

                </div>


                <div *ngIf="addCreditBalanceForm.valid" class="form-group">
                  <div class="form-group d-flex justify-content-between">
                    <span>
                      ضريبة القيمة المضافة
                      <span class="mr10">{{taxValue}} %</span>
                    </span>
                    <span class="colored">
                      {{(+taxValueInRial).toFixed(2)}} ر.س
                    </span>
                  </div>

                  <!-- <h6 class="project-title">
                    ضريبة القيمة المضافة

                    <span class="reg-font mr10">
                      {{taxValue}} %
                    </span>
                    <span class="mr10">
                      {{taxValueInRial}} ر.س
                    </span>


                  </h6> -->



                  <div class="form-group d-flex justify-content-between">
                    <span>
                      الإجمالي بعد إضافة ضريبة القيمة المضافة
                    </span>
                    <span class="colored">
                      {{(+costAfterTax).toFixed(2)}} ر.س
                    </span>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <span>
                      الرصيد بعد إضافة المبلغ
                    </span>
                    <span class="colored">
                      {{+(clientCreditBalance  + addCreditBalanceForm.get("amount").value ).toFixed(2)}}
                      ر.س
                    </span>
                  </div>

                  <!-- <h6 class="project-title">
                    الإجمالي بعد إضافة ضريبة القيمة المضافة

                    <span class="mr10">
                      {{costAfterTax}} ر.س
                    </span>


                  </h6> -->




                </div>




                <div class="text-center form-group">
                  <button [disabled]="!addCreditBalanceForm.valid" type="submit" class="btn btn-success">إضافة</button>
                </div>




              </form>

              <div *ngIf="showAddBalanceSuccess" class="text-center success-project">
                <fa-icon [icon]="faCheckCircle"></fa-icon>
                <h1>طلبك وصل!</h1>
                <p>سيتم تحويلك تلقائيا إلى صفحة الدفع لإتمام العملية</p>
                <!-- <button routerLink="/myProjects" type="button" class="btn btn-success generalBtnStyle add-project-submit">أنتقل إلى صفحة المشاريع </button> -->
                <!-- <a target="_blank" class="btn btn-success generalBtnStyle add-project-submit" [href]="paymentUrl">أنتقل إلى صفحة الدفع لاتمام إضافة مشروعك</a> -->
              </div>

            </tab>
            <tab *ngIf="userTypeProfile =='partner'">
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faArchive"></fa-icon>رصيدي
              </ng-template>

              <div *ngIf="!nobBalance" class="profiles-data ">

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">الرصيد</th>
                      <th scope="col">الحسم</th>
                      <th scope="col">المستحقات</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{partnerBalance}} ر.س</td>
                      <td>{{partnerWithdrawnBalance}} ر.س</td>
                      <td>{{partnerTotalFinal}} ر.س</td>
                      <td class="text-left">
                        <button (click)="openAskForBalanceDialog()" style="font-size: 12px;" type="button"
                          class="btn btn-success auto-width-btn">
                          <fa-icon [icon]="faBriefcase" class="ml5"></fa-icon>
                          طلب الرصيد

                        </button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="nobBalance" class="container" style="margin-top:100px;">
                <div class="text-center noProjectsMessage">
                  <fa-icon [icon]="faBriefcase"></fa-icon>
                  <h4>لا يوجد رصيد حاليا</h4>
                </div>

              </div>
              <!-- <h1>{{allbalanceDetails | json}}</h1> -->
              <div *ngIf="!nobBalance" class="profiles-data admin-table-container">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">كود المشروع</th>
                      <th scope="col">الرصيد المستحق</th>
                      <th scope="col">الحالة</th>
                      <!-- <th scope="col">تاريخ الاستحقاق</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let balanceLine of allbalanceDetails">
                      <td>
                        <a style="cursor: pointer;color: #167781" (click)="openProject(balanceLine?.jobId)">
                          {{balanceLine?.jobId}}
                        </a>

                      </td>
                      <td>{{ math.round(balanceLine?.balance)}} ر.س</td>
                      <td *ngIf="balanceLine?.status=='paid'">
                        <span class="dots green"></span> مدفوع
                      </td>
                      <td *ngIf="balanceLine?.status=='unpaid'">
                        <span class="dots red"></span>مستحق
                      </td>
                      <!-- <td>{{balanceLine?.createdAt | date}}</td> -->



                    </tr>


                  </tbody>
                </table>
              </div>

            </tab>

            <tab *ngIf="userTypeProfile =='partner'">
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faArchive"></fa-icon>طلبات الرصيد
              </ng-template>

              <div class="unpaidbalance">
                <div class="profiles-data admin-table-container">
            
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <!-- <th scope="col">الراسل</th> -->
                        <th scope="col">الملاحظات</th>
                        <th scope="col">حالة الطلب</th>
                        <th scope="col">تاريخ الطلب</th>
                        <!-- <th *ngIf="paymentActions" scope="col"></th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let Balance of allBalanceData">
                        <!-- <td>{{Balance?.profileId.firstName}} {{Balance?.profileId.lastName}}</td> -->
                        <td>{{Balance?.note}}</td>
                        <td *ngIf="Balance.status =='initiated'">بانتظار القبول</td>
                        <td *ngIf="Balance.status =='accepted'">تم القبول</td>
                        <td *ngIf="Balance.status =='rejected'">تم الرفض</td>
                        <td>{{Balance?.createdAt | date}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              

            </tab>
            <tab *ngIf="userTypeProfile =='client'">
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faArchive"></fa-icon>الفواتير
              </ng-template>

              <tabset class="horizontal-tabs gray-tabs lastStyletab transparent-tabs" type="pills">
                <tab>
                  <ng-template tabHeading>
                    مشاريع
                  </ng-template>
                  
                     <!-- <pre>{{allinvoiceWithTax?.payments | json}}</pre> -->
              <div *ngIf="allinvoiceWithTax?.payments?.length>0" class="profiles-data pill-table-container ">

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">اسم المشروع</th>
                      <th scope="col">التاريخ</th>
                      <th scope="col">السعر</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let project of allinvoiceWithTax?.payments">
                      <td><a style="cursor: pointer;" (click)="openProject2(project)">{{project?.projectTitle}}</a></td>
                      <td>{{project?.invoiceDate | date}}</td>
                      <td>{{project?.totalCost}} ريال</td>
                      <td>
                        <a style="cursor: pointer;" (click)="openPill(project)">
                          <fa-icon class="export_pdf gre" [icon]="faEye"></fa-icon>
                          عرض الفاتورة
                        </a>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>


              <div *ngIf="myProjects?.length==0" class="container" style="margin-top:100px;">
                <div class="text-center noProjectsMessage">
                  <fa-icon [icon]="faBriefcase"></fa-icon>
                  <h4>لا يوجد فواتير حاليا</h4>
                </div>

              </div>

              <!-- <pre>{{projectToExport| json}}</pre> -->
              <div *ngIf="showPill" id="pill"
                style="padding-bottom:0;padding-top:10px;padding-left: 50px;padding-right: 50px;">
                <div class="d-flex  justify-content-between">
                  <p class="m0">فاتورة</p>
                  <img style="height:32px" src="../../assets/images/logo.png">
                </div>

                <table class="table table-bordered mt10">
                  <tbody>

                    <tr>
                      <td class="lightGreen">مصدر الفاتورة</td>
                      <td>{{mainTaxInfo?.companyName}}</td>
                      <td class="lightGreen">العنوان</td>
                      <td>{{mainTaxInfo?.address}}</td>
                    </tr>

                    <tr>
                      <td class="lightGreen">رقم الفاتورة</td>
                      <td>{{projectToExport?.transactionNo}}</td>

                      <td class="lightGreen">تاريخ الفاتورة</td>
                      <td>{{projectToExport?.invoiceDate | date}}</td>
                    </tr>
                  </tbody>
                </table>





                <table class="table table-bordered mt10">
                  <tbody>

                    <tr>
                      <td class="lightGreen">الرقم الضريبي</td>
                      <td>{{mainTaxInfo?.taxNumber}}</td>

                    </tr>





                  </tbody>
                </table>

                <table class="table table-bordered mt10">
                  <tbody>

                    <tr>
                      <td class="lightGreen">طريقة الدفع</td>
                      <td *ngIf="projectToExport?.isBalanceUsed == true">المحفظة</td>
                      <td *ngIf="projectToExport?.isBalanceUsed == false">البطاقة الائتمانية</td>

                    </tr>





                  </tbody>
                </table>
                <!-- <div class="d-flex">
                  <h6 class="lightGreen ml20">الرقم الضريبي</h6>
                  <h6>{{mainTaxInfo?.taxNumber}}</h6>
                </div> -->

                <div>
                  <h6 class="project-title custom-margin">العميل / <span class="black">{{clientName}} </span></h6>
                </div>

                <table class="table table-bordered border-important">
                  <thead>
                    <tr>
                      <th class="lightGreen" scope="col">الخدمة</th>
                      <th class="lightGreen" scope="col">اسم المشروع</th>
                      <th class="lightGreen" scope="col">السعر</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="lightGreen" *ngIf="projectToExport?.jobType =='article'">
                        كتابة مقال
                      </td>
                      <td class="lightGreen" *ngIf="projectToExport?.jobType =='post'">
                        كتابة منشور
                      </td>
                      <td class="lightGreen" *ngIf="projectToExport?.jobType =='productDescription'">
                        وصف منتج
                      </td>
                      <td>{{projectToExport?.projectTitle}}</td>

                      <td>{{projectToExport?.amount}} ر.س</td>
                    </tr>
                    <tr *ngIf="projectToExport?.addtionalAmount != undefined">
                      <td colspan="2" class="lightGreen">
                        القيمة الاضافية
                      </td>
                      <td *ngIf="projectToExport?.addtionalAmount != undefined">{{projectToExport?.addtionalAmount}} ر.س
                      </td>
                    </tr>
                    <tr *ngIf="projectToExport?.isBalanceUsed != true">
                      <td colspan="2" class="lightGreen">
                        ضريبة القيمة المضافة {{projectToExport?.taxPercentage}} %
                      </td>
                      <!-- <td>{{projectToExport?.taxPercentage}} %</td> -->
                      <!-- <td>{{projectToExport?.taxAmount}} ر.س</td> -->

                      <td>{{ (+projectToExport?.taxAmount).toFixed(2)}} ر.س</td>

                    </tr>
                    <tr *ngIf="projectToExport?.promoCodeAmount != undefined">
                      <td colspan="2" class="lightGreen">
                        كوبون التخفيض
                      </td>

                      <td> -{{(projectToExport?.promoCodeAmount).toFixed(2)}} ر.س</td>

                    </tr>

                    <tr *ngIf="projectToExport?.isBalanceUsed == false">
                      <td colspan="2" class="lightGreen">
                        الاجمالى بعد حساب الضريبة
                      </td>

                      <td>{{(projectToExport?.totalCost).toFixed(2)}} ر.س</td>
                    </tr>
                    <tr *ngIf="projectToExport?.isBalanceUsed == true">
                      <td colspan="2" class="lightGreen">
                        الاجمالى
                      </td>

                      <td>{{(projectToExport?.totalCost).toFixed(2)}} ر.س</td>
                    </tr>
                    <!-- <tr>
                      <td class="lightGreen">
                        الاجمالى بعد حساب الضريبة
                      </td>
                      <td></td>
                      <td>{{projectToExport?.totalCost}} ر.س</td>

                    </tr> -->

                  </tbody>
                </table>
                <!-- <h1>{{projectToExport | json}}</h1> -->
              </div>
              <div *ngIf="showPill" class="text-left">
                <a style="cursor: pointer;" (click)="export()">
                  <fa-icon class="export_pdf" [icon]="faFilePdf"></fa-icon>
                  تحميل الفاتورة
                </a>
              </div>
                </tab>
                <tab>
                  <ng-template tabHeading>
                    فواتير إضافة رصيد
                  </ng-template>
                  

                  <div *ngIf="BalanceInvoices?.length>0" class="profiles-data pill-table-container ">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">اسم المشروع</th>
                          <th scope="col">التاريخ</th>
                          <th scope="col">السعر</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let project of BalanceInvoices">
                          <td><a style="cursor: pointer;" (click)="openProject2(project)">{{project?.projectTitle}}</a></td>
                          <td>{{project?.invoiceDate | date}}</td>
                          <td>{{project?.totalCost}} ريال</td>
                          <td>
                            <a style="cursor: pointer;" (click)="openPill(project)">
                              <fa-icon class="export_pdf gre" [icon]="faEye"></fa-icon>
                              عرض الفاتورة
                            </a>
                          </td>
    
                        </tr>
                      </tbody>
                    </table>
                  </div>
    
    
                  <div *ngIf="BalanceInvoices?.length==0" class="container" style="margin-top:100px;">
                    <div class="text-center noProjectsMessage">
                      <fa-icon [icon]="faBriefcase"></fa-icon>
                      <h4>لا يوجد فواتير حاليا</h4>
                    </div>
    
                  </div>
    
                  <!-- <pre>{{projectToExport| json}}</pre> -->
                  <div *ngIf="showPill" id="pill2"
                    style="padding-bottom:0;padding-top:10px;padding-left: 50px;padding-right: 50px;">
                    <div class="d-flex  justify-content-between">
                      <p class="m0">فاتورة</p>
                      <img style="height:32px" src="../../assets/images/logo.png">
                    </div>
    
                    <table class="table table-bordered mt10">
                      <tbody>
    
                        <tr>
                          <td class="lightGreen">مصدر الفاتورة</td>
                          <td>{{mainTaxInfo?.companyName}}</td>
                          <td class="lightGreen">العنوان</td>
                          <td>{{mainTaxInfo?.address}}</td>
                        </tr>
    
                        <tr>
                          <td class="lightGreen">رقم الفاتورة</td>
                          <td>{{projectToExport?.transactionNo}}</td>
    
                          <td class="lightGreen">تاريخ الفاتورة</td>
                          <td>{{projectToExport?.invoiceDate | date}}</td>
                        </tr>
                      </tbody>
                    </table>
    
    
    
    
    
                    <table class="table table-bordered mt10">
                      <tbody>
    
                        <tr>
                          <td class="lightGreen">الرقم الضريبي</td>
                          <td>{{mainTaxInfo?.taxNumber}}</td>
    
                        </tr>
    
    
    
    
    
                      </tbody>
                    </table>
    
                
                    <!-- <div class="d-flex">
                      <h6 class="lightGreen ml20">الرقم الضريبي</h6>
                      <h6>{{mainTaxInfo?.taxNumber}}</h6>
                    </div> -->
    <!-- <pre>{{projectToExport | json}}</pre> -->
                    <div>
                      <h6 class="project-title custom-margin">العميل / <span class="black">{{clientName}} </span></h6>
                    </div>
    
                    <table class="table table-bordered border-important">
                      <thead>
                        <tr>
                          <th class="lightGreen" scope="col">الخدمة</th>
                          <th class="lightGreen" scope="col">السعر</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="lightGreen">
                            اضافه رصيد	
                          </td>
                          
                       
    
                          <td>{{projectToExport?.amount}} ر.س</td>
                        </tr>
                   
                        <tr *ngIf="projectToExport?.isBalanceUsed != true">
                          <td class="lightGreen">
                            ضريبة القيمة المضافة {{projectToExport?.taxPercentage}} %
                          </td>
                          <!-- <td>{{projectToExport?.taxPercentage}} %</td> -->
                          <!-- <td>{{projectToExport?.taxAmount}} ر.س</td> -->
    
                          <td>{{ (+projectToExport?.taxAmount).toFixed(2)}} ر.س</td>
    
                        </tr>
                     
    
                        <tr>
                          <td class="lightGreen">
                            الاجمالى بعد حساب الضريبة
                          </td>
    
                          <td>{{(projectToExport?.totalCost).toFixed(2)}} ر.س</td>
                        </tr>
           
                        <!-- <tr>
                          <td class="lightGreen">
                            الاجمالى بعد حساب الضريبة
                          </td>
                          <td></td>
                          <td>{{projectToExport?.totalCost}} ر.س</td>
    
                        </tr> -->
    
                      </tbody>
                    </table>
                    <!-- <h1>{{projectToExport | json}}</h1> -->
                  </div>
                  <div *ngIf="showPill" class="text-left">
                    <a style="cursor: pointer;" (click)="export2()">
                      <fa-icon class="export_pdf" [icon]="faFilePdf"></fa-icon>
                      تحميل الفاتورة
                    </a>
                  </div>

                </tab>
              </tabset>
           
            </tab>
            <tab>
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faStar"></fa-icon>التقييمات
              </ng-template>
              <div *ngIf="noRatingMessage" class="container" style="margin-top:100px;">
                <div class="text-center noProjectsMessage">
                  <fa-icon [icon]="faStar"></fa-icon>
                  <h4>لا يوجد تقييمات حاليا</h4>
                </div>

              </div>
              <div class="ratingContainer">
                <div class="rate" *ngFor="let rate of profileRating">
                  <div>
                    <h6>{{rate.firstName}} {{rate.lastName}}</h6>

                    <ngb-rating readonly="true" max="5" [(rate)]="rate.rate">
                      <ng-template let-fill="fill" let-index="index">
                        <span class="star profile-in" [class.filled]="fill === 100"
                          [class.bad]="index < 3">&#9733;</span>
                      </ng-template>
                    </ngb-rating>

                    <h6 class="reg-font">{{rate.comment}}</h6>
                  </div>

                  <!-- <ngb-rating max="5" [rate]="rate.rate"></ngb-rating> -->


                  <hr />

                </div>
              </div>
            </tab>
            <tab *ngIf="userTypeProfile =='client'">
              <ng-template tabHeading>
                <fa-icon class="ml5" [icon]="faPercentage"></fa-icon>كوبونات التخفيض
              </ng-template>

              <div *ngIf="allPromoCodes?.length >0" class="profiles-data admin-table-container">
                <p *ngIf="showClipMessage" class="CTCLIp">تم النسخ</p>
                <table class="table table-bordered">
                  <!-- <h1>all promo codes{{allPromoCodes|json}}</h1> -->
                  <tbody>
                    <tr *ngFor="let promo of allPromoCodes">
                      <td>
                        <a (click)="openPromoCodeDialog(promo.code)" class="promo-link">
                          {{promo.code}}
                        </a>

                        <button (click)="copyToClipShowMeaasge()" class="copyToClip" [cdkCopyToClipboard]="promo.code">
                          <fa-icon [icon]="faCopy"></fa-icon>
                        </button>

                      </td>
                      <td *ngIf="promo.isPercentage==true">
                        %{{promo.value}}
                      </td>


                      <td *ngIf="promo.isPercentage==false || promo.isPercentage==null || promo.isPercentage==''">
                        {{promo.value}}ريال
                      </td>
                      <!-- <td>
                            <textarea id="clipboard-example-textarea" cols="30" rows="10" [(ngModel)]="value"></textarea>
                            <button [cdkCopyToClipboard]="value">Copy to clipboard</button>

                           </td> -->
                    </tr>



                  </tbody>
                </table>
              </div>

              <div *ngIf="allPromoCodes?.length==0" class="container" style="margin-top:100px;">
                <div class="text-center noProjectsMessage">
                  <fa-icon [icon]="faPercentage"></fa-icon>
                  <h4>لا يوجد كوبونات حاليا</h4>
                </div>

              </div>

            </tab>

          </tabset>


        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showLoaderMaster" class="loader loaderMaster">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
  </div>
</div>
<app-footer-inner></app-footer-inner>




<div *ngIf="showOnePromoCodeDialog" class="modal2 custom-modal custom-modal22 cupon-dlg" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تفاصيل الكوبون </h5>
        <button (click)="closePromoCodeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <h1>{{selectedPromoCode | json}}</h1> -->
      <div class="modal-body p15 text-right">
        <div class="cupon-row">
          <h6 class="cupon-title">اسم الكوبون</h6>
          <h5 class="cupon-value">{{selectedPromoCode.code}}</h5>
          <hr />
        </div>

        <div class="cupon-row">
          <h6 class="cupon-title">التخفيض</h6>
          <h5 *ngIf="!selectedPromoCode.isPercentage" class="cupon-value">
            قيمة ثابتة -
            {{selectedPromoCode.value}}
            ر.س
          </h5>
          <h5 *ngIf="selectedPromoCode.isPercentage" class="cupon-value">
            نسبة مئوية -
            {{selectedPromoCode.value}}
            %
          </h5>
          <hr />
        </div>


        <div class="cupon-row">
          <h6 class="cupon-title">المنتجات المشمولة</h6>
          <h5 *ngIf="selectedPromoCode.productId=='1' || selectedPromoCode.productId=='1,1'" class="cupon-value">
            كتابة مقالات
          </h5>
          <h5 *ngIf="selectedPromoCode.productId=='2' || selectedPromoCode.productId=='2,2'" class="cupon-value">
            كتابة وصف منتج
          </h5>
          <h5 *ngIf="selectedPromoCode.productId=='3' || selectedPromoCode.productId=='3,3'" class="cupon-value">
            تغريدات
          </h5>
          <h5 *ngIf="selectedPromoCode.productId=='1,2'||selectedPromoCode.productId=='2,1' " class="cupon-value">
            كتابة مقالات - كتابة وصف منتج
          </h5>
          <h5 *ngIf="selectedPromoCode.productId=='1,3'||selectedPromoCode.productId=='3,1' " class="cupon-value">
            كتابة مقالات - تغريدات
          </h5>
          <h5 *ngIf="selectedPromoCode.productId=='2,3'||selectedPromoCode.productId=='3,2' " class="cupon-value">
            كتابة وصف منتج - تغريدات
          </h5>
          <h5
            *ngIf="selectedPromoCode.productId=='1,2,3'||selectedPromoCode.productId=='1,3,2' ||selectedPromoCode.productId=='2,1,3' ||selectedPromoCode.productId=='2,3,1' ||selectedPromoCode.productId=='3,1,2' ||selectedPromoCode.productId=='3,2,1' "
            class="cupon-value">
            كتابة مقالات - كتابة وصف منتج - تغريدات
          </h5>
          <hr />
        </div>

        <div class="cupon-row">
          <h6 class="cupon-title">عدد المرات المتاحة للاستخدام للجميع</h6>
          <h5 class="cupon-value">{{selectedPromoCode.numberOfUsageForUser}}</h5>
          <hr />
        </div>


        <div class="cupon-row">
          <h6 class="cupon-title">عدد المرات المتاحة للاستخدام لعميل واحد</h6>
          <h5 class="cupon-value">{{selectedPromoCode.numberOfUsagePerUser}}</h5>
        </div>











      </div>
    </div>
  </div>
</div>

<div *ngIf="showLoader" class="loader loaderMaster">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
  </div>
</div>




<div *ngIf="showAddBalanceFail" class="modal2 custom-modal custom-modal22 cupon-dlg" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">إضافة رصيد </h5>
        <button (click)="closeAddBalanceFailDialog()" type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p15 text-right">



        <p>حدث خطأ أثناء إضافة الرصيد برجاء اعادة المحاولة</p>













      </div>
    </div>
  </div>
</div>



<div *ngIf="askingMode" class="modal2 custom-modal custom-modal22 cupon-dlg" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">طلب الرصيد </h5>
        <button (click)="closeAskForBalanceDialog()" type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p15 text-right">
        <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="asseingForBalanceForm"
          (ngSubmit)="askingForBalance()">
          <div class="form-group">
            <input type="text" name="note" class="form-control" formControlName="note" placeholder="ملاحظات " />
          </div>




          <div class="clearfix text-center mb10">
            <button [disabled]="!asseingForBalanceForm.valid" class="btn btn-success" type="submit">ارسال
            </button>
          </div>




        </form>
        <div class="text-center" *ngIf="askingSuccess" >
          <h6>
            شكرا لك!
          </h6>
          <p>  سيتواصل معك قسم المالية
          </p>

        </div>
        
        <h6 *ngIf="askingFail" class="text-center">خطأ فى الارسال</h6>
        <!-- asseingForBalanceForm -->


        <!-- <p>حدث خطأ أثناء إضافة الرصيد برجاء اعادة المحاولة</p> -->













      </div>
    </div>
  </div>
</div>
<div *ngIf="showLoader" class="loader">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
  </div>
</div>
