<app-after-login-header></app-after-login-header>
<div class="container">


  <!-- <h1>selected project {{selectedProject|json}}</h1>  -->
  <div id="exportContent" style="display: none;">
    <!-- Your content to export here -->
    {{selectedProject.document}}
</div>

  <div class="project-item mt30">
    <div class="card-body">
      <h6>{{selectedProject.projectTitle}}</h6>
      <!-- <h6>{{selectedProject.partnerId}}</h6> -->
      <div *ngIf="selectedProject.status=='active' || selectedProject.status=='prePayment' " class="custom-stepper">
        <div class="rpp-stepper">

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>

          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link" (click)="logStepValue('active')">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>

        </div>
      </div>



      <div *ngIf="selectedProject.status=='pending'" class="custom-stepper">
        <div class="rpp-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a *ngIf="loggedUserType =='partner'" class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed"> 
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <a  *ngIf="loggedUserType =='client'"  class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div style="cursor: pointer;" class="step-title-custom" (click)="logStepValue('pending')">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>
      </div>


      <div *ngIf="selectedProject.status=='inprogress'" class="custom-stepper">
        <div class="rpp-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>

        <div class="text-center" *ngIf="loggedUserType =='partner'">

          <div class="reg-font">
            <button style="margin: 20px 0;" (click)="deliverProjectForClient()" type="button"
              class="btn btn-success auto-width-btn">
              تسليم المشروع
            </button>

          </div>
        </div>
      </div>


      <div *ngIf="selectedProject.status=='rejected'" class="custom-stepper">
        <div class="rpp-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>

        <div class="text-center" *ngIf="loggedUserType =='partner'">

          <div class="reg-font">
            <button style="margin: 20px 0;" (click)="deliverProjectForClient()" type="button"
              class="btn btn-success auto-width-btn">
              تسليم المشروع
            </button>

          </div>
        </div>
      </div>

      <div *ngIf="selectedProject.status=='reviewing' && selectedProject.partnerId!='null' && loggedUserType =='client'"
        class="custom-stepper">
        <div class="rpp-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div> 
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>

        <div class="text-center">

          <div class="reg-font">
            <button style="margin: 20px 0;" (click)="showReviewBox()" type="button"
              class="btn btn-success auto-width-btn">
              مراجعة المشروع
            </button>
            


          </div>
        </div>
      </div>
      <div *ngIf="selectedProject.status=='completed' && selectedProject.partnerId!='null'"
      class="custom-stepper">
      <div class="rpp-stepper">
        <a class="stepper-link">
          <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
            <span class="rpp-stepper-item-content">1</span>
            <div class="step-title-custom">انشاء الطلب</div> 
          </div>
        </a>


        <div class="rpp-stepper-divider"></div>
        <a class="stepper-link">
          <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
            <span class="rpp-stepper-item-content">2</span>
            <div class="step-title-custom">قبول الكاتب</div>
          </div>
        </a>
        <div class="rpp-stepper-divider"></div>

        <a class="stepper-link">
          <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
            <span class="rpp-stepper-item-content">3</span>
            <div class="step-title-custom">قيد التنفيذ</div>
          </div>
        </a>
        <div class="rpp-stepper-divider"></div>
        <a class="stepper-link">
          <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
            <span class="rpp-stepper-item-content">4</span>
            <div class="step-title-custom">المراجعة</div>
          </div>
        </a>


        <div class="rpp-stepper-divider"></div>
        <a class="stepper-link">
          <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
            <span class="rpp-stepper-item-content">5</span>
            <div class="step-title-custom">انتهاء المشروع</div>
          </div>
        </a>
      </div>

    
    </div>



      <div *ngIf="selectedProject.status=='reviewing' && selectedProject.partnerId!='null' && loggedUserType =='partner'"
        class="custom-stepper">
        <div class="rpp-stepper">
          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">1</span>
              <div class="step-title-custom">انشاء الطلب</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">2</span>
              <div class="step-title-custom">قبول الكاتب</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>

          <a class="stepper-link">
            <div class="rpp-stepper-item " ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">3</span>
              <div class="step-title-custom">قيد التنفيذ</div>
            </div>
          </a>
          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item" ngClass="rpp-stepper-item-completed">
              <span class="rpp-stepper-item-content">4</span>
              <div class="step-title-custom">المراجعة</div>
            </div>
          </a>


          <div class="rpp-stepper-divider"></div>
          <a class="stepper-link">
            <div class="rpp-stepper-item rpp-stepper-item-pending">
              <span class="rpp-stepper-item-content">5</span>
              <div class="step-title-custom">انتهاء المشروع</div>
            </div>
          </a>
        </div>

        <!-- <div class="text-center" *ngIf="loggedUserType =='partner'">

          <div class="reg-font">
            <button style="margin: 20px 0;" (click)="deliverProjectForClient()" type="button" class="btn btn-success auto-width-btn">
              تسليم المشروع 
            </button>

          </div>
        </div> -->
      </div>

    </div>
  </div>


  <div *ngIf="showdeliverBox" class="card project-item">
    <div class="card-body">
      <h6 class="blue">هل انتهيت من عملك وتريد ارسل نسخة نهائية للمراجعة؟</h6>
      <p>ارسل نسخة نهائية للعميل للمراجعة في حالة انتهائك من تنفيذ المشروع (في مرحلة المراجعة يقبل العميل المشروع أو
        يرسل تعديلات)</p>
      <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="deliverJobForm" (ngSubmit)="deliverJob()">
        <textarea formControlName="document" class="form-control mh200" placeholder="محتوى المشروع"></textarea>
        <!-- <div class="calculations d-flex reg-font">
          <span>الحروف: 0</span>
        </div> -->
        <button style="margin-top: 20px;" type="submit" class="btn btn-success auto-width-btn">إرسال المشروع للمراجعة</button>
      </form>
    </div>
  </div>
  <div *ngIf="deliverJobSuccess" class="project-item"> 
    <div class="card-body">
      <p>تم تسليم المشروع للمراجعة</p>
    </div>
  </div>
  <div *ngIf="selectedProject.status=='reviewing' ||selectedProject.status=='completed'  && selectedProject.partnerId!='null'" class="project-item">
    <textarea disabled style="min-height: 200px;" class="form-control">{{selectedProject.document}}</textarea>
  </div>
  <button class="btn btn-success auto-width-btn export-btn" *ngIf="selectedProject.status=='reviewing' ||selectedProject.status=='completed'" (click)="Export2Doc('exportContent', selectedProject.projectTitle)"><fa-icon class="ml5" [icon]="faFileDownload"></fa-icon>تحميل النص</button>


  <div *ngIf="showFinishBoxSuccess" class="project-item">
    <div class="card-body">
      <h6 class="project-title ">مرحلة مراجعة المشروع</h6> 
      <h6 class="reg-font mb20">هل لديك تعديلات؟ بقبولك المشروع بعد المراجعة سوف ينتهي المشروع ويتم تحويل المبلغ لرصيد
        الكاتب</h6>
      <div class="d-flex">
        <button (click)="completeProject()" type="button" class="btn btn-success auto-width-btn ml20">قبول المشروع
          والدفع
        </button>
        <button (click)="rejectProject()" type="button" class="btn btn-success auto-width-btn nobg-btn">طلب تعديلات
        </button> 
      </div>

      <div *ngIf="showRejectForm" class="rejectReasonBlock col-lg-6 col-md-6 col-12">
        <h6 style="margin: 20px 0;">من فضلك اكتب سبب رفضك للكاتب</h6>
        <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="rejectJobForm" (ngSubmit)="rejectPartner()">
          <textarea style="margin-bottom: 20px;" placeholder="اكتب أسباب رفضك هنا" class="form-control"
            formControlName="rejectionReason"></textarea>
          <button type="submit" class="btn btn-success auto-width-btn ml20">تأكيد رفض الكاتب</button>
        </form>
      </div>

      <div *ngIf="showRequetsEditsForm" class="rejectReasonBlock col-lg-6 col-md-6 col-12">
        <h6 style="margin: 20px 0;">من فضلك اكتب سبب رفضك للمشروع وطلب التعديلات</h6>
        <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="rejectJobForm" (ngSubmit)="rejectPartner()">
          <textarea style="margin-bottom: 20px;" placeholder="اكتب أسباب رفضك وطلب تعديلات" class="form-control"
            formControlName="rejectionReason"></textarea>
          <button type="submit" class="btn btn-success auto-width-btn ml20">تأكيد رفض التسليم </button>
        </form>
      </div>
    </div>
  </div>
  <!-- rating section -->

  <div class="project-item"
    *ngIf="selectedProject.status=='completed' && selectedProject.partnerId!='null'">
    <div class="card-body">
      <h6 class="project-title">التقييم</h6>
      <div class="rating-block">
        <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="addRatingForm" (ngSubmit)="addRate()">
          <ngb-rating max="5" formControlName="rate" [(rate)]="currentRate"></ngb-rating>
          <hr>
          <pre>Rate: <b>{{currentRate}}</b></pre>
          <textarea formControlName="comment" class="form-control"
            placeholder="اكتب تقييمك وملاحظاتك "></textarea>
          <span>قم بتقييم المستخدم حتى تشارك خبرتك مع العملاء الاخرين في المستقبل</span>
          <div><button type="submit" class="btn btn-success app-button">اضف تقييم</button></div>
        </form>
      </div>
    </div>
  </div>


  <!-- comments section -->
  <!-- selectedProject.status=='reviewing' && -->
  <div class="project-item">
    <div class="card-body">
      <h6 class="project-title" *ngIf="selectedProject.partnerId!='null' && selectedProject.status=='inprogress' || selectedProject.status=='completed' || selectedProject.status=='reviewing'">
        <fa-icon class="ml5" [icon]="faEnvelope"></fa-icon>الرسائل
      </h6>
      <p *ngIf="selectedProject.partnerId!='null' && selectedProject.status=='inprogress' || selectedProject.status=='reviewing'" class="reg-font">قم بالتواصل مع الكاتب لمعرفة أخر المستجدات في المشروع</p>
      <div class="rating-block" *ngIf="selectedProject.partnerId!='null' && selectedProject.status=='inprogress' || selectedProject.status=='reviewing'">
        <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="clientAddCommentForm" (ngSubmit)="addComment()">
          <div formGroupName="message">


            <textarea formControlName="content" class="form-control" placeholder="اكتب رسالتك هنا"></textarea>
          </div>
          <div><button type="submit" class="btn btn-success app-button" style="margin-top: 10px;">اضف رسالة</button>
          </div>
        </form>
      </div>

      <div class="previous-comments" *ngIf="selectedProject.partnerId!='null' && selectedProject.status=='inprogress' || selectedProject.status=='completed' || selectedProject.status=='reviewing'">
        <h6>الرسائل</h6>
        <!-- <div>{{commentForJob|json}}</div> -->


        <div class="clearfix" *ngFor="let comment of commentForJob">
          <div class="project-small-image float-right">
            <img  src="../../assets/images/profile/avatar.png" />
          </div>
          <div class="owner-data float-right">
            <h5>{{comment.firstName}} {{comment.lastName}}</h5>
            <span class="gray reg-font font-13">{{comment.createAt}}</span>
            <p class="reg-font">{{comment.content}}</p>

          </div>
        </div>

  
      </div>

    </div>
  </div>

  
  <!-- partnerId  *ngIf="showApplyBoxFail" -->
  <div *ngIf="selectedProject.status =='pending' && selectedProject.partnerId==null" class="project-item"> 
    <div class="card-body">
      <h6>لا يوجد كاتب بعد</h6>
      <p>انتظر حتى يتقدم لمشروع أفضل الكتاب</p>
    </div>
  </div>
  <!-- <div *ngIf="showApplyBoxSuccess" class="project-item">
    <div class="card-body">
      <h6>يوجد كاتب متقدم لمشروعك</h6>
      <h6>
       
          {{partnerName}}
       
      </h6>
      
    </div>
  </div> -->

  <div *ngIf="selectedProject.status =='pending' && selectedProject.partnerId!=null && loggedUserType =='client'" class="project-item">
    <div class="card-body">
      <h6>يوجد كاتب متقدم لمشروعك</h6>
      <h6>
        <!-- (click)="showProjectPartnerMessage='true'" -->
          {{partnerName}}
          <!-- <fa-icon class="profile-navigator" [icon]="faAddressCard"></fa-icon> -->
       
      </h6>
      
    </div>
  </div>


  <div *ngIf="selectedProject.status =='pending' && selectedProject.partnerId!=null && loggedUserType =='client'">
    <div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">بيانات الكاتب</h5>
         
        </div>
        <div class="modal-body text-right">
          <h6> <fa-icon class="ml5 writerIcon"  [icon]="faUserAlt"></fa-icon> {{partnerDialogObject.firstName}} {{partnerDialogObject.lastName}}</h6>
          <!-- <h6><fa-icon class="ml5 writerIcon"   [icon]="faEnvelope"></fa-icon> {{partnerDialogObject.email}}</h6> -->
          <!-- <h6><fa-icon class="ml5 writerIcon"   [icon]="faMobileAlt"></fa-icon> {{partnerDialogObject.mobileNumber}}</h6> -->
          <h6><fa-icon class="ml5 writerIcon"   [icon]="faFolderOpen"></fa-icon> عدد المشاريع المكتملة <span class="jobCount green">{{partnerNumOfCompletedJobs}}</span></h6>
          <h6><fa-icon class="ml5 writerIcon"   [icon]="faFolderOpen"></fa-icon> عدد المشاريع المرفوضة <span class="jobCount red">{{partnerNumOfRejectedJobs}}</span></h6>
          <div class="text-center">
            <ngb-rating max="5" [readonly]="true" [rate]="partnerRatingAverage"></ngb-rating>
          </div>
          
          <!-- <h6><fa-icon class="ml5 writerIcon"   [icon]="faEnvelope"></fa-icon> {{partnerRatingAverage}}</h6> -->
          
          <!-- <h6><fa-icon class="ml5 writerIcon"   [icon]="faFlag"></fa-icon> {{partnerDialogObject.country}}</h6>
          <h6><fa-icon  class="ml5 writerIcon"  [icon]="faVenusMars"></fa-icon> {{partnerDialogObject.gender}}</h6> -->
          
        </div>
      </div>
    </div>
  </div>
  <!-- *ngIf="showApplyBoxSuccess" -->
  <div *ngIf="selectedProject.status =='pending' && selectedProject.partnerId!=null && loggedUserType =='client'"  class="project-item">
    <div class="card-body">
      <h6 class="project-title mb0">هل توافق على الكاتب للبدء في مشروعك؟</h6>
      <h6 class="reg-font mb20">بموافقك على الكاتب سوف يبدأ في العمل مباشرة على المشروع الخاص بك</h6>
      <div class="d-flex">
        <button (click)="acceptPartner()" type="button" class="btn btn-success auto-width-btn ml20">نعم, أوافق على
          الكاتب</button>
        <button (click)="showReject()" type="button" class="btn btn-success auto-width-btn nobg-btn">لا, أرفض
          الكاتب</button>
      </div>

      <div *ngIf="showRejectForm" class="rejectReasonBlock col-lg-6 col-md-6 col-12">
        <h6 style="margin: 20px 0;">من فضلك اكتب سبب رفضك للكاتب</h6>
        <form (keydown.enter)="$event.preventDefault()" [(formGroup)]="rejectJobForm" (ngSubmit)="rejectPartner()">
          <textarea style="margin-bottom: 20px;" placeholder="اكتب أسباب رفضك هنا" class="form-control"
            formControlName="rejectionReason"></textarea>
            <div class="reg-font red" *ngIf="!rejectJobForm.get('rejectionReason').valid && rejectJobForm.get('rejectionReason').touched ">من فضلك ادخل سبب الرفض</div>
          <button [disabled]="!rejectJobForm.valid" type="submit" class="btn btn-success auto-width-btn ml20">تأكيد رفض الكاتب</button>
        </form>
      </div>
    </div>
  </div>





</div>
