<ul class="nav nav-stacked flex-column nav-pills side-nav-bills">
  <li class=" nav-item">
    <a routerLink="/dashboard/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link ">
      <span>
        <fa-icon class="ml5" [icon]="faThList"></fa-icon>
      </span>

      لوحة التحكم

    </a>
  </li>
 
  <li class="nav-item">
    <a routerLink="/dashboard/adminAllPartners" routerLinkActive="active"  class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>
      </span>

      الكتاب

    </a>
  </li>

  <li class="nav-item">
    <a routerLink="/dashboard/adminAllClients" routerLinkActive="active"  class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faUserTie"></fa-icon>
      </span>

      العملاء

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/adminDataAnalysis" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faChartBar"></fa-icon>
      </span>

      تحليل البيانات

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/adminAllProjects" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faFolderOpen"></fa-icon>
      </span>

      المشاريع

    </a>
  </li>

  <li *ngIf="takeActionsPrivilage" class="nav-item">
    <a routerLink="/dashboard/adminPayments" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faHandHoldingUsd"></fa-icon>
      </span>

      المدفوعات

    </a>
  </li>
  <li *ngIf="takeActionsPrivilage" class="nav-item">
    <a routerLink="/dashboard/balanceRequests" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faBriefcase"></fa-icon>
      </span>

      طلبات الرصيد

    </a>
  </li>
  
  <li *ngIf="takeActionsPrivilage" class="nav-item">
    <a routerLink="/dashboard/taxInfo" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faMoneyBillAlt"></fa-icon>
      </span>

      معلومات الضرائب 

    </a>
  </li>
  
  <li class="nav-item">
    <a routerLink="/dashboard/adminAllMessages" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faEnvelope"></fa-icon>
      </span>

      الرسائل

    </a>
  </li>

  <li class="nav-item">
    <a routerLink="/dashboard/adminPrices" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faMoneyBillWave"></fa-icon>
      </span>

      الاسعار

    </a>
  </li>

  <li *ngIf="takeActionsPrivilage" class="nav-item">
    <a routerLink="/dashboard/adminPromoCodes" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faPercentage"></fa-icon>
      </span>

      كوبونات التخفيض

    </a>
  </li>

  <li *ngIf="addprivilage" class="nav-item">
    <a routerLink="/dashboard/adminPrivilageModerate" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faUsersCog"></fa-icon>
      </span>

      ادارة الصلاحيات

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/adminArcheive" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faArchive"></fa-icon>
      </span>

      الأرشيف

    </a>
  </li>

  
  <li class="nav-item">
    <a routerLink="/dashboard/adminContactData" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faEnvelope"></fa-icon>
      </span>

      بيانات الاتصال

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/countries" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faFlag"></fa-icon>
      </span>

      الدول

    </a>
  </li>

  
  <li class="nav-item">
    <div class="tab-footer nav-link">


        <button class="signOut" (click)="signOut()" type="button" ngbDropdownItem>
          <fa-icon class="ml5" [icon]="faSignOutAlt"></fa-icon>تسجيل الخروج
        </button>
  
  
    </div>
  </li>






</ul>


