/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


/*--------------------------------------------------------------
# general
--------------------------------------------------------------*/
/*font-family: 'Dubai W23 Regular', sans-serif;*/
@font-face {
  font-family: 'Dubai W23 Bold';
  src: url(assets/fonts/DubaiW23-Bold.ttf);
}

@font-face {
  font-family: 'Dubai W23 Regular';
  src: url(assets/fonts/DubaiW23-Regular.ttf);
}

body {
  background: #FFFFFF;
  direction: rtl;
  text-align: right;
  font-family: 'Dubai W23 Bold', sans-serif;

}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.p-50 {
  padding: 50px 0;
}

header {
  padding: 10px 0;
  box-shadow: 0px 3px 10px #00000014;
  height: 70px;
}

footer {
  background-color: #fff;
  color: #777777;
  padding: 10px 0;
}

.small-form {
  width: 320px;
  margin: 40px auto 20px auto;
  background: #fff;
  background: #fff;
  padding: 15px;
  box-shadow: 0px -1px 6px #0000003d;
  border-radius: 5px;
}

.form-title {
  margin: 30px 0;
}

.small-form .form-control {
  margin-bottom: 20px
}

.small-form2.small-form .form-control {
  margin-bottom: 0;
}

.custom-span {
  color: #777;
  margin-bottom: 30px;
  display: inline-block;
}

.form-control {
  text-align: right;
}

.navbar-expand-lg {
  padding: 0;
}

.navbar-light .navbar-brand {
  margin-right: 0;
}

.generalBtnStyle.btn-success {
  background-color: #247d8f;
  color: #fff;
  border-radius: 20px;
  padding: 3px 20px;
  width: auto;
  font-size: 16px;
  max-width: 150px
}

h1 {
  font-size: 30px;
}

p {
  font-size: 14px;
  color: #777777;
  margin: 10px 0 20px 0;
}

a {
  font-size: 14px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}





/* landing page style */
/*--------------------------------------------------------------
#  sections
--------------------------------------------------------------*/
.intro-img {
  margin-top: 100px;
}

.unique {
  padding: 50px 0;
}

.steps {
  background: #F3F8F9;
}

.mb70 {
  margin-bottom: 70px;
}

footer p {
  font-size: 13px;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header .nav-link {
  padding: 0;
  margin: 0 30px;
  font-size: 18px;
  color: #333333;
}



@media (max-width: 768px) {
  #header {
    background: #fff;
  }

  #header .logo h1 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* Mobile Navigation */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.form-check-input {
  position: static;
  margin-left: 5px;
}

.btn-success.disabled,
.btn-success:disabled,
button.btn-success {
  background-color: #247D8F;
  border-color: #247D8F;
  width: 100%;
  border-radius: 20px;
}

.showSuccessMessage {
  background-color: #28a745;
  padding: 10px;
}

.showSuccessMessage p {
  color: #fff;
}

.showFailMessage {
  background-color: crimson;
  color: #fff;
  padding: 10px;
}

.p0 {
  padding: 0;
}

.top-register-group .btn-success {
  background-color: transparent;
  color: #247d8f;
  border-radius: 20px;
  padding: 3px 20px;
  margin-left: 10px;
  font-size: 16px;
}

.top-register-group .active .btn-success {
  background-color: #247d8f;
  color: #fff;
}

.top-register-group .normal-btn.btn-success {
  background-color: transparent;
  color: #247d8f;
  border: 0;
  padding: 3px 0;
}

.top-register-group>li {
  margin-left: 5px;
}

.p100 {
  padding: 100px 0;
}

.white_btn {
  background-color: #fff !important;
  color: #167781 !important;
}

.start-edit-section {
  background-color: #167781;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.start-edit-section p {
  color: #fff;
}

footer .logo {
  margin-bottom: 10px;
}

footer .head {
  color: #167781;
  font-size: 16px;
  margin: 20px 0
}

.social-box li {
  list-style-type: none;
  margin-left: 10px;
}

.social-box li a {
  width: 37px;
  height: 37px;
  line-height: 37px;
  background: #C6DEE1;
  color: #167781 !important;
  text-align: center;
  border-radius: 50%;
  display: inline-block
}

.mw70 {
  min-width: 70% !important;
}

.btn-success:focus,
.btn-success.focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.2rem #e9ecef94;
}

.form-control {
  border: 1px solid #247D8F33;
  border-radius: 8px;
  font-family: Dubai W23 Regular;
  font-size: 16px;
  resize: none;
}

.form-group {
  margin-bottom: 20px;
}

.anotherRegisteration a {
  margin-right: 5px;
}

.reg-font {
  font-family: Dubai W23 Regular;
  font-size: 16px;
  color: #333333;
}

.reg-font-2 {
  font-family: Dubai W23 Regular;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.relative {
  position: relative;
}

.showHidePassword {
  position: absolute;
  left: 20px;
  top: 8px;
  color: #B3B8BD;
}

.nobg-btn {
  background: transparent !important;
  color: #247d8f !important
}

.btn {
  border-width: 2px;
}

header.after-login-header {
  padding: 0;
  box-shadow: 0px 3px 10px #00000014;
  height: auto;
}

header.after-login-header .nav-link {
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  color: #707070;
  margin-left: 20px;
  line-height: 70px;
  border-bottom: 4px solid transparent;
  transition: all 150ms ease-in-out;
}

header.after-login-header .nav-link.active,
header.after-login-header .nav-link:hover,
header.after-login-header .nav-link:focus {
  border-bottom: 4px solid #247D8F;
  color: #247D8F;
}

.inner-logo {
  margin-left: 30px;
}

.ml5 {
  margin-left: 5px;
}

.ml30 {
  margin-left: 30px;
}

.p520 {
  padding: 5px 20px;
}

.plr0 {
  padding-left: 0;
  padding-right: 0;
}

.noarrow.dropdown-toggle::after {
  display: none;
}

.font20 {
  font-size: 20px;
}

.profile-small-image img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  top: 5px;
}

.medium-profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.vertical-left-tabs>.nav,
.vertical-left-tabs>.tab-content {
  float: right;
  box-shadow: 0px 0px 9px 3px #1677811A;
  border-radius: 10px;
}

.add-project-container {
  padding: 20px 100px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 9px 3px #00000014;
  border-radius: 20px;
  margin: 30px auto auto;
}

.addon {
  font-size: 15px;
  color: #707070;
}

.p540 {
  padding: 5px 40px !important
}

.add-roject-btn {
  padding: 0 !important;
  width: 150px !important;
  text-align: left;
  height: 40px;
}

.add-roject-btn.next .ng-fa-icon {
  margin-left: 10px;
  margin-right: 30px;
}

.add-roject-btn.prev .ng-fa-icon {
  margin-right: 10px;
  margin-left: 30px;
}

.prev-btn-custom.generalBtnStyle.btn-success {
  direction: ltr;
  text-align: right;
  background-color: transparent;
  border: 0;
  color: #247d8f;
}

.prev-btn-custom.generalBtnStyle.btn-success.prev .ng-fa-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.radio-item-c {
  box-shadow: 0px 0px 10px #247D8F29;
  border: 1px solid #D6D6D6;
  border-radius: 8px;
  margin-left: 15px;
  color: #777777;
  position: relative;
  text-align: center;
  padding: 5px 10px 5px 10px;
}

.radio-back:focus.radio.item-c {
  border: 1px solid #247D8F;
}

.progress {
  background-color: #F3F8F9;
  border-radius: 8px;
  margin-top: 15px;
  height: 12px;
}

.progress-bar {
  background-color: #247D8F;
}

.colored {
  color: #247D8F;
  font-size: 20px;
}

.total-container {
  background: #F3F8F9 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.add-project-submit.generalBtnStyle.btn-success {
  padding: 5px 60px !important;
  max-width: initial !important;
}

.additon {
  position: relative;
}

.btn.very-normal-btn {
  position: absolute;
  left: 6px;
  width: 100px;
  top: 4px;
  height: 30px;
  background: #247D8F;
  color: #fff;
  line-height: 30px;
  padding: 0;
  border-radius: 8px;
}

.badge-primary {
  background-color: #767676;
}

input[type="radio"] {
  display: block;
  margin: auto;
}

.radio-item-c label {
  font-size: 13px;
}

.mb40 {
  margin-bottom: 40px;
}

.hint {
  color: #247D8F;
  font-size: 12px;
}

.total-num {
  font-size: 24px;
  color: #247D8F;
}

.deliver-btn {
  color: #fff !important;
  margin: 20px 0 10px !important;
  margin: 20px 0 10px !important;
  background: #3f51b5 !important
}

.gray {
  font-size: 15px;
  color: #707070;
}

.success-project {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 9px 3px #00000014;
  border-radius: 20px;
  padding: 50px 0;
}

.success-project>fa-icon {
  color: #247D8F;
  font-size: 100px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none
}

.mat-form-field {
  display: block !important;
  position: relative;
  text-align: right !important;
  padding: 0 !important;
  min-height: 80px;
  padding-right: 5px !important;
}

.fails fa-icon {
  color: #ff1f2b;
  font-size: 50px;
}

.fails {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 9px 3px #00000014;
  border-radius: 20px;
  padding: 20px 0;
}

.noProjectsMessage fa-icon {
  color: #707070;
  font-size: 40px;
}

.sign-out {
  background: #247d8f;
  border: 0;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  font-size: 20px;
}

.project-item {
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 0px 9px 3px #1677811A;
  margin-bottom: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.mt20 {
  margin-top: 20px;
}

.font-13 {
  font-size: 13px;
}

.owner-data h5 {
  margin-bottom: 0;
}

.project-small-image img {
  border-radius: 50%;
  width: 40px;
  position: relative;
  top: 5px;
  margin-left: 10px;
}

.project-title {
  color: #167781;
  font-size: 24px;
  margin: 15px 0;
}

.project-icon {
  color: #167781;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 3px;
}

.project-prop h6 {
  font-size: 14px;
  color: #111111;
  margin: 0;
}

.project-prop span {
  font-size: 16px;
  color: #707070;
  font-family: 'Dubai W23 Regular';
  margin: 0;
}

.LI45 {
  line-height: 45px;
}

.right-side-pannel {
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 0px 9px 3px #1677811A;
  margin-bottom: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.right-side-pannel .widget,
.filter-block {
  padding: 15px 20px 15px 0;
}

.right-side-pannel hr {
  border-top: 1px solid #E7F1F3;
  margin: 0;
}

.filter-title {
  color: #333333;
  margin-bottom: 15px;
}

.filter-block .form-check {
  color: #707070;
  font-family: 'Dubai W23 Regular';
  margin-bottom: 10px;
}

.right-profile-menu .nav-pills .nav-link {
  color: #A7CBD2;
  position: relative;
  font-size: 14px;
}

.right-profile-menu .nav-pills .nav-link:before {
  content: "";
  position: absolute;
}

.right-profile-menu .nav-pills .nav-link.active {
  color: #247D8F;
  background-color: #DBEAEC;
}

.vertical-left-tabs>.tab-content {
  width: 70%;
  padding: 30px 70px;
}

.vertical-left-tabs>.nav {
  width: 22%;
  margin-left: 30px;
}

.toast-header,
.toast-body {
  text-align: center;
  display: block;
}

.toast-header {
  background: #247d8f;
  color: #fff;
}

ngb-toast .toast-header .close {
  float: left;
  margin: 0;
  color: #fff;
  opacity: 1 !important;
}

label {
  font-family: 'Dubai W23 Regular';
  color: #707070;
  font-size: 15px;
}

.right-profile-menu .form-control {
  font-family: Dubai W23 Bold;
  color: #111111;
}

.custom-modal .modal-header {
  display: block;
  position: relative;
  background: #247d8f;
  color: #fff;
}

.custom-modal .modal-header .close {
  position: absolute;
  left: 0;
  top: 18px;
  background: transparent;
  z-index: 999;
  color: #fff;
  opacity: 1;
}

.custom-modal .modal-body {
  text-align: center;
}

.custom-modal {
  position: fixed;
  bottom: 0;
  width: 300px;
  right: 40px;
  z-index: 1;
}

.size-16 {
  font-size: 16px;
}

.red {
  color: red !important;
}

.stickyMessage {
  position: fixed;
  left: 60px;
  top: 44%;
  padding: 20px 10px;
}

.mat-step-header .mat-step-icon {
  background-color: #989898;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #247D8F;
}

.mat-stepper-horizontal-line {
  border-color: #989898;
  border-top-width: 2px !important;
}

.mat-step-label {
  position: absolute;
  bottom: 0;
  font-family: 'Dubai W23 Bold', sans-serif;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: rgb(36 125 143)
}

.mat-horizontal-stepper-header {
  overflow: initial !important
}

.app-button.btn-success {
  width: auto;
  font-size: 14px;
  padding: 5px;
  line-height: 24px;
  height: 30px;
  padding: 0 20px;
}

ngb-rating {
  color: #247D8F;
  font-size: 18px;
}

.project-details-btn .btn {
  color: #707070;
}

.project-details-btn fa-icon {
  padding-right: 10px;
  position: relative;
  top: 4px;
}

.greenlight {
  background: #EBF5F7;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.ml100 {
  margin-left: 100px;
}

.tag-item {
  color: #fff;
  background: #167781;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.row-item {
  margin: 30px 0;
}

.auto-width-btn {
  width: auto !important;
  padding: 5px 20px !important;
}

.ml20 {
  margin-left: 20px;
}

.nobg-btn {
  color: #247d8f !important;
  border: 2px solid #247d8f !important;
  background-color: transparent !important;
}

.mb0 {
  margin-bottom: 0;
}

.mt30 {
  margin-top: 30px;
}




.rpp-stepper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}

.rpp-stepper .rpp-stepper-divider {
  align-self: center;
  height: 2px;
  background-color: #b8b4b4;
  position: relative;
  top: -10px;
}

.rpp-stepper .rpp-stepper-item {
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;
  padding: 0;
  width: max-content;
  cursor: pointer;
  transition: ease-in-out;
  display: grid;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  border: 2px solid #b8b4b4;
  font-size: 1.1rem;
}

.rpp-stepper .rpp-stepper-item:focus,
.rpp-stepper .rpp-stepper-item *:focus {
  outline: none;
}

.rpp-stepper .rpp-stepper-item.rpp-stepper-item-completed {
  background: #247D8F;
  border-color: #247D8F;
  color: #247d8f;
  cursor: default;
}

.rpp-stepper .rpp-stepper-item.rpp-stepper-item-completed .rpp-stepper-item-content {
  display: none;
}

.rpp-stepper .rpp-stepper-item.rpp-stepper-item-completed::after {
  align-self: center;
  content: "✓";
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  right: 12px;
}

.rpp-stepper .rpp-stepper-item.rpp-active {
  background: #332927;
  color: #ffffff;
  border-color: #332927;
}

.rpp-stepper .rpp-stepper-item.rpp-stepper-item-pending {
  color: #b8b4b4;
  background: #ffffff;
}

.rpp-stepper .rpp-stepper-item .rpp-stepper-item-content {
  text-align: center;
  align-self: center;
  position: absolute;
  right: 12px;
}

.step-title-custom {
  position: relative;
  bottom: -40px;
  z-index: 99;
  font-size: 14px;
  min-width: 100px;
  right: -12px;
}

.stepper-link {
  display: block;
  height: 60px;
  text-decoration: none !important;
}

.drop-down-title {
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 5px;
}

.drop-down-footer {
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid #e9ecef;
  margin-top: 5px;
}

.notification-title {
  color: #167781;
  font-size: 16px;
  margin: 0;
}

.blue {
  color: #247D8F;
}

.mh200 {
  min-height: 200px;
}

.calculations {
  margin: 5px 0 15px;
}

.no-border-background {
  border: 0 !important;
  background: transparent !important;
}

.dropdown-item {
  font-size: 14px;
  color: #247d8f;
}

.export-btn {
  background-color: transparent !important;
  border-color: #247D8F !important;
  color: #247D8F !important;
  margin: 0 10px;

}

.vertical-left-tabs.admin>.nav {
  width: 18%;
  margin-left: 30px;
  box-shadow: none;
  background: #247D8F;
  border-radius: 0;
  height: 93vh;
  position: relative;
  /* margin-right: 52px; */
}

.vertical-left-tabs.admin>.nav .nav-item:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #A7CBD2;
  padding: 5px 0;
}

.vertical-left-tabs.admin>.tab-content {
  width: 75%;
  padding: 30px 0;
  border-radius: 0;
  background: #F6F6F6;
  box-shadow: none;
}

.table-bordered th,
.table-bordered td {
  font-size: 14px;
}

.right-profile-menu .admin>.nav-pills .nav-link.active {
  color: #fff;
  background-color: #3A8A9A;
}

.signOut {
  background: transparent !important;
  color: #A7CBD2 !important;
  width: 100%;
  padding: 0 !important;
  outline: none !important;
}

.admin-table-container {
  overflow: auto;
  height: 85vh
}

.admin-block {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 7px 2px #00000014;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.dots {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #000;
  border-radius: 50%;
  margin-left: 10px;
}

.dots.red {
  background-color: #DC3545;
}

.dots.green {
  background-color: #21BA45;
}

.admin-icon {
  background: #D3E5E9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  margin-left: 10px;
  color: #247d8f;
}

.orange {
  color: #F2711C !important;
}

.light-orane {
  background: #FCE3D2 !important;
}

.blue {
  color: #2185D0 !important;
}

.purble {
  color: #6435C9 !important;
}

.light-purble {
  background: #E0D7F4 !important;
}

.green {
  color: #00B5AD !important;
}

.light-green {
  background-color: #CCF0EF !important;
}

.yellow {
  color: #FBBD08 !important;
}

.light-yellow {
  background-color: #FEF2CE !important;
}

.custom-modal22 {
  width: 400px;
  right: 45%;
  z-index: 999999999999999999;
  bottom: 20px;
}

.addition-box.custom-modal22 {
  width: 250px;
  left: 50px;
  right: auto;
  bottom: 100px;
}

.profile-navigator {
  font-size: 30px;
  margin-right: 15px;
}

.writerIcon {
  background: #247d8f;
  color: #fff;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
}

/* .horizontal-tabs .nav-pills .nav-link.active,
.horizontal-tabs .nav-pills .show>.nav-link {
  background-color: #247d8f;
} */

.horizontal-tabs .nav-pills .nav-link {
  padding: 10px 40px;
}

.repay-btn {
  margin-top: 10px;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.jobCount {
  margin-right: 10px;
  font-size: 24px;
  position: relative;
  top: 3px;
}

.upload-image-block {
  position: relative;
}

.upload-tool {
  position: absolute;
  top: 22px;
  left: -18px;
  background: #247D8F;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 5px solid #fff;
}

.image-block-top {
  display: inline-block;
  width: 245px;
  box-shadow: 0px 0px 9px 3px #1677811A;
  border-radius: 10px 10px 0 0;
  margin-top: 30px;
  padding: 10px;
}

.upload-profile-icon {
  color: #fff;
  font-size: 16px;
  line-height: 34px
}

.attach-image-last {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  opacity: 0;
}

.secondLevelTabs .nav.nav-pills {
  margin: 20px 100px 20px 0;
}

.nav-pills {
  background-color: #EBF5F7;
}

.nav-pills .nav-link {
  color: #707070;
  border-radius: 0;
}

.nav-pills .nav-link.active,
.firstLevelTabs>.nav-pills .show>.nav-link {
  background-color: transparent;
  color: #247D8F;
  border-bottom: 3px solid #247D8F;

}

.addion_btn.btn.very-normal-btn {
  position: absolute;
  left: 25px;
  width: 50px;
  top: 31px;
  height: 30px;
  background: #247D8F;
  color: #fff;
  line-height: 30px;
  padding: 0;
  border-radius: 8px;
  font-size: 14px;
}

/* loader style */
.cssload-container {
  width: 100%;
  height: 42px;
  text-align: center;
  min-height: 350px;
}

.cssload-speeding-wheel {
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 1325ms infinite linear;
  -o-animation: cssload-spin 1325ms infinite linear;
  -ms-animation: cssload-spin 1325ms infinite linear;
  -webkit-animation: cssload-spin 1325ms infinite linear;
  -moz-animation: cssload-spin 1325ms infinite linear;
}



@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 33%;
  right: 0;
  left: 0;
}

.admin-btn {
  font-size: 13px !important;
}

.admin-danger-btn {
  color: #DC3545 !important;
  border-color: #DC3545 !important;
  background-color: transparent !important;
}

.no-bg-btn {
  color: #247D8F !important;
  border-color: #247D8F !important;
  background-color: transparent !important;
}

.admin-dlg.custom-modal22 {
  top: 40%;
  bottom: auto;
}

.message-dlg.custom-modal22 {
  width: 600px;
  right: 35%;

}

.mb30 {
  margin-bottom: 30px;
}

.login-tabs .nav-tabs .nav-link {
  padding: 7px 50px;
  border-radius: 20px;
}

.login-tabs .nav-tabs .nav-link.active,
.login-tabs .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #247d8f;
}

.login-tabs .nav-tabs .nav-link:hover,
.login-tabs .nav-tabs .nav-link:focus {
  color: #fff;
  background-color: #247d8f;
}

.loader.loaderMaster {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: #00000030;
  z-index: 9999999999999999999;
}

.loader.loaderMaster .cssload-container {
  position: relative;
  top: 50%;
}

.open-btn {
  background: #167781 !important;
  color: #fff !important;
  padding: 3px 30px !important;
  margin: 5px 0 !important;
}

.dropdown-item.message {
  min-width: 250px;
  border-bottom: 3px solid #247d8fa1;
}

.dropdown-item.message.read {
  opacity: 0.5;
}

.btn .badge {
  position: relative;
  top: -20px;
  background-color: #f02849;
  color: #fff;
}

.message .owner-data h5 {
  font-size: 13px;
}

.message-brief {
  width: 200px;
  margin: 10px 0 5px 0;
  font-size: 13px;
  overflow: hidden
}

.noBorderNoShadow {
  border: 0 !important;
  box-shadow: none !important;
}

.adminProjects .horizontal-tabs .nav-pills .nav-link {
  padding: 10px 30px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu.messages-drop-down {
  max-height: 380px;
  overflow: auto;
}
.message-title {
  color: #333;
  font-size: 14px;
  margin: 15px 50px 15px 0;
}
@media(min-width:992px) {
  .sendMessageForCategory {
    margin-top: -60px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 0;
    box-shadow: 0px 0px 9px 3px #1677811A;
    border-radius: 10px;
    border: 0;
    top: 100%;
    text-align: right;
  }
}

/* responsive part */
@media(max-width:480px) {
  .navbar-light .navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
  }

  ul.menu {
    margin: auto;
    position: relative;
    z-index: 99;
    padding: 0;
    list-style: none;
    width: 380px;
    right: -6px;
    top: 10px;
  }

  ul.menu .list {
    font-size: 14px;
    border-bottom: 1px solid #fff;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    vertical-align: sub;
    background: rgb(208 174 49);
    clear: both;
  }

  .userIconImage {
    width: 40px;
    margin-left: 70px;
    border-radius: 50%;
  }

  .title-mobile {
    position: relative;
    top: 12px;
  }

  header.after-login-header .nav-link.active,
  header.after-login-header .nav-link:hover,
  header.after-login-header .nav-link:focus {
    border-bottom: 0;
    color: #fff;
  }

  /* ul.menu .list a {
    text-decoration: none;
    color: #fff;
    padding: 17px 0px 17px 45px;
    display: block;
    height: 100%;
    box-sizing: border-box;
} */
  ul.menu .list button,
  ul.menu .list a {
    text-align: right;
    font-size: 15px;
    border-radius: 0;
    border: 0;
    line-height: 40px;
    padding: 0 15px;
    background-color: transparent;
    color: #212529;
  }

  .fixed-header,
  header.after-login-header {
    padding: 10px 0;
    box-shadow: 0px 3px 10px #00000014;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 999999999;
  }

  .site-wraper {
    position: relative;
    top: 100px;
  }

  .vertical-left-tabs>.nav {
    width: 100%;
    margin-left: 0;
  }

  .vertical-left-tabs>.tab-content {
    width: 100%;
    padding: 30px 10px;
  }

  .mb70 {
    margin-bottom: 30px;
  }

  .p100,
  .p-50 {
    padding: 30px 0;
  }

  .start-edit-section {
    padding: 50px 0;
  }

  .copyright p {
    font-size: 13px;
    margin: 10px 0;
    background: #d0ae31;
    color: #212529;
    padding: 10px 0;
  }
  .ml100{margin-left: 10px;}
  .project-icon{font-size: 16px;margin-left: 5px;margin-top: 0;}
  .project-prop h6{font-size: 13px;}
  .LI45{line-height: 28px;}
  .greenlight{margin-top: 20px;padding: 5px;}
  .row-item{margin: 20px 0;}
  .secondLevelTabs .nav.nav-pills{margin: 20px 10px 20px 0;}
  .horizontal-tabs .nav-pills .nav-link{padding: 10px 8px;}
  .btn {font-size: 12px;}
  .writerIcon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
  .project-title,h6, .h6,.colored {font-size: 16px;}
  .add-project-container{padding: 10px 10px;}
  .reg-font{font-size: 13px;}
  .form-control{font-size: 12px;}
  .generalBtnStyle.btn-success{font-size: 13px;max-width: 100px;}
  .add-roject-btn.next .ng-fa-icon{margin-right: 15px;}
  .total-num {font-size: 18px;}
}
